<form name="distributor_form" class="css-form container-fluid" novalidate>
  <div class="row">
      <div class="row" style="height:24px;padding-top:0px;">
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine">Agency Name</b></label>
        </div>
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> Registration Number </b></label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" placeholder="Minimum 3 characters" name="agencyName" ng-minlength="3" ng-model="newDistributor.agencyName" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.agencyName.$touched && distributor_form.agencyName.$invalid">
              <span ng-show="distributor_form.agencyName.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
          
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="agencyNumber" ng-model="newDistributor.agencyNumber" required style="height:24px;padding-top:0px;">
            <div role="alert">
              <span style= "color:red"  ng-show="distributor_form.agencyNumber.$touched && distributor_form.agencyNumber.$invalid">
                <span ng-show="distributor_form.agencyNumber.$error.required">Feild is required .. !</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> Licence Number </b></label>
        </div>
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> DL Number </b></label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group"> 
            <input class="form-control form-controlAddDist" id="inputdefault" ng-minlength="10" type="text" name="authorisedDistributor" ng-model="newDistributor.authorisedDistributor" style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.authorisedDistributor.$touched && distributor_form.authorisedDistributor.$invalid">
              <span ng-show="distributor_form.authorisedDistributor.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="dlNumber" ng-model="newDistributor.dlNumber" style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.dlNumber.$touched && distributor_form.dlNumber.$invalid">
              <span ng-show="distributor_form.dlNumber.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> Contact Person <!--Owner Name --> </b></label>
        </div>
        <div class="col-md-6">
            <label for="inputdefault"><b class="addDistLine"> Contact Number </b></label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group"> 
            <input class="form-control form-controlAddDist" id="inputdefault"  placeholder="Minimum 3 characters" type="text" ng-minlength="3" name="ownerName" ng-model="newDistributor.ownerName" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.ownerName.$touched && distributor_form.ownerName.$invalid">
              <span ng-show="distributor_form.ownerName.$error.required">Feild is required .. !</span>
            </span>
          </div> 
        </div>
         
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" ng-minlength="10" MaxLength="10" name="contactNumber" ng-model="newDistributor.contactNumber" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.contactNumber.$touched && distributor_form.contactNumber.$invalid">
              <span ng-show="distributor_form.contactNumber.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> TIN </b></label>
        </div>
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> CST </b></label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group"> 
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" ng-minlength="12" name="TIN" ng-model="newDistributor.TIN" MaxLength="12" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.TIN.$touched && distributor_form.TIN.$invalid">
              <span ng-show="distributor_form.TIN.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" ng-minlength="12" name="CST" ng-model="newDistributor.CST" MaxLength="12" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.CST.$touched && distributor_form.CST.$invalid">
              <span ng-show="distributor_form.CST.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="inputdefault" style="line-height: 1;"><b class="addDistLine">VAT</b></label>
        </div>
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine">Product Pre Expiration Return period</b></label>   
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group"> 
            <input class="form-control form-controlAddDist" id="inputdefault" type="text" ng-minlength="12" MaxLength="12"  name="vatNumber" ng-model="newDistributor.vatNumber" required style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.vatNumber.$touched && distributor_form.vatNumber.$invalid">
              <span ng-show="distributor_form.vatNumber.$error.required">Feild is required .. !</span>
            </span>
          </div> 
        </div>
          
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control form-controlAddDist" placeholder="In Months" id="inputdefault" MaxLength="2" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" type="text" name="expiryDuration" ng-model="newDistributor.expiryDuration" style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.expiryDuration.$touched && distributor_form.expiryDuration.$invalid">
              <span ng-show="distributor_form.expiryDuration.$error.required">Feild is required .. !</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> Credit Period </b></label>
        </div>
        <div class="col-md-6">
          <label for="inputdefault"><b class="addDistLine"> Other Details</b></label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">   
            <input class="form-control" placeholder="In Days" id="inputdefault" type="number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="creditPeriod" min="0" max="365" ng-model="newDistributor.creditPeriod" style="height:24px;padding-top:0px;">
            <span style= "color:red" ng-show="distributor_form.creditPeriod.$touched && distributor_form.creditPeriod.$invalid">
              <span ng-show="distributor_form.creditPeriod.$error.required">Feild is required .. !</span>
              <span class="error" ng-show="distributor_form.creditPeriod.$error.max">
            Maximum 365 days !</span>
            </span>
          </div>
        </div>
          
        <div class="col-md-6">
          <div class="form-group">
            <textarea rows="10" cols="20" ng-model="newDistributor.otherDetails" name="otherDetails" style="border-radius:10px; height:50px; padding-top:0px;"class="form-control">
              <span style= "color:red" ng-show="distributor_form.streetAddress.$touched && distributor_form.otherDetails.$invalid">
                <span ng-show="distributor_form.otherDetails.$error.required">Feild is required .. !</span>
              </span>           
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <center>
          <button type="button"
              class="btn btn-info" 
              ng-disabled="distributor_form.$invalid"
              ng-click="addNewDistributor()">
            Add Distributor
          </button>
        </center>
      </div> 
  </div>
</form>