<div class="container-fluid">
  <div class="row-fluid" ng-init="getDistributors()">
    <div class="table-header">
      <div class="row">
        <div class="col-md-3">
          <form class="form-inline" ng-model="limit" ng-submit="search(str);" >
            <input class="form-control" type="text" ng-model="str" ng-change="changeSearch()" 
                placeholder="Search"
                id="search"/>
                <span class="glyphicon glyphicon-search pointer"   
                style="color:silver;" ng-click="search(str)"></span>
          </form>
        </div>
        <div class="container-fluid ng-scope" style="padding-top: 1px;">   
          <input type="button" class="btn btn-info add-button1 pull-right " value="+" ng-click="add()"/>
        </div>
      </div>
    </div> 

    <div ng-if="currentView == 'display'">
      <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed; text-overflow:ellipsis;">
        <thead>
          <th style="width:2%">#</th>
          <th>Agency Name</th>
          <th>Registration<br> No</th>
          <th>Licence<br>No</th>
          <th>DL No.</th>
          <th>Contact<br>Person</th>
          <th>Contact No</th>
          <th>TIN<br><span class="control-label mplabel"></span></th>
          <th>CST</th>
          <th>VAT</th> 
          <th style="width:13%;">Product Pre Expiration<br> Return period <span class="control-label mplabel">(Months)</span></th>
          <th>Credit Period <br><span class="control-label mplabel">(Days)</span></th>   
          <th style="width:8%">  </th>                                                
          <th style="width:2%">  </th>
          <th style="width:2%">  </th>
        </thead>
          
        <tbody>
          <tr ng-repeat="(distributorKey,distributorValue) in distributors | orderObjectBy : 'distributorValue.id' : true">
            <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))" style="width:2%"> </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.agencyName}}</span>
              <input type="text" class="textWidth" ng-if ="(editRecordId == distributorValue.id)" ng-model="distributorValue.agencyName"/>
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.agencyNumber}}</span>
              <input type="text" class="textWidth" ng-if ="(editRecordId == distributorValue.id)" ng-model="distributorValue.agencyNumber"/>
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)"> {{distributorValue.authorisedDistributor}}</span>
              <input type="text"  class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.authorisedDistributor" />
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.dlNumber}} </span>
              <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.dlNumber" />
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.ownerName}}</span>
                <input type="text" class="textWidth" ng-if ="(editRecordId == distributorValue.id)" ng-model="distributorValue.ownerName"/>
            </td>
            <td>
                <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.contactNumber}} </span>
                <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.contactNumber" />
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.TIN}} </span>
              <input type="text"class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.TIN" />
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.CST}} </span>
              <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.CST" />
            </td>
            <td>
              <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.vatNumber}} </span>
              <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.vatNumber" />
            </td>
            <td>
              <center>
                <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.expiryDuration}} </span>
              </center>
                <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.expiryDuration" />
            </td>
            <td>
              <center>
                <span ng-if="!(editRecordId == distributorValue.id)">{{distributorValue.creditPeriod}} </span>
              </center>
                <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.creditPeriod" />
            </td>
            <td style="width:8%">
              <span ng-if="!(editRecordId == distributorValue.id)">
              <p data-toggle="tooltip" title="{{distributorValue.otherDetails}}" style="color:green;">Other Details</p> </span>
              <input type="text" class="textWidth" ng-if="(editRecordId == distributorValue.id)" ng-model="distributorValue.otherDetails" />
            </td>   
            <td ng-if="!(editRecordId == distributorValue.id)" style="width:2%">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:blue" ng-click="editDistributor(distributorValue.id)"> 
              </span>
            </td> 
            <td ng-if="(editRecordId == distributorValue.id)" style="width:2%">
              <span class="glyphicon glyphicon-saved" aria-hidden="true" style="color:green" ng-click="changeEditMode(distributorValue.id)"></span>
            </td>
            <td style="width:2%"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:red" ng-click="deleteDistributor(distributorValue.id)"></span>
            </td>                   
          </tr>
        </tbody>
      </table>
    </div>
  </div> 

    <!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getDistributors()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
    <!-- End pagination -->
</div> <!-- container fluid -->