<form name="dbtr_form" class="css-form container-fluid" novalidate >
  <div class="row" >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Agency Name</b></label>
          <input class="form-control" ng-minlength="3" type="text" name="agencyName" ng-model="tempData.agencyName" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.agencyName.$touched && dbtr_form.agencyName.$invalid">
            <span ng-show="dbtr_form.agencyName.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Registration Number</b></label>
          <input class="form-control" type="text" ng-minlength="3" name="agencyNumber" ng-model="tempData.agencyNumber" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.agencyNumber.$touched && dbtr_form.agencyNumber.$invalid">
            <span ng-show="dbtr_form.agencyNumber.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>
    <!-- end ownerName-->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Licence Number</b></label>
          <input class="form-control" type="text" ng-minlength="3" name="authorisedDistributor" ng-model="tempData.authorisedDistributor" style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.authorisedDistributor.$touched && dbtr_form.authorisedDistributor.$invalid">
            <span ng-show="dbtr_form.authorisedDistributor.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>DL Number</b></label>
          <input class="form-control" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="dlNumber" ng-model="tempData.dlNumber" style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.dlNumber.$touched && dbtr_form.dlNumber.$invalid">
            <span ng-show="dbtr_form.dlNumber.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Contact Person</b></label>
          <input class="form-control" type="text" ng-minlength="3" name="ownerName" ng-model="tempData.ownerName" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.ownerName.$touched && dbtr_form.ownerName.$invalid">
            <span ng-show="dbtr_form.ownerName.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Contact Number</b></label>
          <input class="form-control" type="text" ng-minlength="3" MaxLength="10" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="contactNumber" ng-model="tempData.contactNumber" required style="height:24px;padding-top:0px;">
          <span style="color:red" ng-show="dbtr_form.contactNumber.$touched && dbtr_form.contactNumber.$invalid">
            <span ng-show="dbtr_form.contactNumber.$error.required"> Field is required..!</span>
          </span>
        </div>
      </div>
    </div>
    <!-- end TIN-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>TIN</b></label>
          <input class="form-control" type="text" name="TIN" ng-minlength="12" MaxLength="12" ng-model="tempData.TIN" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.TIN.$touched && dbtr_form.TIN.$invalid">
            <span ng-show="dbtr_form.TIN.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>CST</b></label>
          <input class="form-control" type="text" ng-minlength="12" MaxLength="12" name="CST" ng-model="tempData.CST" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.CST.$touched && dbtr_form.CST.$invalid">
            <span ng-show="dbtr_form.CST.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>
  <!-- end vatNumber-->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>VAT</b></label>
          <input class="form-control" ng-minlength="12" MaxLength="12" type="text" name="vatNumber" ng-model="tempData.vatNumber" required style="height:24px;padding-top:0px;">
          <span style= "color:red" ng-show="dbtr_form.vatNumber.$touched && dbtr_form.vatNumber.$invalid">
            <span ng-show="dbtr_form.vatNumber.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Product Pre Expiration Return period (Months)</b></label>
          <input class="form-control" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="expiryDuration" MaxLength="2" ng-model="tempData.expiryDuration" style="height:24px;padding-top:0px;">
          <span style= "color:red"  ng-show="dbtr_form.expiryDuration.$touched && dbtr_form.expiryDuration.$invalid">
            <span ng-show="dbtr_form.expiryDuration.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>
  <!-- end creditPeriod-->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Credit Period (Days)</b></label>
          <input class="form-control" type="number" name="creditPeriod" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" min="0" max="365" ng-model="tempData.creditPeriod" style="height:24px;padding-top:0px;">
          <span style= "color:red"  ng-show="dbtr_form.creditPeriod.$touched && dbtr_form.creditPeriod.$invalid">
            <span ng-show="dbtr_form.creditPeriod.$error.required">Feild is required .. !</span>
            <span class="error" ng-show="dbtr_form.creditPeriod.$error.max">
              Maximum 365 days !
            </span>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Other Details</b></label>
          <input class="form-control" type="text"  name="otherDetails" ng-model="tempData.otherDetails" style="height:24px;padding-top:0px;">
          <span style= "color:red"  ng-show="dbtr_form.otherDetails.$touched && dbtr_form.otherDetails.$invalid">
            <span ng-show="dbtr_form.otherDetails.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>
    <!-- end creditLimit-->
    <center>
      <button type="button" class="btn btn-info" ng-click="saveDistributor()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Update
      </button>
    </center>
  </div>
</form>