<header></header>
  <!--Used for rendering admin sub states -->
    <div ui-view>
    	<div class="container  sitemap" style="padding-top:30px;width:50%">
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Products</b></label> </h4>
		    	</div>
		    	<div class="col-sm-6">
		    		<h4><a href=" #/admin/products" class="btn btn-default btnDefault btnDefault btnDefault" style="background-color:#D8D8D8; color:black;">Product Details</a></h4>
		    	</div>
	    	</div>
	    	<center><hr></center>
			<div class="row">
		    	<div class="col-sm-6"> 
		    		<h4> <label for="inputdefault"><b>Distributor</b></label> </h4>
		    	</div>
		    	<div class="col-sm-6">
		    		<h4><a href="#/admin/distributors" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Distributor Details</a></h4> 
		    	</div>
	    	</div>
	    	<center><hr></center>
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Bank</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		 <h4><a href="#/admin/bank" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Bank Details</a></h4>
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/addBank" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Add Bank Details</a></h4>
		    	</div>
	    	</div>
	    	<center><hr></center>
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>User</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		 <h4><a href="#/admin/user" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">User Details</a></h4> 
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/userAdd" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Add User Details</a></h4> 
		    	</div>
	    	</div>
	    	<center><hr></center>
			<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Return</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/return" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Return Details</a></h4> 
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/return/returnAdd/" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Add Return Details</a></h4>
		    	</div>
	    	</div>
	    	<center><hr></center>
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Customer</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		  <h4><a href="#/admin/customer" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Customer Details</a></h4> 
		    	</div>
		    	<div class="col-sm-3">
		    		 <h4><a href="#/admin/userAdd" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Add Customer Details</a></h4> 
		    	</div>
	    	</div>
	    	<center><hr></center>
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Purchase Order</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/purchaseOrder" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Purchase Order Details</a></h4> 
		    	</div>
		    	<div class="col-sm-3">
		    		 <h4><a href="#/admin/purchaseOrder/addPo" class="btn btn-default btnDefault btnDefault" style="background-color:#D8D8D8;">Add Purchase Order</a></h4> 
		    	</div>
	    	</div>
	    	<center><hr></center>
	    	<div class="row">
		    	<div class="col-sm-6">
		    		<h4> <label for="inputdefault"><b>Purchase Invoice</b></label> </h4>
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/purchaseInvoice" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Purchase Invoice Details</a></h4> 
		    	</div>
		    	<div class="col-sm-3">
		    		<h4><a href="#/admin/purchaseInvoice/addPi" class="btn btn-default btnDefault btnDefault" style="background-color:#F8F8F8 ; color:black;">Add Purchase Invoice</a></h4>
		    	</div>
	    	</div>
	    	<center><hr></center>
	    </div> <!-- main row -->
    </div>
</body>
</html>