<div class="container-fluid" ng-init="getAlert()">
	<form name="alert_form" novalidate class="css-form container-fluid">
		<h4 class="mptitle"><center>Alerts</center></h4><br>
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-6">
					Unpaid Bill Payment
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertBillingPaymentStatusUnpaid')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBillingPaymentStatusUnpaid','alertBillingPaymentStatusUnpaidPeriodDays',1)"
						ng-class="{'btn-info':alert.alertBillingPaymentStatusUnpaid,'btn-default':alert.alertBillingPaymentStatusUnpaid}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBillingPaymentStatusUnpaid','alertBillingPaymentStatusUnpaidPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertBillingPaymentStatusUnpaid,'btn-default':alert.alertBillingPaymentStatusUnpaid}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
			</div>

			<div class="col-md-6">
			 	<div class="col-md-6">
					Partially Paid Payment
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertBillingPaymentStatusPartialPaid')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBillingPaymentStatusPartialPaid','alertBillingPaymentStatusPartialPaidPeriodDays',1)"
						ng-class="{'btn-info':alert.alertBillingPaymentStatusPartialPaid,'btn-default':alert.alertBillingPaymentStatusPartialPaid}"

						>ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBillingPaymentStatusPartialPaid','alertBillingPaymentStatusPartialPaidPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertBillingPaymentStatusPartialPaid,'btn-default':alert.alertBillingPaymentStatusPartialPaidPeriodDays}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1"></div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="col-md-6">	
					Branch Registration Validity Period 	
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertBranchRegistrationValidity')" style="float:right;"> 
						<button class="btn btn-sm" 
							ng-click="addAlert('alertBranchRegistrationValidity','alertBranchRegistrationValidityPeriodDays',1)"
							ng-class="{'btn-info':alert.alertBranchRegistrationValidity,'btn-default':alert.alertBranchRegistrationValidity}">ON</button>
							<button class="btn btn-sm" 
							ng-click="addAlert('alertBranchRegistrationValidity','alertBranchRegistrationValidityPeriodDays',0)"
							ng-class="{'btn-info':!alert.alertBranchRegistrationValidity,'btn-default':alert.alertBranchRegistrationValidity}">OFF</button>
					</div>
				</div>
				 <div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
		 	</div>

		 	<div class="col-md-6">
			 	<div class="col-md-6">	
					Branch ShopAct Validity Period
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertBranchShopActValidity')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBranchShopActValidity','alertBranchShopActValidityPeriodDays',1)"
						ng-class="{'btn-info':alert.alertBranchShopActValidity,'btn-default':alert.alertBranchShopActValidity}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertBranchShopActValidity','alertBranchShopActValidityPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertBranchShopActValidity,'btn-default':alert.alertBranchShopActValidity}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1"></div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					Exceed Customer credit limit
				</div>
				<div class="col-md-5">
					  <div class="btn-group" ng-click="toggleSetting('alertCustomerCreditLimitExceed')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertCustomerCreditLimitExceed','alertCustomerCreditLimitExceedPeriodDays',1)"
						ng-class="{'btn-info':alert.alertCustomerCreditLimitExceed,'btn-default':alert.alertCustomerCreditLimitExceed}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertCustomerCreditLimitExceed','alertCustomerCreditLimitExceedPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertCustomerCreditLimitExceed,'btn-default':alert.alertCustomerCreditLimitExceed}">OFF</button>
					  </div>
			 	</div>
			 	<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
		 	</div>

		 	<div class="col-md-6">
			 	<div class="col-md-6">		
					Customer Birthday Alert
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertCustomerBirthday')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertCustomerBirthday','alertCustomerBirthdayPeriodDays',1)"
						ng-class="{'btn-info':alert.alertCustomerBirthday,'btn-default':alert.alertCustomerBirthday}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertCustomerBirthday','alertCustomerBirthdayPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertCustomerBirthday,'btn-default':alert.alertCustomerBirthday}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1"></div>
		 	</div>
		</div> 	
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					Exceed Distributor credit period
				</div>
				<div class="col-md-5">
				  	<div class="btn-group" ng-click="toggleSetting('alertDistributorCreditPeriodExceed')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertDistributorCreditPeriodExceed','alertDistributorCreditPeriodExceedPeriodDays',1)"
						ng-class="{'btn-info':alert.alertDistributorCreditPeriodExceed,'btn-default':alert.alertDistributorCreditPeriodExceed}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertDistributorCreditPeriodExceed','alertDistributorCreditPeriodExceedPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertDistributorCreditPeriodExceed,'btn-default':alert.alertDistributorCreditPeriodExceed}">OFF</button>
				  	</div>
		 		</div>
		 		<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
			</div>

			<div class="col-md-6">
				<div class="col-md-6">
					Unpaid Invoice Alerts
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertInvoicePaymentStatusUnpaid')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertInvoicePaymentStatusUnpaid','alertInvoicePaymentStatusUnpaidPeriodDays',1)"
						ng-class="{'btn-info':alert.alertInvoicePaymentStatusUnpaid,'btn-default':alert.alertInvoicePaymentStatusUnpaid}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertInvoicePaymentStatusUnpaid','alertInvoicePaymentStatusUnpaidPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertInvoicePaymentStatusUnpaid,'btn-default':alert.alertInvoicePaymentStatusUnpaid}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1"></div>
			</div>
		</div>	
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					Partially paid invoice alerts
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertInvoicePaymentStatusPartialPaid')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertInvoicePaymentStatusPartialPaid','alertInvoicePaymentStatusPartialPaidPeriodDays',1)"
						ng-class="{'btn-info':alert.alertInvoicePaymentStatusPartialPaid,'btn-default':alert.alertInvoicePaymentStatusPartialPaid}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertInvoicePaymentStatusPartialPaid','alertInvoicePaymentStatusPartialPaidPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertInvoicePaymentStatusPartialPaid,'btn-default':alert.alertInvoicePaymentStatusPartialPaid}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
			</div>

			<div class="col-md-6">
				<div class="col-md-6">
					Purchase Order return alerts	
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertOrderReturn')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertOrderReturn','alertOrderReturnPeriodDays',1)"
						ng-class="{'btn-info':alert.alertOrderReturn,'btn-default':alert.alertOrderReturn}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertOrderReturn','alertOrderReturnPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertOrderReturn,'btn-default':alert.alertOrderReturn}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1"></div>
		 	</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					Sales Return alerts
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertSalesReturn')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertSalesReturn','alertSalesReturnPeriodDays',1)"
						ng-class="{'btn-info':alert.alertSalesReturn,'btn-default':alert.alertSalesReturn}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertSalesReturn','alertSalesReturnPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertSalesReturn,'btn-default':alert.alertSalesReturn}">OFF</button>
					</div>
			 	</div>
			 	<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
			</div>

			<div class="col-md-6">
				<div class="col-md-6">
					Get alerts of expiry of stock	
				</div>
				<div class="col-md-5">
					  <div class="btn-group" ng-click="toggleSetting('alertStockProductExpires')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductExpires','alertStockProductExpiresPeriodDays',1)"
						ng-class="{'btn-info':alert.alertStockProductExpires,'btn-default':alert.alertStockProductExpires}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductExpires','alertStockProductExpiresPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertStockProductExpires,'btn-default':alert.alertStockProductExpires}">OFF</button>
					  </div>
			 	</div>
			 	<div class="col-md-1"></div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					Products out of stock alerts
				</div>
				<div class="col-md-5">
				  	<div class="btn-group" ng-click="toggleSetting('alertStockProductOutOfStock')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductOutOfStock','alertStockProductOutOfStockPeriodDays',1)"
						ng-class="{'btn-info':alert.alertStockProductOutOfStock,'btn-default':alert.alertStockProductOutOfStock}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductOutOfStock','alertStockProductOutOfStockPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertStockProductOutOfStock,'btn-default':alert.alertStockProductOutOfStock}">OFF</button>
				  	</div>
		 		</div>
		 		<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
		 	</div>	

			<div class="col-md-6">
				<div class="col-md-6">
					Low quantity of stock
				</div>
				<div class="col-md-5">
					<div class="btn-group" ng-click="toggleSetting('alertStockProductLowQuantity')" style="float:right;"> 
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductLowQuantity','alertStockProductLowQuantityPeriodDays',1)"
						ng-class="{'btn-info':alert.alertStockProductLowQuantity,'btn-default':alert.alertStockProductLowQuantity}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertStockProductLowQuantity','alertStockProductLowQuantityPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertStockProductLowQuantity,'btn-default':alert.alertStockProductLowQuantity}">OFF</button>
					  </div>
			 	</div>
			 	<div class="col-md-1"></div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
			 	<div class="col-md-6">
					User Birthday alerts
				</div>
				<div class="col-md-5">
				  	<div class="btn-group" ng-click="toggleSetting('alertUserBirthday')" style="float:right;">
						<button class="btn btn-sm" 
						ng-click="addAlert('alertUserBirthday','alertUserBirthdayPeriodDays',1)"
						ng-class="{'btn-info':alert.alertUserBirthday,'btn-default':alert.alertUserBirthday}">ON</button>
						<button class="btn btn-sm" 
						ng-click="addAlert('alertUserBirthday','alertUserBirthdayPeriodDays',0)"
						ng-class="{'btn-info':!alert.alertUserBirthday,'btn-default':alert.alertUserBirthday}">OFF</button>
				  	</div>
		 		</div>
		 		<div class="col-md-1" style="border-right:1px #CCC solid;height:30px;"></div>
			</div>
		</div>
	</form>
</div>