<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<input class="form-control" 
					id="alert" 
					placeholder="No of Days" 
					type="text" 
					value="{{alert[tempData.value]}}"
					ng-model="tempData.newData"
					min="0" max="365"
					style="width:200px">
		</div>			
		<div class="col-md-6">
			<input type="button" class="btn btn-info" ng-click="setValue(1)" value="Set Alert" style="margin-left:50px;"/> 
		</div>
	</div>
</div>		