<form name="pass_form" novalidate class="container-fluid">
      <div class="form-group">
            <label for="inputlg"><b>Current Password</b></label>
            <input class="form-control" type=text name="userName" ng-model="newAdmin.current" style="height:24px;padding-top:0px;" required>
      </div>
      <div class="form-group">
            <label for="inputlg"><b>New Password</b></label>
            <input class="form-control" type=password name="password" ng-model="newAdmin.newField1" style="height:24px;padding-top:0px;" required>
      </div>
 	<div class="form-group">
            <label for="inputlg"><b>Confirm Password</b></label>
            <input class="form-control" type=password name="password" ng-model="newAdmin.newField2" style="height:24px;padding-top:0px;" required>
      </div>

      <button type="button" ng-disabled="pass_form.$invalid" class="btn btn-info" ng-click="updatePassword()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Change password
      </button>
</form>