<header style="position:fixed; width:100%; padding-bottom: 90px;"></header>
<div class="container-fluid" style="padding-top:90px;">
    <h4 class="mptitle"> USER DETAILS </h4>
    <div class="form-container">
        <div class="container-fluid">
            <form class="form-horizontal" role="form">
                <div class="row">                
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Name : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.name}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                              
                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Street Address : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.streetAddress}},{{user.city}},{{user.district}},
                                    </div>
                                </label>
                            </h5>

                            <h5>
                                <span class="control-label col-md-3 mplabel">  </span>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.state}}-{{user.pinCode}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Email : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.emailId}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Mobile Number : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.mobileNumber}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Adhar Number : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.aadharNumber}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                                    
                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel">PAN Number : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.panNumber}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel"> Role : </span>
                            <h5>
                                <label class="col-sm-9">
                                    <div class="col-md-6">
                                        {{user.role}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <center>
      <h4>  <a href="#/home/addBill">Back</a>   </h4> 
    </center>
</div>