<h1> report </h1>
<select ng-change="report()">
	<option ng-repeat="value in tableName"> {{ value }}</option>
</select>

<div>
<input type="button" value="Name" >
<input type="button" value="Manufacturar" >
<input type="button" value="Formula " >
<input type="button" value="Dosage" >
<input type="button" value="Quantity" >
<input type="button" value="ExpiryDate" >
</div>