<h1> report </h1>
{{ tableName }}
<div>
<input type="button" value="Name" >
<input type="button" value="Manufacturar" >
<input type="button" value="Formula " >
<input type="button" value="Dosage" >
<input type="button" value="Quantity" >
<input type="button" value="ExpiryDate" >
</div>