<div class="container-fluid">
  <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right" href="#/admin/stock" role="button"></a>
    <div class="row-fluid">
      <h4 class="mptitle">Add Stock Details</h4>
      <div class="form-container">
        <form name="stock_form" id="stock_form" class="css-form" novalidate  ng-init="setFormScope(this)">
            <table class="table sticky" ng-init="invoiceId()">
                <thead>
                    <tr> 
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Invoice No</th>
                      <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="value in data.addDb track by $index"> 
                    <td>{{value.product}} {{value.dosage}}{{value.productLocation}}</td>
                    <td>{{value.quantity}}</td>
                    <td ng-if="value.invoiceId==1">Dummy</td>
                    <td ng-if="value.invoiceId!=1">{{value.invoiceId}}</td>
                    <td>
                      <div class="glyphicon glyphicon-remove" 
                      style="color: red;" 
                      ng-click="data.addDb.splice($index,1)"> </div>
                    </td>
                  </tr>
                  <tr> 
                      <td>
                          <angucomplete id="productId"
                                        placeholder="Select Product"
                                        selectedobject="data.temp.product"
                                        url="/autocomplete/productByName/"
                                        datafield="data"
                                        titlefield="name,dosage,productLocation"
                                        minlength="3"
                                        inputclass="form-control form-control-small "> 
                          </angucomplete>
                      </td>
                      <td><input class="form-control" 
                      type="text" placeholder="Enter Quantity" 
                      name="quantity"
                      required
                      ng-model="data.temp.quantity"></td>
                      <td>
                          <select class="form-control" 
                            ng-model="data.temp.invoiceId"
                            required
                            name="invoiceId">
                            <option value="1">dummy stock</option>
                            <option ng-repeat="value in data.invoiceId" ng-if="value!=1">{{value}}</option>
                          </select>
                      </td>
                      <td>
                      <div class="glyphicon glyphicon-plus" style="color: red;" 
                      ng-click="tempAdd(data.temp)"> </div>
                      </td>
                  </tr>
               </tbody>
            </table>
        </form>
            <center><button class="btn btn-info " ng-click="addDb()" type="submit" >submit</button></center>
      </div>    
    </div>
</div>