<form name="cust_form" class="css-form container-fluid" novalidate>
  <div class="row" id="scrollbar">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>First Name</b></label>
          <input class="form-control" ng-minlength="3" type=text name="firstName" ng-model="data.firstName" required>
          <span style= "color:red" ng-show="cust_form.firstName.$dirty && cust_form.firstName.$invalid">
            <span ng-show="cust_form.firstName.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Middle Name</b></label>
          <input class="form-control" ng-minlength="3" type=text name="middleName" ng-model="data.middleName" required>
          <span style= "color:red" ng-show="cust_form.middleName.$dirty && cust_form.middleName.$invalid">
            <span ng-show="cust_form.middleName.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Last Name</b></label>
          <input class="form-control" ng-minlength="3" type=text name="lastName" ng-model="data.lastName" required>
          <span style= "color:red" ng-show="cust_form.lastName.$dirty && cust_form.lastName.$invalid">
            <span ng-show="cust_form.lastName.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>City</b></label>
          <input class="form-control"  ng-minlength="3" type=text name="city" ng-model="data.city" required>
          <span style= "color:red" ng-show="cust_form.city.$dirty && cust_form.city.$invalid">
            <span ng-show="cust_form.city.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>District</b></label>
          <input class="form-control" ng-minlength="3" type=text name="district" ng-model="data.district" required>
          <span style= "color:red" ng-show="cust_form.district.$dirty && cust_form.district.$invalid">
            <span ng-show="cust_form.district.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>State</b></label>
          <input class="form-control" ng-minlength="3" type=text name="state" ng-model="data.state" required>
          <span style= "color:red" ng-show="cust_form.state.$dirty && cust_form.state.$invalid">
            <span ng-show="cust_form.state.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Country</b></label>
          <input class="form-control" ng-minlength="3" type=text name="country" ng-model="data.country" required>
          <span style= "color:red" ng-show="cust_form.country.$dirty && cust_form.country.$invalid">
            <span ng-show="cust_form.country.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Street Address</b></label>
          <input class="form-control" ng-minlength="10" type="text" name="streetAddress" ng-model="data.streetAddress" required>
          <span style= "color:red" ng-show="cust_form.streetAddress.$dirty && cust_form.streetAddress.$invalid">
            <span ng-show="cust_form.streetAddress.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>PinCode</b></label>
          <input class="form-control" type="text" ng-minlength="6" MaxLength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="pinCode" ng-model="data.pinCode" required>
          <span style= "color:red"  ng-show="cust_form.pinCode.$dirty && cust_form.pinCode.$invalid">
            <span ng-show="cust_form.pinCode.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>EmailId</b></label>
          <input class="form-control" type="email" name="emailId" ng-model="data.emailId" required>
          <span style="color:red" ng-show="cust_form.emailId.$dirty && cust_form.emailId.$invalid">
            <span ng-show="cust_form.emailId.$error.required"> Field is required..!
            </span>
            <span class="error" ng-show="cust_form.emailId.$error.email">
              Not valid email!</span>
            </span>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>DOB</b></label>
          <input ui-date-format="dd-mm-yy" ui-date="dateOptions" type="text" class="form-control" name="dob" ng-model="data.dob" value="{{data.dob}}" required>    
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Contact Number</b></label>
          <input class="form-control" ng-minlength="10" MaxLength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'type="text"  name="contactNumber" ng-model="data.contactNumber" required>
          <span style= "color:red"  ng-show="cust_form.contactNumber.$dirty && cust_form.contactNumber.$invalid">
            <span ng-show="cust_form.contactNumber.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Credit Limit (in Amt)</b></label>
          <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'type="text" name="creditLimit" ng-model="data.creditLimit" required>
          <span style= "color:red"  ng-show="cust_form.creditLimit.$dirty && cust_form.creditLimit.$invalid">
            <span ng-show="cust_form.creditLimit.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Customer Type</b></label>
          <ui-select ng-model="data.customerType" class="selectType" ng-click="billValue.paymentType" theme="selectize" ng-disabled="disabled" style="width: 170px; text-transform:capitalize;" required>
          <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
          <ui-select-choices repeat="type in custType | filter: $select.search">
          <span ng-bind-html="type | highlight: $select.search"></span>
          </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" ng-click="editSave()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Update
    </button>
  </div>
</form>