<div class="container-fluid">
  <div class="row-fluid" ng-init="showAll()">
    <div class="table-header">
      <div class="row">
        <div class="col-md-3">
          <form class="form-inline" ng-model="limit" ng-submit="search(str);" >
            <input class="form-control" 
                  type="text"
                  ng-model="str" 
                  ng-change="changeSearch(str)" 
                  placeholder="Search"/>
                  <span class="glyphicon glyphicon-search pointer"   
                  style="color:silver;"
                  ng-click="search(str)"></span>
          </form>
        </div>
        <div class="container-fluid ng-scope" style="padding-top: 1px;">
          <input class="btn btn-info add-button1 pull-right " type="button" ng-click="showAdd()" value="+">
        </div> 
      </div>
    </div>
    
    <div>
      <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
        <thead>
          <tr>
            <th style="width:2%">#</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Invoice No</th>
		      </tr>          
        </thead>
        <tbody>
          <tr ng-repeat="value in data.showAll | orderObjectBy : 'id' : true">
            <td style="width:2%" ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
            <td>{{value.productName}} {{value.product.dosage}} {{value.product.productLocation}}</td>
            <td>{{value.quantity}}</td>
            <td ng-if="value.invoiceId==1">Dummy</td>
            <td ng-if="value.invoiceId>1">{{value.invoiceId}}</td>
		      </tr>
        </tbody>
      </table>
    </div>
  </div>    

  <!-- Start pagination Code -->
  <div class="container-fluid">
    <div class="row" ng-if="data.pagination.perPage < data.pagination.total || !(min(paginate) > data.pagination.total)">
      <div class="pull-left">
         Showing
         <ui-select ng-model="data.pagination.perPage" id="pagi" theme="selectize" ng-change="showAll()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{data.pagination.total}}
      </div>
      <div class="btn-toolbar pull-right" role="toolbar" ng-if="data.pagination.perPage<data.pagination.total">
        <div class="btn-group" role="group">
          <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:data.pagination.lastPage">
            {{pageNo+1}}
            </button>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!(data.pagination.perPage <  data.pagination.total || !(min(paginate) > data.pagination.total))">
    Showing {{data.pagination.total}} records
    </div>
  </div>
  <!-- End pagination -->
</div>