 <datepicker date-format="yyyy-MM-dd" ng-model="date" selector="form-control">
                                              <div class="input-group">
                                                  <input placeholder="Choose a date"/>
                                                  <span class="input-group-addon" style="cursor: pointer">
                                                  <!-- <i class="fa fa-lg fa-calendar"></i> --></span>
                                              </div>
                                            </datepicker>