<div style="background-color:black; color: white; padding: 5px 10px; ">
    <span style="font-size: 14px"><b>Medi Plus | </b></span>
    <span style="font-size: 14px;">
        <b> {{CurrentDate | date:'dd/MM/yyyy'}} {{CurrentDate | date:'hh:mm:ss a'}}</b>
    </span>
    
    <div style="float:right;" style="border:1px #FFF solid;" ng-if="headerModule.user.role!=undefined && headerModule.user.role!='undefined'">
            <span dropdown on-toggle="toggled(open)">
                <span class="dropdown-toggle" data-toggle="dropdown" href id="A1" dropdown-toggle style="cursor:pointer;"><b>{{user.name}}</b>
                <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                    <li><a href ng-click="alertSet()">Alert Settings</a></li>
                    <li><a href="#/profileInfo">Profile</a></li>
                    <li ng-controller="admin"><a href ng-click="changePassword()">Change Password</a></li>
                    <li ng-controller="admin"><a href ng-click="validateKey()">Register</a></li>
                    <li><a href ng-click="logout()">Logout</a></li>
                </ul>
            </span>
    </div>
</div>

<nav class="navbar navbar-default" ng-if="headerModule.user.role!=undefined && headerModule.user.role!='undefined'">

    <div class="navbar-header">

        <div class="navbar-brand" href="#/home">{{user.ShopName}}

          <span style="font-size:14px;" ng-if="branch"> 
            | {{branch[0].branch_name}}  
            <!-- <a href="#/userBranch" ng-bind="branch.branchName"></a> -->
            <span  ng-bind="branch.branchName"></span>
          </span></div>
   </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav" ng-if="headerModule.isAdminSection">      
            <li  ng-class="{active:headerModule.user.menu=='F2'}"
            ><a href="#/admin" ng-click="setMenu('F2')"
                ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Admin Home</a></li>

            <!-- <li  ng-class="{active:headerModule.user.menu==1}"
            ><a href="#/admin/products" ng-click="setMenu(1)"
                ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Products</a></li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==1}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/products" ng-click="setMenu(1)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Products Details</a></li>
                </ul>
            </li>

           <!--  <li ng-class="{active:headerModule.user.menu==2}">
              <a href="#/admin/distributors" 
            ng-click="setMenu(2)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Distributors</a></li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==2}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Distributor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/distributors" ng-click="setMenu(2)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Distributors Details</a></li>
                </ul>
            </li>

            <!-- <li ng-class="{active:headerModule.user.menu==3}">
              <a href="#/admin/purchaseOrder/addPo" 
            ng-click="setMenu(3)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Purchase Order</a></li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==3}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase Order <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/purchaseOrder/addPo" ng-click="setMenu(3)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add Purchase Order</a></li>
                  <li><a href="#/admin/purchaseOrder" ng-click="setMenu(3)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Purchase Order Details</a></li>
                </ul>
            </li>

            <!-- <li ng-class="{active:headerModule.user.menu==4}">
              <a href="#/admin/purchaseInvoice/addPi" 
            ng-click="setMenu(4)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Purchase Invoice</a></li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==4}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase Invoice <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/purchaseInvoice/addPi" ng-click="setMenu(4)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add Purchase Invoice</a></li>
                  <li><a href="#/admin/purchaseInvoice" ng-click="setMenu(4)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Purchase Invoice Details</a></li>
                </ul>
            </li>

            <!-- <li ng-class="{active:headerModule.user.menu==6}" >
              <a href="#/admin/userAdd" 
            ng-click="setMenu(6)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">User </a>
            </li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==6}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/userAdd" ng-click="setMenu(6)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add User</a></li>
                  <li><a href="#/admin/user" ng-click="setMenu(6)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">User Details</a></li>
                </ul>
            </li>

            <!-- <li ng-class="{active:headerModule.user.menu==7}" >
              <a href="#/admin/return/returnAdd/" 
            ng-click="setMenu(7)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Return</a>
            </li> -->
            
            <li class="dropdown" ng-class="{active:headerModule.user.menu==7}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Return <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/return/returnAdd/" ng-click="setMenu(7)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add Return Details</a></li>
                  <li><a href="#/admin/return" ng-click="setMenu(7)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Return Details</a></li>
                </ul>
            </li>

            <!-- <li ng-class="{active:headerModule.user.menu==8}">
              <a href="#/admin/addCustomer" 
            ng-click="setMenu(8)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Customer</a></li> -->
           
           <li class="dropdown" ng-class="{active:headerModule.user.menu==8}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/addCustomer" ng-click="setMenu(8)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add Customer</a></li>
                  <li><a href="#/admin/customer" ng-click="setMenu(8)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Customer Details</a></li>
                </ul>
            </li>

            <li ng-class="{active:headerModule.user.menu==9}">
              <a href="#/admin/report" 
            ng-click="setMenu(9)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Report</a>
            </li>
              
            <!-- <li ng-class="{active:headerModule.user.menu==0}" >
                <a href="#/admin/stock"   ng-click="setMenu(0)"
                ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Stock</a></li> -->

            <li class="dropdown" ng-class="{active:headerModule.user.menu==0}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stock <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/addStock"   ng-click="setMenu(0)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Add Stock</a></li>
                  <li><a href="#/admin/stock"   ng-click="setMenu(0)" ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Stock Details</a></li>
                </ul>
            </li>
                
            <li ng-class="{active:headerModule.user.menu=='F1'}">
                <a href="#/admin/alertNotification" ng-click="setMenu('F1')"
                ng-if="headerModule.user.role=='super_admin' || headerModule.user.role=='admin'">Alert</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-if="headerModule.user.role!=undefined && headerModule.user.role!='undefined'">

            <li ng-if="headerModule.isHomeSection && (headerModule.user.role=='super_admin' || headerModule.user.role=='admin') "><a href="#/admin" ng-click="setMenu(F2)">Administration</a></li>

            <li ng-if="headerModule.isAdminSection"><a href="#/home/addBill" ng-click="setMenu(F2)">Exit Administration</a></li>
          
        </ul>
    </div>
</nav>