<form name="product_form" novalidate class="css-form container-fluid">
  <div class="row" ng-init="validate()" >
	  <div class="form-group">
      <label for="inputdefault"><b> Product Name </b></label>
        <input class="form-control form-controlAddDist" id="inputdefault" placeholder="Minimum 3 characters" type="text" name="name" ng-model="newProducts.name" ng-minlength="3" required style="height:24px;padding-top:0px;">
    </div>

    <div class="form-group">
      <label for="inputdefault"><b> Manufacturer</b></label>
        <input class="form-control form-controlAddDist" id="inputdefault" placeholder="Minimum 3 characters" type="text" name="manufacturer" ng-model="newProducts.manufacturer" required ng-minlength="3" style="height:24px;padding-top:0px;">
    </div> 

    <div class="form-group">
      <label for="inputdefault"><b> Formula</b></label>
      <input class="form-control form-controlAddDist" 
      id="inputdefault" 
      type="text" 
      name="formula" 
      ng-model="newProducts.formula" style="height:24px;padding-top:0px;">
    </div> 

    <div class="form-group">
      <label for="inputdefault"><b> Product Location</b></label>
      <input class="form-control form-controlAddDist" 
      id="inputdefault" 
      type="text" 
      name="productLocation" 
      ng-model="newProducts.productLocation" required style="height:24px;padding-top:0px;">
    </div> 

    <div class="row">
        <div class="col-md-6">
           <label for="inputdefault"><b>Dosage</b></label>
        </div>
        <div class="col-md-6">
            <label for="inputdefault"><b>Low Quantity</b></label>
        </div>
    </div>
   
    <div class="row">
          <div class="col-md-6">
            <div style="width: 50%;float:left; ">
              <input class="form-control form-controlAddDist" type="number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" min="0" ng-model="newProducts.dosage" required style="height:24px;padding-top:0px;">
            </div>

            <div style="width: 40%;margin-left:4%; float:left">
              <div class="btn-group" ng-click="toggleSetting()"> 
                <button class="btn btn-sm" ng-class="{'btn-info':toggle.flag,'btn-default':!toggle.flag}">mg</button>
                <button class="btn btn-sm" ng-class="{'btn-info':!toggle.flag,'btn-default':toggle.flag}">ml</button>
              </div>
            </div>

          </div> 
          <div class="col-md-6">
            <div style="width: 100%;float:left; ">
              <input class="form-control form-controlAddDist" type="number" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" min="0" ng-model="newProducts.lowQuantity" required style="height:24px;padding-top:0px;">
            </div>
          </div>
    </div>
    <br>
    <center>
      <button type="button" class="btn btn-info" 
    ng-click="addNewProducts();" 
    ng-disabled="product_form.$invalid">Add Product</button>
    </center>
  </div>
</form>