<div ui-view>
  <div class="container-fluid">
    <div class="row-fluid" ng-init="getProducts()">
      <div class="table-header">
        <div class="row">
          <div class="col-md-3">
            <form class="form-inline" ng-model="limit" ng-submit="search(str);" >
              <input class="form-control" 
              type="text"
              ng-model="str" 
              ng-change="changeSearch(str)" 
              placeholder="Search"/>
              <span class="glyphicon glyphicon-search pointer"   
              style="color:silver;" ng-click="search(str)"></span>
            </form>
          </div>
          <!-- product add button -->
          <div class="container-fluid ng-scope" style="padding-top: 1px;">
            <input type="button" class="btn btn-info add-button1 pull-right " value="+"
            ng-click="add();" />
          </div> 
        </div>
      </div>
      <div ng-if="currentView == 'display'">
      <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
        <thead>
          <tr>
            <th style="width:2%">#</th>
            <th style="width:10%">Name</th>
            <th style="width:10%">Manufacturer</th>
            <th style="width:10%">Formula</th>
            <th style="width:10%">Dosage</th>  
            <th style="width:12%">Product Location</th>
            <th style="width:12%">Low Quantity</th>
            <th style="width:4%">Actions</th>
            <th style="width:4%"></th>      
          </tr>          
        </thead>

        <tbody>
          <tr ng-repeat="productValue in products | orderObjectBy : 'id' : true" class="form-inline"> 
          <form name="product_formm" novalidate class="container-fluid">
            <div class="row" ng-init="validate()">
              <td style="width:2%" ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
              <td>
                <span ng-if="!(editRecordId === productValue.id)">{{productValue.name}}</span>          
                <input class="form-control input-sm textWidthPro" 
                 type="text" 
                 ng-change="saveValidate()" 
                 id="inputdefault" 
                 name="name" 
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.name" 
                 ng-keyup="chk(productValue.name)"
                 required>
                <span style="color:red" ng-show="product_formm.name.$error && product_formm.name.$invalid">
                  <span ng-show="product_formm.name.$error.required"> !</span>
                </span>
              </td>
              <td>
              <span ng-if="!(editRecordId === productValue.id)">{{productValue.manufacturer}}</span>
                <input class="form-control input-sm textWidthPro" 
                 type="text" 
                 ng-change="saveValidate()" 
                 id="inputdefault" 
                 name="manufacturer" 
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.manufacturer" 
                 required>
                <span style="color:red" ng-show="product_formm.manufacturer.$dirty && product_formm.manufacturer.$invalid">
                  <span ng-show="product_formm.manufacturer.$error.required"> !</span>
                </span>
              </td>
              <td>
              <span ng-if="!(editRecordId === productValue.id)">{{productValue.formula}}</span>
                <input class="form-control input-sm textWidthPro" 
                 type="text" ng-change="saveValidate()" 
                 id="inputdefault" name="formula"
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.formula" 
                 required>
                <span style="color:red" ng-show="product_formm.formula.$dirty && product_formm.formula.$invalid">
                  <span ng-show="product_formm.formula.$error.required"> !</span>
                </span>
              </td>
              <td style="width:10%">
                <span ng-if="!(editRecordId === productValue.id)">{{'[ '+productValue.dosage+' ]'}}</span>
                <input class="form-control input-sm textWidthPro" 
                 type="text" 
                 ng-change="saveValidate()" 
                 id="inputdefault" 
                 name="dosage" 
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.dosage" 
                 required>
                <span style="color:red" ng-show="product_formm.dosage.$dirty && product_formm.dosage.$invalid">
                  <span ng-show="product_formm.dosage.$error.required"> !</span>
                </span>
              </td>
              <td style="width:10%">
                <span ng-if="!(editRecordId === productValue.id)">
                {{'[ '+productValue.productLocation +' ]'}}</span>
                <input class="form-control input-sm textWidthPro" 
                 type="text" 
                 id="inputdefault" 
                 name="productLocation" 
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.productLocation" 
                 required>
                <span style="color:red" ng-show="product_formm.productLocation.$dirty && product_formm.productLocation.$invalid">
                  <span ng-show="product_formm.productLocation.$error.required"> !</span>
                </span>
              </td>
              <td style="width:10%">
                <span ng-if="!(editRecordId === productValue.id)">
                {{'[ '+productValue.lowQuantity +' ]'}}</span>
                <input class="form-control input-sm textWidthPro" 
                 type="text" 
                 id="inputdefault" 
                 name="lowQuantity" 
                 ng-if ="(editRecordId === productValue.id)" 
                 ng-model="editProduct.lowQuantity" 
                 required>
                <span style="color:red" ng-show="product_formm.lowQuantity.$dirty && product_formm.lowQuantity.$invalid">
                  <span ng-show="product_formm.lowQuantity.$error.required"> !</span>
                </span>
              </td>
              <td ng-if="!(editRecordId === productValue.id)" style="width:2%">
                <span class="glyphicon glyphicon-pencil" 
                aria-hidden="true" 
                style="color:blue"
                ng-click="changeEditMode(productValue.id)">
                </span>
              </td>   
              <td ng-if="(editRecordId === productValue.id)" style="width:2%">
                <span ng-disabled="!saveValidate()" class="glyphicon glyphicon-saved" aria-hidden="true" style="color:green" ng-click="changeEditMode(productValue.id)" ng-click="addNewProducts();"></span>
                </td>
                <td style="width:2%"> 
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style = "color:red" ng-click="deleteProducts(productValue.id)">
                </span>
              </td>
            </div>
          </form>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getProducts()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
      <!-- End pagination -->
  </div> <!-- container-fluid -->
</div>