<div class="container-fluid">
  <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right" 
                          href="#/admin/customer" 
                          role="button"></a>
<div class="row-fluid"> 
      <h4 class="mptitle">Add Customer Details</h4>
      <div class="form-container">                
        <form name="cust_form" class="css-form container-fluid" novalidate>
          <div class="row">
            <div class="container-fluid">
                <div class="form-group">
                    <span class="control-label col-sm-2 mplabel"> Name : </span>
                        <h5>
                            <label class="col-sm-10">
                                  <div class="col-md-3">
                                        <input class="form-control" id="inputdefault"  ng-minlength="3" type="text" placeholder="First Name*" name="firstName" ng-model="newCustomer.firstName" required>
                                        <span style= "color:red" ng-show="cust_form.firstName.$touched && cust_form.firstName.$invalid">
                                        <span ng-show="cust_form.firstName.$error.required">Feild is required .. !</span>
                                        </span>
                                  </div>

                                  <div class="col-md-3">
                                          <input class="form-control" type=text placeholder="Middle Name" name="middleName" ng-model="newCustomer.middleName">
                                          <span style= "color:red" ng-show="cust_form.middleName.$touched && cust_form.middleName.$invalid">
                                          <span ng-show="cust_form.middleName.$error.required">Feild is required .. !</span>
                                          </span>
                                  </div>

                                  <div class="col-md-3">
                                        <input class="form-control"  ng-minlength="3" type=text placeholder="Last Name*" name="lastName" ng-model="newCustomer.lastName" required>
                                        <span style= "color:red" ng-show="cust_form.lastName.$touched && cust_form.lastName.$invalid">
                                        <span ng-show="cust_form.lastName.$error.required">Feild is required .. !</span>
                                        </span>
                                  </div>
                            </label>
                        </h5>
                  </div>

                <div class="form-group">
                    <span class="control-label col-sm-2 mplabel"> Residential Details : </span>
                        <h5>
                            <label class="col-sm-10">
                                  <div class="col-md-3">
                                        <input class="form-control" placeholder="City"  ng-minlength="3" type=text name="city" ng-model="newCustomer.city">
                                        <span style= "color:red" ng-show="cust_form.city.$touched && cust_form.city.$invalid">
                                        <span ng-show="cust_form.city.$error.required">Feild is required .. !</span>
                                        </span>
                                  </div>

                                  <div class="col-md-3">
                                        <input class="form-control" placeholder="District"  ng-minlength="3" type=text name="district" ng-model="newCustomer.district">
                                        <span style= "color:red" ng-show="cust_form.district.$touched&& cust_form.district.$invalid">
                                        <span ng-show="cust_form.district.$error.required">Feild is required .. !</span>
                                        </span>
                                  </div>

                                  <div class="col-md-3">
                                          <input class="form-control" placeholder="State"  ng-minlength="3" type=text name="state" ng-model="newCustomer.state">
                                          <span style= "color:red" ng-show="cust_form.state.$touched && cust_form.state.$invalid">
                                          <span ng-show="cust_form.state.$error.required">Feild is required .. !</span>
                                          </span>                               
                                  </div>
                            </label>
                        </h5>
                               <span class="control-label col-sm-2 mplabel">   </span>
                                <h5>
                                    <label class="col-sm-10">
                                          <div class="col-md-3">
                                              <input class="form-control" placeholder="Country"  ng-minlength="3" type=text name="country" ng-model="newCustomer.country" >
                                              <span style= "color:red" ng-show="cust_form.country.$touched && cust_form.country.$invalid">
                                              <span ng-show="cust_form.country.$error.required">Feild is required .. !</span>
                                              </span>
                                          </div>

                                          <div class="col-md-3">
                                                <input class="form-control" type=text  ng-minlength="10" placeholder="Street Address" name="streetAddress" ng-model="newCustomer.streetAddress">
                                                <span style= "color:red" ng-show="cust_form.streetAddress.$touched && cust_form.streetAddress.$invalid">
                                                <span ng-show="cust_form.streetAddress.$error.required">Feild is required .. !</span>
                                                </span>
                                          </div>

                                          <div class="col-md-3">
                                                    <input 
                                                    class="form-control" 
                                                    type="text" 
                                                    name="pinCode"
                                                    placeholder="Pincode" 
                                                    ng-model="newCustomer.pinCode" 
                                                    ng-minlength="6" MaxLength="6" 
                                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))">
                                                    <span style= "color:red"  ng-show="cust_form.pinCode.$touched && cust_form.pinCode.$invalid">
                                                    <span ng-show="cust_form.pinCode.$error.required">Feild is required .. !</span>
                                                    </span>                               
                                          </div>
                                    </label>
                                </h5>
                </div>

                <div class="form-group">
                    <span class="control-label col-sm-2 mplabel"> Contact Details : </span>
                        <h5>
                            <label class="col-sm-10">
                                  <div class="col-md-3">
                                          <input class="form-control" placeholder="Email Id" type="email" name="emailId" ng-model="newCustomer.emailId">
                                          <span style="color:red" ng-show="cust_form.emailId.$touched && cust_form.emailId.$invalid">
                                          <span ng-show="cust_form.emailId.$error.required"> Field is required..!
                                          </span>
                                          <span class="error" ng-show="cust_form.emailId.$error.email">
                                          Not valid email!</span>
                                          </span>                     
                                  </div>
                                  
                                  <div class="col-md-3">
                                          <input 
                                          class="form-control" 
                                          type="text" 
                                          name="contactNumber" 
                                          ng-model="newCustomer.contactNumber" 
                                          placeholder="Contact Number*"
                                          ng-minlength="10" MaxLength="10" 
                                          onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" required>
                                          <span style= "color:red"  ng-show="cust_form.contactNumber.$touched && cust_form.contactNumber.$invalid">
                                          <span ng-show="cust_form.contactNumber.$error.required">Feild is required .. !</span>
                                          </span> 
                                  </div>
                            </label>
                        </h5>
                  </div>

                <div class="form-group">
                    <span class="control-label col-sm-2 mplabel"> Credit Details : </span>
                        <h5>
                            <label class="col-sm-10">
                                  <div class="col-md-3">
                                        <input class="form-control" placeholder="Credit Limit (In Amt)" type="text" name="creditLimit" ng-model="newCustomer.creditLimit" MaxLength="6" 
                                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))">
                                        <span ng-show="cust_form.contactNumber.$error.required"></span>
                                  </div>

                                  <div class="col-md-3">
                                                    <input 
                                                    class="form-control" 
                                                    type="number" 
                                                    name="creditPeriod"
                                                    placeholder="Credit Period (In Days)" 
                                                    ng-model="newCustomer.creditPeriod" min="0" max="365"
                                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))">
                                                    <span style= "color:red"  ng-show="cust_form.creditPeriod.$touched && cust_form.creditPeriod.$invalid">
                                                      <span ng-show="cust_form.creditPeriod.$error.required">Feild is required .. !</span>
                                                      <span class="error" ng-show="cust_form.creditPeriod.$error.max">
                                                        Maximum 365 days !
                                                      </span>
                                                    </span>                                   
                                  </div>
                            </label>
                        </h5>
                  </div>

                  <div class="form-group">
                      <span class="control-label col-sm-2 mplabel"> Customer Type : </span>
                                  <h5>
                                        <label class="col-sm-10">
                                            <div class="col-md-3">
                                              <form role="form" >
                                                  <div class="radio" >
                                                    <label>
                                                    <input type="radio" 
                                                    value="Individual"
                                                    ng-checked="true"
                                                    ng-model="newCustomer.customerType" required> 
                                                    Individual</label>
                                                    </div>
                                                    <div class="radio">
                                                    <label>
                                                    <input type="radio" 
                                                    ng-model="newCustomer.customerType"
                                                    value="Hospital">Hospital</label>
                                                    </div>
                                              </form>             
                                            </div>
                                      </label>
                                  </h5>
                          </div>
                         <div class="form-group">
                              <span class="control-label col-sm-2 mplabel"> Enter DOB : </span>
                                  <h5>
                                        <label class="col-sm-10">
                                            <div class="col-md-3">
                                                <input ui-date-format="dd-mm-yy" ui-date="dateOptions" 
                                                placeholder="Enter DOB" class="date" style="width:230px;padding-top:15px" 
                                                ng-model="newCustomer.dob">   
                                            </div>
                                      </label>
                                  </h5>    
                          </div>
                          
                  <center>
                    <button type="submit" class="btn btn-info " ng-disabled="cust_form.$invalid" ng-click="customerAdd()"><i><b>Submit</b></i></button>
                  </center>
            </div>
        </div>
      </form>
    </div>
</div>
</div>