<div class="container-fluid">
<div class="row-fluid" ng-init="allCustomer()" >
	<div class="table-header">
		<div class="row"> 
			<div class="col-md-3">
		           <form class="form-inline" ng-model="limit" ng-submit="search(str);">
		              <input 
		              class="form-control" 
		              type="text" 
		              ng-model="str" 
		              ng-change="changeSearch()"
		              placeholder="Search"/>
		          <span 
		          class="glyphicon glyphicon-search pointer" 
		          style="color:silver;" 
		          ng-click="search(str)"></span>
		          </form>
		    </div>
	        
	        <div class="container-fluid ng-scope" style="padding-top: 1px;">  
			   <input type="button" class="btn btn-info add-button1 pull-right" 
			   value="+" data-toggle="modal"
			   data-target=".bs-example-modal-lg" ng-click="add()"/>
			</div>
	    </div>
	</div>

	<table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed; ">
		<thead>
			<tr>
				<th style="width:2%">#</th>
				<th>Name</th>
				<th>City</th>
				<th>Street Address</th>
				<th>EmailId</th>
				<th>PinCode</th>
				<th>Contact Number</th>
				<th style="width:2%"></th>
				<th style="width:2%"></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="value in customerData | orderObjectBy : 'id' : true" >
			    <td  style="width:2%"ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
				<td>
					<span>{{value.name}}</span>	
				</td>
				<td>
					<span>{{value.city}}</span>
				</td>
				<td>
					<span>{{value.streetAddress}}</span>
				</td>
				<td>
					<span>{{value.emailId}}</span>
				</td>
				<td>
					<span>{{value.pinCode}}</span>
				</td>
				<td>
					<span>{{value.contactNumber}}</span>
				</td>
				<td style="width:2%">
					<span class="glyphicon glyphicon-pencil" style="color:blue" ng-click="editCustomer(value.id)"></span>
				</td>
				<td style="width:2%">
					<span class="glyphicon glyphicon-trash" style="color:red" ng-click="deleteCustomer(value.id)"></span>
				</td>
			</tr>
		</tbody>
		</table>
</div>

<!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="allCustomer()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
<!-- End pagination -->