<form name="cust_form" class="css-form container-fluid" novalidate>
    <div class="row" id="scrollbar">
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>First Name</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="firstName" 
                  ng-model="dataTemp.firstName" required style="height:22px;padding-top:0px;">
                <span style= "color:red" ng-show="cust_form.firstName.$touched && cust_form.firstName.$invalid">
                <span ng-show="cust_form.firstName.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Middle Name</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="middleName" ng-model="dataTemp.middleName" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.middleName.$touched && cust_form.middleName.$invalid">
                <span ng-show="cust_form.middleName.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>
      </div>
      <!-- end lastName-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Last Name</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="lastName" ng-model="dataTemp.lastName" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.lastName.$touched && cust_form.lastName.$invalid">
                <span ng-show="cust_form.lastName.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>City</b></label>
                  <input class="form-control"  ng-minlength="3" type=text name="city" 
                  ng-model="dataTemp.city" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.city.$touched && cust_form.city.$invalid">
                <span ng-show="cust_form.city.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>

      </div>
      <!-- end district-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>District</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="district" ng-model="dataTemp.district" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.district.$touched && cust_form.district.$invalid">
                <span ng-show="cust_form.district.$error.required">Feild is required .. !</span>
                </span>

                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>State</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="state" ng-model="dataTemp.state" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.state.$touched && cust_form.state.$invalid">
                <span ng-show="cust_form.state.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>
      </div>
      <!-- end country-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Country</b></label>
                  <input class="form-control" ng-minlength="3" type=text name="country" ng-model="dataTemp.country" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.country.$touched && cust_form.country.$invalid">
                <span ng-show="cust_form.country.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Street Address</b></label>
                  <input class="form-control" ng-minlength="10" type="text" name="streetAddress" 
                  ng-model="dataTemp.streetAddress" required style="height:22px;padding-top:0px;">
                  <span style= "color:red" ng-show="cust_form.streetAddress.$touched && cust_form.streetAddress.$invalid">
                <span ng-show="cust_form.streetAddress.$error.required">Feild is required .. !</span>
                </span>
                </div>
        </div>
      </div>
      <!-- end pinCode-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>PinCode</b></label>
                  <input class="form-control" type="text" ng-minlength="6" MaxLength="6" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="pinCode" 
                  ng-model="dataTemp.pinCode" required style="height:22px;padding-top:0px;">
                  <span style= "color:red"  ng-show="cust_form.pinCode.$touched && cust_form.pinCode.$invalid">
                  <span ng-show="cust_form.pinCode.$error.required">Feild is required .. !</span>
                  </span>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>EmailId</b></label>
                  <input class="form-control" type="email" name="emailId" 
                  ng-model="dataTemp.emailId" required style="height:22px;padding-top:0px;">
                  <span style="color:red" ng-show="cust_form.emailId.$touched && cust_form.emailId.$invalid">
                  <span ng-show="cust_form.emailId.$error.required"> Field is required..!
                  </span>
                  <span class="error" ng-show="cust_form.emailId.$error.email">
                  Not valid email!</span>
                  </span>
                </div>
        </div>
      </div>
      <!-- end dob-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>DOB</b></label>
                  <!--<input class="form-control" type="text" name="dob" ng-model="data.dob" required>-->
                    <input ui-date-format="dd-mm-yy" 
                    ui-date="dateOptions" 
                    type="text" 
                    class="form-control" 
                    name="dob" ng-model="dataTemp.dob" 
                    value="{{dataTemp.dob}}" required style="height:22px;padding-top:0px;">    

                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Contact Number</b></label>
                  <input class="form-control" ng-minlength="10" MaxLength="10" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"type="text"  name="contactNumber" 
                  ng-model="dataTemp.contactNumber" required style="height:22px;padding-top:0px;">
                  <span style= "color:red"  ng-show="cust_form.contactNumber.$touched && cust_form.contactNumber.$invalid">
                  <span ng-show="cust_form.contactNumber.$error.required">Feild is required .. !</span>
                  </span>
                </div>
        </div>
      </div>
      <!-- end creditLimit-->
      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Credit Limit (in Amt)</b></label>
                  <input class="form-control" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"type="text" name="creditLimit" ng-model="dataTemp.creditLimit" required style="height:22px;padding-top:0px;">
                  <span style= "color:red"  ng-show="cust_form.creditLimit.$touched && cust_form.creditLimit.$invalid">
                  <span ng-show="cust_form.creditLimit.$error.required">Feild is required .. !</span>
                  </span>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Credit Period</b></label>
                   <input class="form-control" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"type="text" name="creditPeriod" ng-model="dataTemp.creditPeriod" required style="height:22px;padding-top:0px;">
                  <span style= "color:red"  ng-show="cust_form.creditPeriod.$touched && cust_form.creditPeriod.$invalid">
                  <span ng-show="cust_form.creditPeriod.$error.required">Feild is required .. !</span>
                  </span>
                </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                  <label for="inputlg"><b>Customer Type</b></label>
                   <ui-select ng-model="dataTemp.customerType" ng-click="billValue.paymentType" theme="selectize" ng-disabled="disabled" style="width: 185px; text-transform:capitalize;" required>
                    <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
                      <ui-select-choices repeat="type in custType | filter: $select.search">
                          <span ng-bind-html="type | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
        </div>
      </div>

      <center><button type="button" ng-disabled="cust_form.$invalid" class="btn btn-primary" ng-click="editSave()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Update
      </button></center>
  </div>
</form>