<br><div class="container-fluid" ui-view>
    <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">Product Total Sale Report</div>
    <div class="panel-body" style="width:95%;">
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>
    </div>
    <br>
    <div class="row">         
        <div class="col-md-11">
            <h4>Product Report </h4>
        </div>
        <div class="col-md-1">
            <span class="glyphicon glyphicon-chevron-down pull-right"
				style="font-size: 20px; color:black; padding-top:13px;" aria-hidden="true" 
				ng-click="displaySub('purchaseOrderDetails')"  
				data-toggle="collapse" data-target="#demo0">
            </span>
        </div>
    </div>
    <div class="mptitle" style="padding:1px;"></div>

<div id="demo0" class="collapse" style="margin-top:2%;">
    <div class="row">
        <div class="col-md-12"> 
		  <div ng-if="show.displaySub=='purchaseOrderDetails'">
					<div class="row">
				        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> 
                                    Select Field Names
                                </div>
                                <div class="panel-body">
                                    <div class=".selectbtn-group>.btn:first-child" 
                                        ng-dropdown-multiselect="" 
                                        options="example2data" 
                                        selected-model="example2model"
                                        ></div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Conditions
                                </div>
                                    <div class="panel-body">
                                            <div class="row" ng-if="">
                                                <div class="col-md-4">
                                                    <select class="form-control" ng-model="newData.condition.invoiceItemsQuantityOp">
                                                        <option value="" selected>==</option>
                                                        <option> == </option>
                                                        <option> > </option>
                                                        <option> < </option>
                                                        <option> >= </option>
                                                        <option> <= </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-8">    
                                                    <input class="form-control" type="text" ng-model="newData.condition.invoiceItemsQuantity" placeholder="Enter Qunatity">
                                                </div> 
                                            </div>
                                            <div class="row" ng-if="example2model.indexOf(example2model[4])!=4"></div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="form-control" 
                                                    ui-date-format="dd-mm-yy" 
                                                    ui-date="dateOptions" 
                                                    placeholder="From Date" 
                                                    ng-model="newData.condition.invoiceItemsExpiryDate"
                                                    name="fromDate">
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" 
                                                    ui-date-format="dd-mm-yy" 
                                                    ui-date="dateOptions" 
                                                    placeholder="To Date" 
                                                    ng-model="newData.condition.toDate"
                                                    name="toDate">
                                                </div>
                                        </div>
					                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <button style="width:135px;margin-left:5px;height:34px;" type="button"
                            class="btn btn-info"
                            ng-click="productReport()">
                            Generate Report
                            </button>
                            <div class="btn-group">
                                <button class="btn btn-info" data-toggle="dropdown" style="width:125px;margin-left:5px;border-radius:5px;">
                                    <i class="btn glyphicon glyphicon-menu-hamburger" style="padding:0px;"></i>
                                    Export Data
                                </button>

                                <ul class="dropdown-menu " role="menu">
                                    <li>
                                        <a onclick="$('#product').tableExport({type:'csv',escape:'false'});">
                                            <img width="24px" src="icons/csv.png">
                                            CSV
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#product').tableExport({type:'doc',escape:'false'});">
                                            <img width="24px" src="icons/word.png">
                                            Word
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a onclick="$('#product').tableExport({type:'png',escape:'false'});">
                                            <img width="24px" src="icons/png.png">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#product').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                            <img width="24px" src="icons/pdf.png">
                                            PDF
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button style="width:100px;margin-left:5px;height:34px;" type="button"
                            class="btn btn-info" ng-click="btnPrint()">Print</button>
					    </div>  
				    </div>
		      </div>
		  </div>
    </div>
    <div id="dvContainer">
        <table class="table sticky" id="product" style="">
            <thead>
            <tr>
                <th ng-if="getData.head[0].key">{{getData.head[0].key}}</th>
                <th ng-if="getData.head[1].key">{{getData.head[1].key}}</th>
                <th ng-if="getData.head[2].key">{{getData.head[2].key}}</th>
                <th ng-if="getData.head[3].key">{{getData.head[3].key}}</th>
                <th ng-if="getData.head[4].key">{{getData.head[4].key}}</th>    
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in getData.data">
                    <td ng-if="value.name">{{value.name}}</td>
                    <td ng-if="value.manufacturer">{{value.manufacturer}}</td>
                    <td ng-if="value.formula">{{value.formula}}</td>
                    <td ng-if="value.dosage">{{value.dosage}}</td>
                    <td ng-if="value.quantity">{{value.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-md-11">
            <h4>Purchase Order Report </h4>
        </div>
        <div class="col-md-1">
            <span class="glyphicon glyphicon-chevron-down pull-right"
				style="font-size: 20px; color:black; padding-top:13px;" aria-hidden="true" 
				ng-click="displaySub('customerDetails')"  
				data-toggle="collapse" data-target="#demo1" >
            </span>
        </div>
    </div>
    <div class="mptitle" style="padding:1px;"></div>

<div id="demo1" class="collapse" style="margin-top:2%;">
    <div class="row">  
        <div class="col-md-12"> 
		  <div ng-if="show.displaySub=='customerDetails'">
					<div class="row">
				        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> 
                                Select Field Names
                                </div>
                                    <div class="panel-body">
                                        <div ng-dropdown-multiselect="" 
                                        options="example3data" 
                                        selected-model="example3model">
                                        </div>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Conditions</div>
                                    <div class="panel-body">
                                       <div class="row">
                                            <div class="col-md-6">
                                                <input class="form-control" 
                                                ui-date-format="dd-mm-yy" 
                                                ui-date="dateOptions" 
                                                placeholder="From Date" 
                                                ng-model="newData.condition.poPlacedDate"
                                                name="From Date">
                                            </div>  
                                           
                                           <div class="col-md-6">
                                                <input class="form-control" 
                                                ui-date-format="dd-mm-yy" 
                                                ui-date="dateOptions" 
                                                placeholder="To Date" 
                                                ng-model="newData.condition.toDate"
                                                name="To Date">
                                            </div>                                           
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <angucomplete id="distributor"
                                                            placeholder=" Distributor/ Agency Name"
                        selectedobject="newData.distributor"
                                                            url="autocomplete/distributorByName/"
                                                            datafield="data"
                                                            titlefield="ownerName"
                                                            minlength="3"
                                                            data-toggle="collapse"
                                                            data-target="#demo"
                                                            ng-model="newData.condition.Distributor"     
                                                            inputclass="form-control form-control-small"
                                                            autoFocus=true>
                                              </angucomplete>
                                        </div>
					                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <button style="width:135px;margin-left:5px;height:34px;" type="button"
                                    class="btn btn-info"
                                    ng-click="purchaseOrderReport()">
                                    Generate Report
                            </button>
                                    
                            <div class="btn-group">
                                <button class="btn btn-info" data-toggle="dropdown" style="width:125px;margin-left:5px;border-radius:5px;">
                                    <i class="btn glyphicon glyphicon-menu-hamburger" style="padding:0px;"></i>
                                    Export Data
                                </button>

                                <ul class="dropdown-menu " role="menu">
                                    <li>
                                        <a onclick="$('#po').tableExport({type:'csv',escape:'false'});">
                                            <img width="24px" src="icons/csv.png">
                                            CSV
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#po').tableExport({type:'doc',escape:'false'});">
                                            <img width="24px" src="icons/word.png">
                                            Word
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a onclick="$('#po').tableExport({type:'png',escape:'false'});">
                                            <img width="24px" src="icons/png.png">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#po').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                            <img width="24px" src="icons/pdf.png">
                                            PDF
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button style="width:100px;margin-left:5px;height:34px;" type="button"
                            class="btn btn-info" ng-click="btnPrintPo()">Print</button>
					    </div>  
				    </div>
		      </div>
		  </div>
    </div>

     <div id="dvContainerPo">
        <table class="table sticky" id="po" style="">
            <thead>
                <tr>
                    <th ng-if="getData.head[0]">{{getData.head[0]}}</th>
                    <th ng-if="getData.head[1]">{{getData.head[1]}}</th>
                    <th ng-if="getData.head[2]">{{getData.head[2]}}</th>
                    <th ng-if="getData.head[3]">{{getData.head[3]}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in getData.data">
                    <td ng-if="value.first_name">{{value.first_name}} </td>
                    <td ng-if="value.branch_name">{{value.branch_name}} </td>
                    <td ng-if="value.order_date">{{value.order_date}} </td>
                    <td ng-if="value.owner_name">{{value.owner_name}} </td>
                </tr>
             </tbody>   
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-md-11">
            <h4>Customer Report</h4>
        </div>
        <div class="col-md-1">
            <span class="glyphicon glyphicon-chevron-down pull-right"
				style="font-size: 20px; color:black; padding-top:13px;" aria-hidden="true" 
				ng-click="displaySub('productDetails')"  
				data-toggle="collapse" data-target="#demo2" >
        </span>
        </div>
    </div>
    <div class="mptitle" style="padding:1px;"></div>

<div id="demo2" class="collapse" style="margin-top:2%;">
    <div class="row">
        <div class="col-md-12"> 
		  <div ng-if="show.displaySub=='productDetails'">
					<div class="row">
				        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Field Names</div>
                                    <div class="panel-body">
                                        <div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Conditions</div>
                                    <div class="panel-body">
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <center><input style="width:185px;" class="form-control" type="text" 
                                            ng-model="newData.condition.customerCreditlimit"
                                            placeholder="Enter Credit Limit"></center>  
                                        </div>
                                        
                                        <div class="col-md-6">
                                        <center><select class="form-control" style="width:185px;" ng-model="newData.condition.customerCustomerType">
                                                <option value="" selected disabled>Select Customer Type</option>
                                                <option value="individual">Individual</option>
                                                <option value="hospital">Hospital</option>
                                            </select></center>  
                                        </div>
                                        </div>
                                        
                                        <br>
                                        
                                        <div class="row">   
                                        <div class="col-md-6">
                                        <center><select class="form-control" style="width:185px;" ng-model="newData.condition.billingStatus">
                                                <option value="" selected disabled>Select Bill Status</option>
                                                <option value="paid">Paid</option>
                                                <option value="unpaid">Unpaid</option>
                                                <option value="partial_paid">Partial_Paid</option>
                                                </select></center>
                                        </div>
                                        
                                        <div class="col-md-6">
                                        <center><select class="form-control" style="width:185px;" ng-model="newData.condition.billingPaymentType">
                                                <option value="" selected disabled>Select Payment Type</option>
                                                <option value="cash">Cash</option>
                                                <option value="online">Online</option>
                                                <option value="cheque">Cheque</option>
                                                <option value="debit">Debit</option>
                                                <option value="credit">Credit</option>
                                                </select></center>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                        </div>
                        
                        <div class="col-md-4">
                            <button style="width:135px;margin-left:5px;height:34px;" type="button"
                                            class="btn btn-info"
                                    ng-click="customerReport()">
                                    Generate Report
                            </button>

                            <div class="btn-group">
                                <button class="btn btn-info" data-toggle="dropdown" style="width:125px;margin-left:5px;border-radius:5px;">
                                    <i class="btn glyphicon glyphicon-menu-hamburger" style="padding:0px;"></i>
                                    Export Data
                                </button>

                                <ul class="dropdown-menu " role="menu">
                                    <li>
                                        <a onclick="$('#cust').tableExport({type:'csv',escape:'false'});">
                                            <img width="24px" src="icons/csv.png">
                                            CSV
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#cust').tableExport({type:'doc',escape:'false'});">
                                            <img width="24px" src="icons/word.png">
                                            Word
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a onclick="$('#cust').tableExport({type:'png',escape:'false'});">
                                            <img width="24px" src="icons/png.png">
                                            PNG
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="$('#cust').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                            <img width="24px" src="icons/pdf.png">
                                            PDF
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button style="width:100px;margin-left:5px;height:34px;" type="button" class="btn btn-info" ng-click="btnPrintCust()">Print</button>
					    </div>  
				    </div>
		      </div>
		  </div>
    </div>

    <div id="dvContainerCust">
        <table class="table sticky" id="cust" style="">
            <thead>
              <tr>
                <th ng-if="getData.head[0]" ng-bind="getData.head[0]"></th>
                <th ng-if="getData.head[1]" ng-bind="getData.head[1]"></th>
                <th ng-if="getData.head[2]" ng-bind="getData.head[2]"></th>
                <th ng-if="getData.head[3]" ng-bind="getData.head[3]"></th>
                <th ng-if="getData.head[4]" ng-bind="getData.head[4]"></th>
                <th ng-if="getData.head[5]" ng-bind="getData.head[5]"></th>
                <th ng-if="getData.head[6]" ng-bind="getData.head[6]"></th>
                <th ng-if="getData.head[7]" ng-bind="getData.head[7]"></th>
                <th ng-if="getData.head[8]" ng-bind="getData.head[8]"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key,value) in getData.data">
                <td ng-if="value.first_name">{{value.first_name}}</td>
                <td ng-if="value.city">{{value.city}}</td>
                <td ng-if="value.email_id">{{value.email_id}}</td>
                <td ng-if="value.contact_number">{{value.contact_number}}</td>
                <td ng-if="value.credit_limit">{{value.credit_limit}}</td>
                <td ng-if="value.customer_type">{{value.customer_type}}</td>
                <td ng-if="value.total_amount">{{value.total_amount}}</td>
                <td ng-if="value.status">{{value.status}}</td>
                <td ng-if="value.payment_type">{{value.payment_type}}</td>
              </tr>
            </tbody>    
        </table>
    </div>
</div>

    <div class="row">
        <div class="col-md-11">
            <h4>Stock Report</h4>
        </div>
        <div class="col-md-1">
            <span class="glyphicon glyphicon-chevron-down pull-right"
                    style="font-size: 20px; color:black;  padding-top:13px;" aria-hidden="true" 
                    ng-click="displaySub('stockDetails')" 
                    data-toggle="collapse" data-target="#demo3" >
            </span>
        </div>
    </div>
    <div class="mptitle" style="padding:1px;"></div>

<div id="demo3" class="collapse" style="margin-top:2%;">
    <div class="row">
        <div class="col-md-12"> 
		  <div ng-if="show.displaySub=='stockDetails'">
					<div class="row">
				        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Field Names</div>
                                    <div class="panel-body">
                                        <select class="form-control" multiple="true" ng-model="newData.select">
                                            <option class="form-control" value="Quantity">Quantity</option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#FFF;"> Select Conditions</div>
                                    <div class="panel-body">
                                        <div ng-if="newData.select.length > 0">
                                            <div class="row">
                                               <center><input style="width:185px;" class="form-control" type="text" placeholder="Quantity"></center>   
                                            </div>
                                        </div>
					                </div>
                              </div>
                        </div>
                        
                        <div class="col-md-4">
                            <button style="width:135px;margin-left:5px;height:34px;" type="button"
                            class="btn btn-info"
                            ng-click="customerReport()">
                            Generate Report
                        </button>

                        <div class="btn-group">
                            <button class="btn btn-info" data-toggle="dropdown" style="width:125px;margin-left:5px;border-radius:5px;">
                                <i class="btn glyphicon glyphicon-menu-hamburger" style="padding:0px;"></i>
                                Export Data
                            </button>

                            <ul class="dropdown-menu " role="menu">
                                <li>
                                    <a onclick="$('#cust').tableExport({type:'csv',escape:'false'});">
                                        <img width="24px" src="icons/csv.png">
                                        CSV
                                    </a>
                                </li>
                                <li>
                                    <a onclick="$('#cust').tableExport({type:'doc',escape:'false'});">
                                        <img width="24px" src="icons/word.png">
                                        Word
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a onclick="$('#cust').tableExport({type:'png',escape:'false'});">
                                        <img width="24px" src="icons/png.png">
                                        PNG
                                    </a>
                                </li>
                                <li>
                                    <a onclick="$('#cust').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                        <img width="24px" src="icons/pdf.png">
                                        PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button style="width:100px;margin-left:5px;height:34px;" type="button"
                        class="btn btn-info" ng-click="btnPrintCust()">Print</button>
					    </div>  
				    </div>
		      </div>
		  </div>
    </div>
</div>
</div>