<div ui-view>
  <div class="container-fluid">
    <div class="row-fluid" ng-init="getPurchaseOrders()"> 
      <div class="table-header">
        <div class="row">
          <div class="col-md-3">
            <form class="form-inline" ng-model="limit" ng-submit="search(str)">
              <input 
              class="form-control" 
              type="text" 
              placeholder="Search" 
              id='search' 
              ng-change="changeSearch(str)"
              ng-model="str">
              <span class="glyphicon glyphicon-search pointer" style="color:silver;" ng-click="search(str)"></span>
            </form>
          </div>

          <form name="rep_formm" novalidate>
            <div class="col-md-2">
              <input ui-date-format="dd-mm-yy" ui-date="fromDate"  
              class=" form-control dateP" 
              placeholder="From Date (DD-MM-YYYY)"  
              name="fromDate" 
              ng-change="addPiValidated()" 
              ng-model="newReport.fromDate" style="color:black;" required>
            </div>

            <div class="col-md-2">
              <input ui-date-format="dd-mm-yy" ui-date="toDate" 
              class=" form-control dateP" 
              placeholder="To Date (DD-MM-YYYY)" 
              ng-change="addPiValidated()"
              name="toDate"  
              ng-model="newReport.toDate" style="color:black;" required>
            </div>

            <div class="col-md-2">
              <button class="glyphicon glyphicon-download-alt download" style="border:none; background-color: white;" 
              ng-click="downloadDisable()" ng-disabled="rep_formm.$invalid"> 
              </button>
            </div>
          </form>

          <div class ="container-fluid ng-scope" style="padding-top: 1px;">
            <input type="button" class="btn btn-info add-button1 pull-right " value="+" 
          ng-click="addPo()" />
          </div>
        </div>
      </div>

      <div class="tablePoint">
        <table class="table sticky">
          <tr>
            <thead>
              <th>#</th>
              <th>User Name</th>
              <th>Distributor Name</th>
              <th>Branch Name</th>
              <th>Order Date</th>
              <th>Purchase Order No</th>
            </thead>
          </tr> 
          <tbody>        
            <tr ng-repeat="(poKey, poValue) in po | orderObjectBy : 'id' : true"
                ng-click="showDetailInNew(poValue.id)">
              <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
              <td><span>{{poValue.userName}}</span></td>
              <td><span>{{poValue.distributorName}}</span></td>
              <td><span>{{poValue.branchName}}</span></td>
              <td><span>{{poValue.orderDate}}</span></td>
              <td><span>{{poValue.id}}</span></td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
        <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getPurchaseOrders()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
  <!-- End pagination -->
  
  </div>
</div>