<div class="container-fluid">
  <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right" role="button"href="#/admin/purchaseOrder"></a>
  <div ng-init="getPoDetail()">
    <div class="row-fluid">
      <form class="form-horizontal" role="form">
        <h4 class="mptitle">Distributor Details</h4> 
        <div class="test">
          <form name="po_detail_form" ng-submit="poSubmit()">
            <div class="" ng-if="poId==undefined">
              <div class="form-group">
                <h5>
                  <label class="col-sm-10">
                    <div class="col-md-6" ng-if="!poDetail.distributor.originalObject.agencyName">
                      <angucomplete id="distributor"
                      placeholder=" Agency Name"
                      selectedobject="poDetail.distributor"
                      url="autocomplete/distributorByName/"
                      datafield="data"
                      titlefield="agencyName"
                      minlength="3"
                      data-toggle="collapse" 
                      data-target="#demo"
                      ng-model="poDetail.distributor"     
                      inputclass="form-control form-control-small"
                      autoFocus=true>
                      </angucomplete>
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-info" ng-if="!isReadOnly"  ng-click="addDistributor()"> Add Distributor</button>
                    </div>
                    <div class="col-sm-6" ng-if="poDetail.distributor.originalObject.agencyName">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" ng-click="editDistributor()">
                                Change Distributor
                            </button>
                        </div>
                    </div>
                  </label>
                </h5>            
              </div>

              <div ng-if="poDetail.distributor.originalObject">
                <div class="form-group col-md-4">
                  <span class="control-label col-sm-2 mplabel"> Agency Name: </span>
                  <h5>
                    <label class="col-sm-10">
                      <div class="col-md-6">
                        {{poDetail.distributor.originalObject.agencyName}}
                      </div>
                    </label>
                  </h5>
                </div>

                <div class="form-group col-md-4" >
                  <span class="control-label col-sm-2 mplabel"> Credit Period: </span>
                  <h5>
                    <label class="col-sm-10">
                      <div class="col-md-6">
                        {{poDetail.distributor.originalObject.creditPeriod }}
                      </div>
                    </label>
                  </h5>
                </div>

                <div class="form-group col-md-4">
                  <span class="control-label col-sm-2 mplabel">Contact Number: </span>
                  <h5>
                    <label class="col-sm-10">
                      <div class="col-md-6">
                        {{poDetail.distributor.originalObject.contactNumber}}
                      </div>
                    </label>
                  </h5>
                </div>
              </div>
            </div>

            <!-- DEtail Page start-->

            <div class="form-container" ng-if="poId!=undefined">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="control-label col-sm-3 mplabel">Agency Name : </span> 
                    <h5>
                      <label class="col-sm-9">
                        <div class="col-md-6">
                          {{poDetail.distributor.agencyName}}
                        </div>
                      </label>
                    </h5>
                  </div>
                  <div class="form-group">
                    <span class="control-label col-sm-3 mplabel">Contact Person : </span> 
                    <h5>
                      <label class="col-sm-9">
                        <div class="col-md-6">
                          {{poDetail.distributor.ownerName}}
                        </div>
                      </label>
                    </h5>
                  </div>
                  <div class="form-group">
                    <span class="control-label col-sm-3 mplabel">Contact Number : </span> 
                    <h5>
                      <label class="col-sm-9">
                        <div class="col-md-6">
                          {{poDetail.distributor.contactNumber}}
                        </div>
                      </label>
                    </h5>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <span class="control-label col-sm-3 mplabel">Credit Period : </span> 
                    <h5>
                      <label class="col-sm-9">
                        <div class="col-md-6">
                          {{poDetail.distributor.creditPeriod ? poDetail.distributor.creditPeriod : 0 | number}} Months
                        </div>
                      </label>
                    </h5>
                  </div>
                  <div class="form-group">
                    <span class="control-label col-sm-3 mplabel">Other Details : </span> 
                    <h5>
                      <label class="col-sm-9">
                        <div class="col-md-6">
                          {{poDetail.distributor.otherDetails}}
                        </div>
                      </label>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

          
            <table>
              <div class="table" >
                <tr>
                  <thead>
                    <th>Product Name </th>
                    <th>Quantity <label class="mplabel"></label> </th>
                    <th style="widht:300px;">Action </th>
                  </thead>
                </tr>

                <tr ng-repeat="(itemKey, itemDValue) in poDetail.PurchaseOrderItem track by $index">
                  <td> 
                    <span>{{itemDValue.product.name}} {{itemDValue.product.dosage}}</span>
                    <span ng-if="itemDValue.product.deleted" class="text-danger">(Deleted)</span> 
                  </td>
                  <td>
                    <span ng-if="!(editRecordId === $index)">{{itemDValue.quantity}} </span>
                    <input type="number" min="0" ng-if="(editRecordId === $index)" ng-model="itemDValue.quantity" />
                  </td>  
                  <td>
                    <span class="glyphicon glyphicon-pencil" 
                    style="color:blue; margin:0 5px;"
                    ng-if="!(editRecordId === $index)"
                    ng-click="changeEditMode($index)">
                    </span>

                    <span ng-disabled="!saveValidate()" class="glyphicon glyphicon-saved"
                    style="color:green; margin:0 5px;" ng-click="changeEditMode($index)" 
                    ng-if="(editRecordId === $index)"></span>

                    <span  ng-if="!isReadOnly">
                      <div class="glyphicon glyphicon-remove" style="color:red;" ng-click="deleteItems($index)" > </div>
                    </span>

                  </td>
                </tr>

                <tr ng-if="poId==undefined">
                  <td>
                    <div> 
                      <angucomplete id="poItem" placeholder="Minimum 3 characters" selectedobject="newPo.product" url="/autocomplete/productName/" datafield="data" titlefield="name,dosage" minlength="3" inputclass="form-control">
                      </angucomplete>
                    </div>
                  </td>
                  <td>
                    <div>
                      <input class="form-control" ng-change="addPoValidated()" placeholder="Enter product quantity" id="inputdefault" type="number" name="quantity" ng-model="newPo.quantity" ng-readonly="isReadOnly" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  min="0" max="99999" >
                      <span style="color:red" ng-show="newPo.quantity.$dirty && newPo.quantity.$invalid">
                        <span ng-show="newPo.quantity.$error.required"> Field is required..!</span>
                        <span class="error" ng-show="po_form.quantity.$error.max">
                          Maximum 5 digits !</span> 
                        </span>
                      </div>
                    </td>
                    <td >
                      <div style="widht:400px !important;">
                        <button type="button" ng-if="!isReadOnly" ng-disabled="!addPoValidated()" style="cursor: pointer; margin-right:20px;" class="btn btn-info glyphicon glyphicon-plus" value="+"  ng-click="addPoItems()"></button> 
                      <button type="button" class="btn btn-info" ng-if="!isReadOnly" style="cursor: pointer;" ng-click="addProduct()"> Add New Product</button>
                      </div>
                    </td>
                  </tr>
                </div>
              </table>

              <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6" ng-if="poId==undefined">
                  <center><button type="submit"
                  class="btn btn-info"
                  ng-disabled="!(poDetail.distributor.originalObject.id && poDetail.PurchaseOrderItem.length) "
                  ng-click="poSubmit()">
                  <i><b>Submit</b></i>
                  </button></center>
                </div>
                <div class="col-md-3"></div>
              </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>