<style>
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
body, h1, h2, h3, h4, h5, h6{
  font-family: 'Arial';
}
</style>

<script type="text/javascript" src="scripts/third-party/jquery-1.11.3.min.js"></script>

<div class="row" ng-init="getPoDetail()">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="border:1px #CCC solid;" ng-init="isLogin()">   
    <div id="dvContainer">
      <div class="col-md-12" style="font-size:15px; border-bottom:1px #CCC solid">
        <center>{{currentUser.ShopName}}<br> {{currentUser.streetAddress}}, {{currentUser.city}}, {{currentUser.state}} - {{currentUser.pinCode}}</center>
      </div>   
      <div class="row">
        <div class="col-xs-5">
          <div>
            <p><b>Agency Name: </b>{{poDetail.distributor.agencyName}}<br> 
             <b>Owner Name:</b> {{poDetail.distributor.ownerName}} <br>
             <b>Contact Number:</b> {{poDetail.distributor.contactNumber}}<br>
             <b>Credit Period:</b> {{poDetail.distributor.creditPeriod ? poDetail.distributor.creditPeriod : 0 | number}} Months<br>
             <b>Other Details:</b> {{poDetail.distributor.otherDetails}}</p>
           </div>
         </div>
         <div class="col-xs-5 col-xs-offset-2 text-right">
          <div>
            <div>
              <p><b>Date:</b> {{poDetail.createdAt.date}} <br><b>Served By:</b> {{poDetail.user.name}} <br> <b>Receipt No:</b> {{poDetail.id}}</p>
            </div>
          </div>
        </div>
      </div>

      <table class="table-responsive" border="1" style="margin-bottom:0px;">
        <thead>
          <tr>
            <td><b>Drug Name</b></td>
            <td><b>Qty</b></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(itemKey, itemDValue) in poDetail.purchaseOrderItem track by $index">
            <td>{{itemDValue.product.name}} {{itemDValue.product.dosage}}</td>
            <td>{{itemDValue.quantity}}</td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-12" style="font-size:11px; border-top:1px #CCC solid;">
        <center>Copyright @ BISoft Tech Solution LLP</center>
      </div>
    </div>   
  </div>

  <div class="col-md-2"><input type="button" class="btn add-button pull-left " value="x"
    ng-click="addPo()" />
  </div>

</div> 

<div class="row">
  <center>
    <div class="col-sm-12" style="margin-top:2%;">
      <center><input type="button"
       class="btn btn-info"
       ng-click="btnPrint()"
       value="Print">
      </center>
    </div>
  </center>
</div>