<form name="update_return_form" novalidate class="css-form container-fluid" ng-init="getSelectedItem()">
    <div class="row" ng-init="validate()" >
        <!--{{currentItem}}-->
        <div class="form-group">
            <label for="notes"><b> Notes </b></label>

            <textarea  class="form-control" placeholder="Notes" ng-model="currentItem.extraNotes" name="notes" id="notes" style="border-radius:10px;height:50px;width:180px;" class="form-control" ></textarea>
        </div>

        <div class="form-group">
            <label for="status"><b> Status </b></label>
            <select class="form-control"  ng-model="currentItem.status" required id="status" name="status" ng-options="value as value for value in returnStatus">
                <option value="">-Status-</option>
                <!--<option ng-repeat="value in returnStatus" >-->
                    <!--{{value}}-->
                <!--</option>-->
            </select>
        </div>

        <div class="form-group" ng-if="currentItem.status=='replace'">
            <label for="replaceInvoiceId"><b> Replcae Invoice Id</b></label>
            <input class="form-control form-controlAddDist" id="replaceInvoiceId" placeholder="Replace Invoice Id" type="text" name="replaceInvoiceId" ng-model="currentItem.replaceInvoiceId" required >
        </div>

        <center>
            <button type="button" class="btn btn-info"
                    ng-click="updateReturnItem();"
                    ng-disabled="update_return_form.$invalid">Change Status</button>
        </center>
    </div>
</form>