<div class="container-fluid">
    <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right"
                        href="#/admin/return"
                        role="button"></a>
<div class="row-fluid" ng-init="invoiceId()">
  <!-- <form class="form-horizontal" role="form">  -->

                    <!-- <div class="row mptitle" > -->
                        <h4 class="mptitle">Add Return Details</h4>
                        
                    <!-- </div> -->

      <div class="form-container">               
        <form name="ret_form" novalidate class="css-form container-fluid">
          <div class="row" ng-init="validate()">
            <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <span class="control-label col-sm-2 mplabel"> Purchase Invoice No. : </span>

                            <label class="col-sm-2">
                                    <div class="form-group">
                                    <select class="form-control" ng-change="invoiceItemDtl(newData.invoiceItemId)" ng-model="newData.invoiceItemId" required>
                                        <option ng-repeat="value in getData.invoiceId">
                                        {{value}}
                                        </option>
                                    </select>


                                    <!--  <ui-select ng-model="newData.invoiceItemId" style="width:155px;"
                                                ng-change="invoiceItemDtl(newData.invoiceItemId)"
                                                theme="selectize" ng-click="newData.invoiceItemId" ng-disabled="disabled" required>
                                                <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
                                                    <ui-select-choices repeat="type in returnItem | filter: $select.search">
                                                        <span ng-bind-html="type | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                        </ui-select>
 -->
                                       <!--  <angucomplete 
                                                selectedobject="newData.invoiceItemId"
                                                url="/autocomplete/invoice/1"
                                                ng-change="invoiceItemDtl(newData.invoiceItemId)"
                                                datafield="data.id"
                                                titlefield="id"
                                                minlength="1"
                                                tabindex="1"
                                                autoFocus=true
                                                inputclass="form-control form-control-small">
                                        </angucomplete> -->


                                       <!--  <input class="form-control" 
                                            type="number"
                                            ng-change="invoiceItemDtl(newData.invoiceItemId)"
                                            ng-model="newData.invoiceItemId">  -->
                                    </div>
                            </label>     
                </div>
            </div>
                

<div class="row" ng-if="newData.invoiceData.invoiceItems">
       <table class="table sticky" >
          <thead>
            <tr>
              <th>Product Name</th>
              <th>MRP</th>
              <th>Expiry Date</th>
              <th>Extra Notes</th>
              <th>Return Reason</th>
              <th>Quantity</th>
              <!-- <th>Status</th> -->
              <!-- <th>Replace Invoice Id</th> -->
              <th></th>
            </tr>          
          </thead>
<!-- 
extraNotes
returnReason
quantity
invoiceItemId
productId
 -->
          <tbody>
                <tr ng-repeat="value in newData.invoiceData.invoiceItems track by $index"
            class="form-inline"> 

                <td>{{value.productName}}</td>
                <td>{{value.MRP}}</td>
                <td>{{value.expiryDate}}</td>
                <td><textarea  placeholder="Extra Notes" ng-model="value.extraNotes" name="streetAddress" style="border-radius:10px;height:50px;width:180px;" class="form-control" required></textarea></td>
                <td>
                                    <ui-select ng-model="value.returnReason" 
                                    style="width:140px;"
                                    theme="selectize" 
                                    ng-click="newData.returnReason" 
                                    ng-disabled="disabled" required>
                                        <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
                                            <ui-select-choices repeat="type in reason | filter: $select.search">
                                                <span ng-bind-html="type | highlight: $select.search"></span>
                                            </ui-select-choices>
                                    </ui-select>
                </td>
                <td><input type="number" min="0"  ng-model="value.quantity" required></td>


                <td><div class="glyphicon glyphicon-remove" 
                ng-click="deleteItems(value)"
                style="color: red;"> </div>
                </td>
            </tr>
           </tbody>
        </table>
</div>
                <center>
                  <button type="submit" class="btn btn-info" ng-disabled="ret_form.$invalid" ng-click="add();"><i><b>Submit</b></i></button>
              </center>
</div>
</div>
</form>
</div>
</div>
</div>
