<div class="container-fluid">
    <div ng-init="getReturn()">
    <div ng-if="returnData.InvoiceDetails">
    	<div class="row-fluid">
    		<form class="form-horizontal" role="form">
    			<h4 class="mptitle">Return Details</h4>
    				<div class="form-container">

                        <div class="form-group">
                            <span class="control-label col-sm-2 mplabel">Extra Notes : </span>
                            <h5>
                                <label class="col-sm-10">
                                    <div class="col-md-6">
                                        {{newData.extraNotes}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-2 mplabel">Return Reason : </span>
                            <h5>
                                <label class="col-sm-10">
                                    <div class="col-md-6">
                                        {{newData.returnReason}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                        
                        <div class="form-group">
                            <span class="control-label col-sm-2 mplabel">Return Date : </span>
                            <h5>
                                <label class="col-sm-10">
                                    <div class="col-md-6">
                                        {{newData.returnDate}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                
                	</div>
                </form>
            </div>
         
               
 		<div class="row-fluid">
    		<form class="form-horizontal" role="form">
    			<h4 class="mptitle">Invoice Details</h4>
    				<div class="form-container"> 
    				<div class="row"> 
    					<div class="col-md-6">   
                        
                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Invoice Id : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceId}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">PurchaseOrder Id : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.PurchaseOrderDetails.id}}
                                    </div>
                                </label>
                            </h5>
                        </div>

 						<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Batch Number : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.batchNumber}}
                                    </div>
                                </label>
                            </h5>
                        </div>

 						<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Quantity : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.quantity}}
                                    </div>
                                </label>
                            </h5>
                        </div>

 						<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Expiry Date : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.expiryDate}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                            
                       <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Purchase Price : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.purchasePrice}}
                                    </div>
                                </label>
                            </h5>
                        </div>

 						<!--<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Selling Price : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{returnData.InvoiceDetails.sellingPrice}}
                                    </div>
                                </label>
                            </h5>
                        </div>-->
                    </div>

                    <div class="col-md-6">
 						<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">MRP: </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.MRP}}
                                    </div>
                                </label>
                            </h5>
                        </div>

    					<!--<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Sell Discount : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{returnData.InvoiceDetails.sellDiscount}}
                                    </div>
                                </label>
                            </h5>
                        </div>-->

    					<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Purchase Discount : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.sellingPrice}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Sell Discount : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.purchaseDiscount}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        <!--<div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Margin : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newdatA.InvoiceDetails.margin}}
                                    </div>
                                </label>
                            </h5>
                        </div>-->

                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Product Name : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.productName}}
                                    </div>
                                </label>
                            </h5>
                        </div>
                        
                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Manufacturing Date : </span>
                            <h5>
                                <label class="col-sm-8">
                                    <div class="col-md-6">
                                        {{newData.InvoiceDetails.mfgDate}}
                                    </div>
                                </label>
                            </h5>
                        </div>

                        
                     </div>
                    </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div ng-if="!returnData.InvoiceDetails">
    <form class="css-form container-fluid">
		<div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label><b> Extra Notes </b></label><br>
                    <textarea rows="1" cols="20" 
                              ng-model="newData.extraNotes" 
                              style="border-radius:10px" 
                              class="form-control">
                    </textarea>
                </div> 
            </div>
                
            <div class="form-group">
                <div class="col-md-12">
                    <label><b> Return Reason </b></label>
                    <select 
                    class="form-control" 
                    ng-model="newData.returnReason">
                      <option value="defected">Defected</option>
                      <option value="expire">expire</option>          
                    </select>
                </div>
            </div>
                
            <div class="form-group">
                <div class="col-md-6">
                    <label><b> Purchase Order Id </b></label>
                    <input class="form-control" 
                    type="number" 
                    ng-model="newData.puchaseOrderId">	
                </div> 
                <div class="col-md-6">
                    <label><b> Invoice Item Id  </b></label>
                    <input class="form-control" 
                    type="number"
                    ng-change="invoiceItemDtl(newData.invoiceItemId)"
                    ng-model="newData.invoiceItemId">	
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-6">
                    <label><b> Quantity </b></label>
                    <input class="form-control" 
                    type="number" 
                    ng-model="newData.quantity">	
                </div> 
                <div class="col-md-6">
                    <label><b> Return Date  </b></label>
                    <input ui-date-format="dd-mm-yy" 
                    ui-date="dateOptions"  
                    style="width:170px" 
                    placeholder="Enter Date" 
                    class="form-control" 
                    ng-model="newData.returnDate">	
                </div>
            </div>        
            <table ng-if="newData.invoiceData.invoiceItems">
                <tr>
                <td>productName</td>
                <td>MRP</td>
                <td>expiryDate</td>
                <td>quantity</td>
                <td></td>
                </tr>
                <tr ng-repeat="value in newData.invoiceData.invoiceItems track by $index" 
                ng-init="tempAdd(value)">
                <td>{{value.productName}}</td>
                <td>{{value.MRP}}</td>
                <td>{{value.expiryDate}}</td>
                <td><input type="text" value="{{value.quantity}}"></td>
                <td><div class="glyphicon glyphicon-remove" 
                ng-click="deleteItems($index)" 
                style="color: red;"> </div>
                </td>
                </tr>
                </table>    
            <center>
                <button type="button" 
                class="btn btn-primary" 
                ng-click="add();">Add Return Order</button>
            </center>
            
		</div>
    </form>
</div>

<!--<div ng-if="!returnData.InvoiceDetails">
			<form>
		<div class="row" style="border:1px #CCC solid">
			<div class="row" style="border:1px #CCC solid">
				<div class="col-md-1" style="border:1px #CCC solid"></div>
				<div class="col-4" style="border:1px #CCC solid">
					<label for="inputdefault"><b> Extra Notes :</b></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"> </div>
				
					<input type="text" ng-model="newReturnn.extraNotes">	
			
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-4">
					<label for="inputdefault"><b> Return Reason :</b></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"> </div>
					<input type="radio" value="defected" ng-model="newReturnn.returnReason">Defected
                    <input type="radio" value="expire" ng-model="newReturnn.returnReason">expire
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-4">
					<label for="inputdefault"><b> Quantity :</b></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				
					<input type="text" ng-model="newReturnn.quantity">	
			
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-4">
					<label for="inputdefault"><b> Invoice Item Id :</b></label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
					<input type="text" ng-model="newReturnn.invoiceItemId">
			
			</div>
            
            <center>
            <button type="button" class="btn btn-primary" 
            ng-click="add();">Add Return Order</button>
          </center>
            
		</div>

</form>
</div>-->
