<div class="container-fluid">

    <div class="pull-right">
        <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right"
           href="#/admin/return"
           role="button"></a>

    </div>

    <div class="row-fluid" ng-init="getReturn()">
        <h4 class="mptitle">#{{returnId}} Return Details ({{returnData.createdAt.date | date:'medium'}})</h4>

        <div class="form-container" style="padding: 1%">
            <h4 class="mptitle">Invoice: #{{returnData.invoice.id}}</h4>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span class="control-label  ">Parcel : </span>
                        <label >
                                #{{ returnData.invoice.parcelNumber }}
                       </label>
                </div>
                <div class="form-group col-sm-4">
                    <span class="control-label ">Purchase Order: </span>
                        <label >
                                #{{ returnData.invoice.purchaseOrderId }}
                        </label>
                </div>
                <div class="form-group col-sm-4">
                    <span class="control-label  ">Invoice Date: </span>
                        <label >
                                {{ returnData.invoice.invoiceDate | date:'medium' }}
                        </label>
                </div>
            </div>
            <h4 class="mptitle">Return Items</h4>
            <div class="row-fluid">
                <table >
                    <tr>
                        <thead>
                        <th>Product Name </th>
                        <th>Extra Notes</th>
                        <th>Return Reason</th>
                        <th>Quantity</th>
                        <th>MRP(Rs.)</th>
                        <th>Status:</th>
                        <th>Replaced in Invoice</th>
                        <th></th>
                        </thead>
                    </tr>
                    <tr ng-repeat="items in returnData.purchaseOrderItems track by $index">
                        <td >{{ items.productName}} {{ items.product.dosage}}</td>
                        <td> {{ items.extraNotes }} </td>
                        <td> {{ items.returnReason }} </td>
                        <td> {{ items.quantity }} </td>
                        <td> {{ items.InvoiceDetails.MRP}} </td>
                        <td class="text-capitalize"> {{ items.status }} </td>
                        <td><span  ng-if="items.replaceInvoiceId!=0 && items.replaceInvoiceId">{{ items.replaceInvoiceId }}</span>  </td>
                        <td><span ng-if="items.status=='In Progress'"  class="glyphicon glyphicon-pencil"
                                  aria-hidden="true"
                                  style="color:blue"
                                  ng-click="editReturnItem(items,$index)"></span></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
