<ui-view>
<div class="container-fluid">

  <div class="row-fluid" ng-init="getReturn()" >
      <div class="table-header">
        <div class="row">
          <div class="col-md-3">
            <form class="form-inline" 
              ng-model="limit" 
              ng-submit="search(str)">
                <input class="form-control" 
                type="text" 
                ng-model="str"
                ng-change="changeSearch(str)"
                placeholder="Search"/>
              <span class="glyphicon glyphicon-search pointer" style="color:silver;" ng-click="search(str)" ></span>
              </form>
          </div>

<form name="rep_formm" novalidate>
                <div class="col-md-2">
                  <input ui-date-format="dd-mm-yy" ui-date="fromDate"  
                  class=" form-control dateP" 
                  placeholder="From Date (DD-MM-YYYY)"  
                  name="fromDate" 
                  ng-change="addPiValidated()" 
                  ng-model="newReport.fromDate" style="color:black;" required>

                </div>

                <div class="col-md-2">
                  <input ui-date-format="dd-mm-yy" ui-date="toDate" 
                  class=" form-control dateP" 
                  placeholder="To Date (DD-MM-YYYY)" 
                  ng-change="addPiValidated()"
                  name="toDate"  
                  ng-model="newReport.toDate" style="color:black;" required>

                </div>
                       
              <div class="col-md-2">
                <button class="glyphicon glyphicon-download-alt download" style="border:none; background-color: white;" 
                    ng-click="downloadDisable()" ng-disabled="rep_formm.$invalid"> 
                </button>
              </div>
</form>


              <div class="container-fluid ng-scope" style="padding-top: 1px;">
                 <input type="button" class="btn btn-info add-button1 pull-right" value="+" ng-click="addDialog()"/>
              </div>
        </div>
      </div>

    	 <table class="table sticky" style="word-wrap: break-word; width:100%; table-layout:fixed;">
            <thead>
              <tr>
                    <th style="width:5%">#</th>
                    <th style="width:5%">Return Id</th>
                    <th style="width:5%">Invoice Id</th>
                    <th style="width:15%">Date</th>
                  <th style="width:10%">No of Itmes</th>
                  <th style="width:40%">Status</th>
                  <th style="width:10%">Total Amount</th>
                  <th style="width:10%">Refund/Loss</th>


              </tr> 
            </thead>         
              <!-- ng-click="showDetails(dataValue.id)" -->
              <tr ng-repeat="(dataKey,dataValue) in returnData | orderObjectBy : 'id' : true"  ng-click="showDetails(dataValue.id)" style="cursor:pointer">

                  <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
                    <td>
                       <span> {{dataValue.id}}</span>
                    </td> 

                    <td >
                       <span>{{dataValue.invoiceId}}</span>
                      
                    </td>
                    
                    <td >
                       <span>{{dataValue.createdAt.date | date:'medium'  }}</span>

                    </td>
                  <td>
                      <span>{{dataValue.noOfItems}}</span>
                  </td>
                  <td >
                      <span>{{dataValue.status}}</span>
                  </td>
                  <td >
                      <span>{{dataValue.totalAmount}}</span>
                  </td>
                  <td >
                      <span>{{dataValue.refundOrLossAmt}}</span>
                  </td>



             </tr>

          </table>
  </div>

  <!-- Start pagination Code -->
  <div class="container-fluid">
    <div class="row">
      <div class="pull-left">
         Showing
          <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getReturn()">
            <ui-select-match>{{$select.selected}} </ui-select-match>
            <ui-select-choices repeat="type in paginate | filter: $select.search">
            <span ng-bind-html="type | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select> records out of {{pagination.total}}
      </div>
       <div class="btn-toolbar pull-right" role="toolbar" 
       ng-if="pagination.total> pagination.perPage">
          <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-default"
                    ng-class="{'active':currentPageNo==pageNo+1}"
                    ng-click="setPage(pageNo+1)" 
                    ng-repeat="pageNo in [] | range:pagination.lastPage">
                    {{pageNo+1}}
          </button>
          </div>
      </div>
    </div>
  </div>
   <!-- End pagination -->

</div> <!-- container-fluid -->
</ui-view>