<form name="branch_form" novalidate class="css-form container-fluid"> 
  <div class="row" ng-init="validate()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b> Branch Name </b></label>
          <input id="inputdefault" type="text" name="branchName" ng-model="newBranch.branchName" required ng-pattern="/^[a-zA-Z\s]*$/">
          <p ng-show="branch_form.branchName.$invalid && !branch_form.branchName.$pristine" class="help-block">Only Characters are required.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b> Registration Number </b></label>
          <input id="inputdefault" type="text" name="registrationNumber" ng-model="newBranch.registrationNumber" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b> Shop Act Number </b></label>
          <input id="inputdefault" type="text" name="shopActNumber" ng-model="newBranch.shopActNumber">
        </div>
      </div>
      <div class="col-md-6">   
        <div class="form-group">
          <label for="inputdefault"><b>VAT Number</b></label>
          <input id="inputdefault" type="text" name="vatNumber" ng-model="newBranch.vatNumber">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b>CST Number</b></label>
          <input id="inputdefault" type="text" name="cstNumber" ng-model="newBranch.cstNumber">
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="form-group">
          <label for="inputdefault"><b>LBT Number</b></label>
          <input id="inputdefault" type="text" name="lbtNumber" ng-model="newBranch.lbtNumber">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b>Address</b></label>
          <input id="inputdefault" type="text" name="address" ng-model="newBranch.address">
        </div>
      </div>
      <div class="col-md-6">   
        <div class="form-group">
          <label for="inputdefault"><b>User Drug Licence Number</b></label>
          <input id="inputdefault" type="text" name="userDrugLicenseNumber" ng-model="newBranch.userDrugLicenseNumber">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputdefault"><b>Tin Number</b></label>
          <input id="inputdefault" type="text" name="tinNumber" ng-model="newBranch.tinNumber">
        </div>
      </div>
      <div class="col-md-6">   
        <div class="form-group">
          <label for="inputdefault"><b>Contact Number</b></label>
          <input id="inputdefault" type="text" name="contactNumber" ng-model="newBranch.contactNumber">
        </div>
      </div>
    </div> 
    <div class="form-group">
      <label for="inputdefault"><b>Shop Id</b></label>
      <input id="inputdefault" type="text" name="shopId" ng-model="newBranch.shopId">
    </div>
    <center>
      <button type="button" class="btn btn-primary" ng-click="addNewBranch();" ng-disabled="Branch_form.$invalid">Add Branch</button>
    </center>
  </div>
</form>

<script>
.directive('onlyDigits', function () {
    return {
      require: 'ngModel',
      restrict: 'A',
      link: function (scope, element, attr, ctrl) {
        function inputValue(val) {
          if (val) {
            var digits = val.replace(/[^0-9.]/g, '');
            if (digits !== val) {
              ctrl.$setViewValue(digits);
              ctrl.$render();
            }
            return parseFloat(digits);
          }
          return undefined;
        }            
        ctrl.$parsers.push(inputValue);
      }
    };
</script>