<form name="shop_form" novalidate class="css-form container-fluid">
    <div class="row" ng-init="validate()">
	   <div class="form-group">
            <label for="inputdefault"><b> Shop Name </b></label>
            <input class="form-control" id="inputdefault" type="text" name="brandName" ng-model="newShops.brandName" required>
            <span style="color:red" ng-show="shop_form.brandName.$dirty && shop_form.brandName.$invalid">
            <span ng-show="shop_form.brandName.$error.required"> Name is required..!
            </span>
            </span>
        </div> 
        <div class="form-group">
            <label for="inputdefault"><b> Admin Id </b></label>
            <input class="form-control" id="inputdefault" type="text" name="superAdminId" ng-model="newShops.superAdminId" required>
            <span style="color:red" ng-show="shop_form.superAdminId.$dirty && shop_form.superAdminId.$invalid">
            <span ng-show="shop_form.superAdminId.$error.required"> Name is required..!
            </span>
            </span>
        </div>
        <center>
            <button type="button" class="btn btn-primary" ng-click="addNewShops();" ng-disabled="shop_form.$invalid">Add Shop</button>
        </center>
    </div>
</form>