<header></header>
<div class="row"> 
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
        <div class="row shopName"  ng-repeat="branch in user.UserBranchDetails" ng-class="{'shop-active' : userSelectedBranch.id==branch.id }" ng-click="selectBranch(branch)">
            <h2 style="padding: 5px;margin: 5px;">{{branch.branchName}}</h2>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-4">
            <div class="row" style="padding: 5px;margin: 5px">
                <input type="button" class="btn btn-info pull-right" value="Add New Branch" ng-click="add();" />
            </div> 
        </div>    
    </div>
</div>