.btnDefault
{
    width: 180px !important;
}

.addDistLine
{
    line-height: 0.1 !important;
}

.selectbtn-group>.btn:first-child{
    width: 200px;
    text-align: left;
}

#alert{
    width: 200px;
 }
.tooltip{
    max-width: 750px !important;
    /* If max-width does not work, try using width instead */
    width: 750px !important; 
}

#scrollbar{
    max-height: 550px; 
    overflow-x: hidden; 
    overflow-y: auto;
}
.custPie
{
    width: 800px !important;
    height:380px !important;
}
.custPie1
{
    width: 250px !important;
    height:125px !important; 
}

.download{
    font-size: 20px; 
    color:green;
    padding-top:8px;
}

.nv-legendWrap{
    text-align:center !important;
}

#selectmenu1 {
        width:100px;
        height: 25px;
        background-color:#FAF7F7;
        border-radius:5px;
      
    }
#pagi{
    border-radius: 10px;
    width: 60px;
   display: inline-block;
}

.growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

.growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

.textwidth2{

    width: 50px;
}

.textWidthL{

    width: 200px;
}
.textWidthPro{
    width: 50px
}
.textWidth{

    width: 110px;
}

.glyphicon{
    cursor: pointer;
}

.tablePoint{

    cursor:pointer;
  }

.padding-10
{
    padding: 5px;
}

.margin-10
{
    margin: 5px;
}

.width-40
{
    width: 20% !important;
}

.pointer
{
    cursor: pointer;
}
.add-button1
{
    border-radius: 121px;
    font-size: 29px;
    padding: 0px;
    width: 45px;
    box-shadow:1px 1px 5px silver;
    font-weight: 500;
}
.add-button
{
    border-radius: 105px;
    font-size: 25px;
    padding: 0px;
    width: 44px;
    box-shadow:1px 1px 5px silver;
}

.download-button
{
    border-radius: 200px;
    padding: 2px;
    width: 46px;
    margin-top: 2%;  
}
.date{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}
.date{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;
}

.selectType{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}
.selectType{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;
}
.sitemap hr {
margin-top:0px;
margin-bottom:0px;
}
.add-button:focus
{
    outline:0;
}

.dateP
{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;
}

input[type="text"]{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;
}

input[type="number"]{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}
input[type="number"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5bc0de;
    background-color: transparent;
}

input[type="password"]{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}
input[type="password"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5bc0de;
    background-color: transparent;
}

input[type="text"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5bc0de;
    background-color: transparent;
}

input[type="date"]{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}
input[type="date"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5bc0de;
    background-color: transparent;
}

input[type="email"]{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid silver;
    background-color: transparent;

}

input[type="email"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5bc0de;
    background-color: transparent;
}

.blur
{
    opacity: 0.5;
}

.mptitle
{
    padding: 5px;
    border-bottom: 1px solid #31bc86;
}

.mptitleAddBill
{
    padding: 3px;
    border-bottom: 1px solid #31bc86;
}

.mplabel
{   
    padding-top: 13px;
    color: gray;
    font-weight: 0 !important;
    text-align: left !important;
}
.mplabel1
{
     color: gray;
    font-weight: 0 !important;
    text-align: left !important;  
    padding-top: 11px; 
}

.login-form-container
{
    padding: 10px 0;
    margin: 1px 1px;
    border: 4px solid #ffffff;
    box-shadow: 0px 3px 5px #87CEEB;
    width: 300px;
    height: 250px;
    margin-left: 37%;
    background-color: #ffffff;

}
.form-controlAddDist
{
    height: 25px !important;
    font-size: 14px !important;
}

.rowcenter{
    margin-top: 10%;

}

.containerL{
    background-color: #ffffff;
    height: 1000px;
}

.form-container
{
    padding: 20px 0;
    margin: 20px 0;
    border: 1px solid #f6f6f6;
    box-shadow: 0px 0px 1px #f6f6f6;
}

.form-containerAddBill
{
    padding: 20px 0;
    padding-bottom: 1px;
    margin: 10px 0;
    border: 1px solid #f6f6f6;
    box-shadow: 0px 0px 1px #f6f6f6;
}

.navbar {
    margin-bottom:0;
}

.subnav {
    margin:0;
    top: 0px;
    z-index: 1020;
    background-color: rgb(247,247,247);
    border-bottom: 1px solid #E1E1E1;
    padding: 8px 0px 0px 0px;
}

.subnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.shopName {
margin:10px;border: 2px solid cornflowerblue;color: cornflowerblue;cursor: pointer;    
}

.shop-active {
  background-color: cornflowerblue;
  color: white;   
}
.ui-widget-header{
    color: black;
}