<ui-view>
<div class="container-fluid">
        <div class="row-fluid" ng-init="getPurchaseInvoice()">
          <div class="table-header">
            <div class="row">
                <div class="col-md-3">
                    <form class="form-inline" ng-model="limit" ng-submit="search(str)">
                        <input class="form-control" type="text" id="search"
                        placeholder="Search" ng-model="str" ng-change="changeSearch(str)" />
                        <span class="glyphicon glyphicon-search pointer " style="color:silver;" ng-click="search(str)"></span>
                    </form>
                </div>
              <form name="rep_formm" novalidate>    
                <div class="col-md-2">
                  <input ui-date-format="dd-mm-yy" ui-date="fromDate"  
                  class=" form-control dateP" 
                  placeholder="From Date (DD-MM-YYYY)"  
                  name="fromDate" 
                  ng-change="addPiValidated()" 
                  ng-model="newReport.fromDate" style="color:black;" required>
                </div>

                <div class="col-md-2">
                  <input ui-date-format="dd-mm-yy" ui-date="toDate" 
                  class=" form-control dateP" 
                  placeholder="To Date (DD-MM-YYYY)" 
                  ng-change="addPiValidated()"
                  name="toDate"  
                  ng-model="newReport.toDate" style="color:black;" required>
                </div>
                        
                <div class="col-md-2">
                  <button class="glyphicon glyphicon-download-alt download" style="border:none; background-color: white;" 
                      ng-click="downloadDisable()" ng-disabled="rep_formm.$invalid"> 
                  </button>
                </div>
              </form>    
                
              <div class="container-fluid ng-scope" style="padding-top: 1px;">
                <input type="button" 
                class="btn btn-info add-button1 pull-right" 
                value="+" ng-click="addPi()" />
              </div>
            </div>
          </div>
        </div>
        <div class="tablePoint">
            <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                <tr>
                  <thead>
                  <th style="width:3%">#</th>
                  <th>Purchase Order No.</th>
                  <th>Purchase Invoice Date</th>
                  <th>Parcel No.</th>
                  <th>Distributor Name</th>
                  <th>Total Amount</th>
                  <th>Amount Paid</th>
                 </thead>		
                </tr>

                <tbody>
                   <tr ng-repeat="(piKey, piValue) in pi | orderObjectBy : 'id' : true" 
                   ng-click="showDetailInNew(piValue.id)">
                      <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"></td>
                      <td><span>{{piValue.purchaseOrderId}}</span><!--input type="text" ng-model="piValue.purchaseInvoiceId" /--></td>
                      <td><span>{{piValue.invoiceDate}}</span><!--input type="text" ng-model="piValue.invoiceDate" /--></td>
                      <td><span>{{piValue.parcelNumber}}</span><!--input type="text" ng-model="piValue.parcelNumber" /--></td>
                      <td><span>{{piValue.purchaseOrder.distributor.ownerName}}</span></td>
                      <!-- <td><span>{{piValue.user.userName}}{{piValue.userName}}</span></td> -->   
                      <td><span>{{piValue.totalAmount}}</span></td>
                      <td><span>{{piValue.amountPaid}}</span></td>
                   </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="currentView ==='addNew'">        
          <div class="form-group">
              <label for="input-lg"><b>Parcel Number</b></label>
              <input class="form-control" id="inputdefault" type="text">
          </div>

          <div class="form-group">
        	    <label for="inputlg"><b>Invoice Date</b></label>
        	    <input class="form-control" id="inputdefault" type="text">
          </div>
        
          <div class="form-group">
              <label for="inputlg"><b>User Name</b></label>
              <input class="form-control" id="inputdefault" type="text">
          </div>

        	<div class="form-group">
              <label for="inputdefault"><b> Purchase Invoice Id </b></label>
              <input class="form-control" id="inputdefault" type="text">
          </div>
	     </div>

        <!-- Start pagination Code -->
        <div class="container-fluid">
          <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
            <div class="pull-left">
             Showing
             <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getPurchaseInvoice()">
             <ui-select-match>{{$select.selected}} </ui-select-match>
             <ui-select-choices repeat="type in paginate | filter: $select.search">
             <span ng-bind-html="type | highlight: $select.search"></span>
             </ui-select-choices>
             </ui-select> records out of {{pagination.total}}
            </div>
            <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
              <div class="btn-group" role="group">
                <button type="button"
                class="btn btn-default"
                ng-class="{'active':currentPageNo==pageNo+1}"
                ng-click="setPage(pageNo+1)" 
                ng-repeat="pageNo in [] | range:pagination.lastPage">
                {{pageNo+1}}
                </button>
              </div>
            </div>
          </div>
          <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
        Showing {{pagination.total}} records 
        </div>
        </div>
        <!-- End pagination -->
</div>
</ui-view>