<div class="container-fluid">
    <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right"
                        href="#/admin/purchaseInvoice"
                        role="button"></a>
    <div ng-init="getPiDetail()">
        <div class="row-fluid">
            <div class="row-fluid" ng-if="piDetail.purchaseOrder">
            <h4 class="mptitle">Distributor Details</h4>
                <div class="form-container">
                <div class="container-fluid">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="hidden" ng-model="piDetail.purchaseOrder.distributor.id" ng-readonly="isReadOnly">

                                <div class="form-group">
                                    <span class="control-label col-sm-4 mplabel1">Agency Name: </span>
                                    <h5>
                                        <label class="col-sm-8">
                                            <div class="col-md-6">
                                                {{ piDetail.purchaseOrder.distributor.agencyName }}
                                            </div>
                                        </label>
                                    </h5>
                                </div>
                                <div class="form-group">
                                    <span class="control-label col-sm-4 mplabel1">Licence Number: </span>
                                    <h5>
                                        <label class="col-sm-8">
                                            <div class="col-md-6">
                                                {{piDetail.purchaseOrder.distributor.authorisedDistributor}}
                                            </div>
                                        </label>
                                    </h5>
                                </div>
                                <div class="form-group">
                                    <span class="control-label col-sm-4 mplabel1">Contact Person: </span>
                                    <h5>
                                        <label class="col-sm-8">
                                            <div class="col-md-6">
                                                {{ piDetail.purchaseOrder.distributor.ownerName }}
                                            </div>
                                        </label>
                                    </h5>
                                </div>
                                <div class="form-group">
                                    <span class="control-label col-sm-4 mplabel1">Contact Number: </span>
                                    <h5>
                                        <label class="col-sm-8">
                                            <div class="col-md-6">
                                                {{ piDetail.purchaseOrder.distributor.contactNumber }}
                                            </div>
                                        </label>
                                    </h5>
                                </div>
                                 <div class="form-group">
                                    <span class="control-label col-sm-4 mplabel1">Credit Period (In Days): </span>
                                    <h5>
                                        <label class="col-sm-8">
                                            <div class="col-md-6">
                                                {{ piDetail.purchaseOrder.distributor.creditPeriod }}
                                            </div>
                                        </label>
                                    </h5>
                                </div>
                            </div>
                          
                            <div class="col-md-6">
                              <div class="form-group">
                                <span class="control-label col-sm-4 mplabel1">TIN: </span>
                                <h5>
                                    <label class="col-sm-8">
                                        <div class="col-md-6">
                                            {{ piDetail.purchaseOrder.distributor.TIN }}
                                        </div>
                                    </label>
                                </h5>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-sm-4 mplabel1">CST: </span>
                                <h5>
                                    <label class="col-sm-8">
                                        <div class="col-md-6">
                                            {{ piDetail.purchaseOrder.distributor.CST }}
                                        </div>
                                    </label>
                                </h5>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-sm-4 mplabel1">VAT: </span>
                                <h5>
                                    <label class="col-sm-8">
                                        <div class="col-md-6">
                                            {{ piDetail.purchaseOrder.distributor.vatNumber }}
                                        </div>
                                    </label>
                                </h5>
                            </div>
                            <div class="form-group">
                                <span class="control-label col-sm-4 mplabel1">Expiry Duration (In Months): </span>
                                <h5>
                                    <label class="col-sm-8">
                                        <div class="col-md-6">
                                            {{ piDetail.purchaseOrder.distributor.expiryDuration }}
                                        </div>
                                    </label>
                                </h5>
                            </div>
                        </div>
                      </div>
                  </form>
              </div>
              </div>
            </div>
         
            <div class="row-fluid" >
                 <form class="form-horizontal" role="form">           
                    <table ng-if="piDetail.id">
                        <tr>
                            <thead>
                                <th>Product Name: </th>
                                <th>Batch Number:</th>
                                <th>Quantity:</th>
                                <th>Manufacturing Date:</th>
                                <th>Expiry Date:</th>
                                <th>Purchase Price:</th>
                                <th>MRP:</th>
                            </thead>
                        </tr>
                        <tr ng-repeat="value in piDetail.invoiceItems" 
                        ng-init="getProduct(value.productId)">
                            <td >{{ value.productName}} {{ value.product.dosage}}</td>
                            <td> {{ value.batchNumber }} </td>
                            <td> {{ value.quantity }} </td>
                            <td> {{ value.mfgDate }} </td>
                            <td> {{ value.expiryDate }} </td>
                            <td> {{ value.purchasePrice }} </td>
                            <td> {{ value.MRP }} </td>
                        </tr>
                    </table>

                    <div class="form-container" style= "margin: 0px 0px;" ng-if="!piDetail.purchaseOrder">
                        <div class="container-fluid" ng-if="!piDetail.purchaseOrder">

                            <div class="row">
                                <div class="col-md-3 mplabel">Enter Purchase Order No: </div>
                                <div class="col-md-3" ng-if="!dataPi.po.originalObject.id">
                                    <angucomplete id="distributor"
                                            selectedobject="dataPi.po"
                                            url="/autocomplete/purchaseOrder/"
                                            datafield="data"
                                            titlefield="id"
                                            minlength="1"
                                            tabindex="1"
                                            autoFocus=true
                                            inputclass="form-control form-control-small">
                                    </angucomplete>
                                </div>
                                                         
                    <div class="col-sm-3" ng-if="dataPi.po.originalObject.id">
                        <div class="col-md-2" >
                            <b>{{dataPi.po.originalObject.id}}</b>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" ng-click="editPurchaseOrderNo()">
                                Change Purchase Order No
                            </button>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
               </form> 
            </div>
<!-- showPi -->
            <div ng-if="dataPi.po.originalObject.id">
                <div class="row-fluid">
                    <h4 class="mptitle">Invoice Details</h4>
                </div>
                    <form name="pi_form" novalidate class="css-form form-horizontal" role="form">
                        <div class="form-container" style= "margin: 0px 0px;">
                            <div class="container-fluid">  
                                <div class="row" ng-if="!isReadOnly">
                                    <div>
                                        <div class="col-md-4">
                                            <span class="control-label col-sm-4 mplabel">Parcel Number : </span>
                                            <h5>
                                                <div class="col-sm-8">
                                                    <input id="inputdefault"
                                                            type="text"
                                                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                                            name="parcelNumber"
                                                            ng-model="dataPi.parcelNumber"
                                                            ng-readonly="isReadOnly" style="width:150px;" required>
                                                    <span style="color: red" ng-show="pi_form.parcelNumber.$dirty && pi_form.parcelNumber.$invalid">
                                                        <span ng-show="pi_form.parcelNumber.$error.required">Field is required..!</span>
                                                    </span>
                                                      
                                                    </div>
                                                </h5>
                                        </div>

                                        <div class="col-md-4">
                                            <span class="control-label col-sm-4 mplabel">Calender : </span>
                                            <h5>
                                                <div class="col-sm-8">
                                                   <input ui-date-format="dd-mm-yy" ui-date="fromDate"  style="width:150px" placeholder="Enter Date" class="date" ng-model="dataPi.invoiceDate" required>
                                                </div>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>      
    </div>
</div>

<div class="container-fluid">
    <div ng-init="getPiDetail()">
        <div ng-if="dataPi.po.originalObject.id">
            <div class="row-fluid">
                <h4 class="mptitle">Purchase Invoice Products</h4>
                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                    <thead>
                        <th style="width:16%">Product Name</th>
                        <th>Batch Number</th>
                        <th>Quantity</th>
                        <th>Manufacturing Date</th>
                        <th>Expiry Date</th>
                        <th>Price/Unit</th>
                        <th>MRP/Unit</th>
                        <th style="width:7%">Rs</th>
                        <th style="width:6%">Action</th>    
                    </thead>
                    <tr
                    ng-repeat="invoiceItem in dataPi.po.originalObject.purchaseOrderItem track by $index"
                    ng-init="addTemp(invoiceItem)">

                        <td style="width:16%">
                            {{invoiceItem.product.name}} {{invoiceItem.product.dosage}} {{invoiceItem.product.productLocation}}
                            <div ng-init="invoiceItem.productId = invoiceItem.product.id"> </div>
                        </td>    
                        <!-- 2) batchNumber -->
                        <td>
                            <input class="textwidth2"
                                ng-change="addPiValidated()"
                                id="inputdefault"
                                type="text"
                                style="width:120px"
                                name="batchNumber"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                ng-model="invoiceItem.batchNumber"
                                ng-readonly="isReadOnly" >
                                <span style="color: red" ng-show="pi_form.batchNumber.$dirty && pi_form.
                                batcNumber.$invalid">
                                <span ng-show="pi_form.batchNumber.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                        <!-- 3)quantity -->
                        <td>
                            <input type="text"  
                            style="width:80px;" 
                            ng-model="invoiceItem.quantity"
                            ng-change="dataPiI.temp(invoiceItem)">
                        </td>
                        <!-- 4) mfgDate -->
                        <td>

                            <input ui-date-format="dd-mm-yy" ui-date="mfgDate" placeholder="Enter Date" style="width:110px" class="date" ng-model="invoiceItem.mfgDate">
                        </td>
                        <!-- 5)expiryDate -->
                        <td>
                            <input ui-date-format="dd-mm-yy" ui-date="expiryDate" 
                            placeholder="Enter Date" 
                            style="width:110px" 
                            class="date" 
                            ng-model="invoiceItem.expiryDate">
                        </td>
                        <!-- 6)purchasePrice -->
                        <td>
                            <input
                                class="textwidth2"
                                ng-model="invoiceItem.purchasePrice"
                                ng-change="addPiValidated();dataPiI.temp(invoiceItem)"
                                id="inputdefault"
                                type="number"
                                style="width:100px"
                                name="purchasePrice"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                
                                ng-readonly="isReadOnly" min="0">
                            <span style="color: red" ng-show="pi_form.purchasePrice.$dirty && pi_form.batcNumber.$invalid">
                                <span ng-show="pi_form.purchasePrice.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                        <!-- 8)mrp -->
                        <td>
                            <input
                                class="textwidth2"
                                ng-model="invoiceItem.mrp"
                                ng-change="dataPiI.temp(invoiceItem)"
                                id="inputdefault"
                                type="number"
                                name="MRP"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                
                                ng-readonly="isReadOnly"
                                min="0">
                            <span style="color: red" ng-show="pi_form.MRP.$dirty && pi_form.batcNumber.$invalid">
                                <span ng-show="pi_form.MRP.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                        <td>
                            <div>{{invoiceItem.quantity * invoiceItem.purchasePrice | number}}</div>
                        </td>
                         <td style="width:6%">
                            <div class="glyphicon glyphicon-remove" style="color: red;"
                                ng-click="deleteItems($index)">
                            </div>
                         </td>
                    </tr>
                    <tr 
                        ng-repeat="value in dataPi.invoiceItems track by $index" 
                        ng-if="$index >= dataPi.po.originalObject.purchaseOrderItem.length"> 
                        <td>{{value.productName }} 
                            {{value.product.originalObject.dosage}} 
                            {{value.product.originalObject.productLocation}} </td>
                        <td>{{value.batchNumber}}</td>
                        <td>{{value.quantity}}</td>
                        <td>{{value.mfgDate}}</td>
                        <td>{{value.expiryDate}}</td>
                        <td>{{value.purchasePrice}}</td>
                        <td>{{value.mrp}}</td>
                        <td>{{value.quantity * value.purchasePrice | number}}</td>
                        <td>
                        <div class="glyphicon glyphicon-remove"
                                            style="color: red;"
                                            ng-click="deleteItems($index)"></div>
                        </td>
                    </tr>
                    
                    <tr ng-if="!isReadOnly">
                        <td>
                            <angucomplete id="productId"
                                placeholder="Minimum 3 characters"
                                selectedobject="dataPiI.product"
                                url="/autocomplete/productName/"
                                class="textwidth2"
                                datafield="data"
                                titlefield="name,dosage,productLocation"
                                minlength="3"
                                inputclass="form-control form-control-small " >
                            </angucomplete>
                        </td>
                        <!-- 2) batchNumber -->
                        <td>
                            <input class="textwidth2 form-control"
                                ng-change="addPiValidated()"
                                id="inputdefault"
                                type="text"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                style="width:120px"
                                name="batchNumber"
                                ng-model="dataPiI.batchNumber"
                                ng-readonly="isReadOnly">
                                <span style="color: red" ng-show="pi_form.batchNumber.$dirty && pi_form.batcNumber.$invalid">

                                <span ng-show="pi_form.batchNumber.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                        <!-- 3)quantity -->
                        <td>
                        <!-- {{addBillItemsForm}} -->
                            <input
                                class="textwidth2 form-control"
                                id="inputdefault"
                                ng-change="addPiValidated()"
                                type="number"
                                name="quantity"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                style="width:95px"
                                ng-model="dataPiI.quantity"
                                ng-change="dataPiI.temp(dataPiI.quantity,dataPiI.mrp)"
                                ng-readonly="isReadOnly">
                            <span style="color: red" ng-show="pi_form.quantity.$dirty && pi_form.batcNumber.$invalid">
                                <span ng-show="pi_form.quantity.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                        <!-- 4) mfgDate -->
                        <td>
                            <input ui-date-format="dd-mm-yy" 
                            ui-date="mfgDate" 
                            placeholder="Enter Date"
                             style="width:110px" 
                             class="date form-control"
                             ng-model="dataPiI.mfgDate"
                             name="mfgDate"
                            required>
                        </td>
                        <!-- 5)expiryDate -->
                        <td>
                            <input ui-date-format="dd-mm-yy" 
                            style="width:110px" 
                            ui-date="expDate" 
                            style="width:75px" 
                            placeholder="Enter Date" 
                            class="date form-control" 
                            name="expiryDate"
                            ng-model="dataPiI.expiryDate" required>
                        </td>
                        <!-- 6)purchasePrice -->
                        <td>
                            <input
                                class="textwidth2 form-control"
                                ng-change="addPiValidated();dataPiI.temp(dataPiI)"
                                id="inputdefault"
                                type="number"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                name="purchasePrice"
                                style="width:100px"
                                ng-model="dataPiI.purchasePrice"
                                name="purchasePrice"
                                ng-readonly="isReadOnly" min="0">
                            <span style="color: red" ng-show="pi_form.purchasePrice.$dirty && pi_form.batcNumber.$invalid">
                                <span ng-show="pi_form.purchasePrice.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>
                         <!-- 8)mrp -->
                        <td>
                            <input
                                class="textwidth2 form-control"
                                ng-change="addPiValidated();dataPiI.temp(dataPiI)"
                                id="inputdefault"
                                type="number"
                                name="MRP"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                ng-model="dataPiI.mrp"
                                ng-readonly="isReadOnly"
                                min="0"
                                required>
                            <span style="color: red" ng-show="pi_form.MRP.$dirty && pi_form.MRP.$invalid">
                                <span ng-show="pi_form.MRP.$error.required">Field is required..!
                                </span>
                            </span>
                        </td>

                        <td ng-init="dataPiI.rsPu=parseInt(dataPiI.quantity)+parseInt(dataPiI.mrp)" required>
                            {{dataPiI.quantity * dataPiI.purchasePrice  | number}}
                        </td> 
                        <!-- 9) margin -->
                        <td>
                            <button
                                type="button"  ng-disabled="pi_form.$invalid" style="cursor: pointer" class="btn btn-info glyphicon glyphicon-plus"
                                value="+"  ng-click="addPiItems()">
                            </button>   
                        </td>
                    </tr>
                </table>
                <hr>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:14%; text-align:right;padding-top:10px;">Total Amount : </td>
                            <td style="width:27%;">
                               <div>
                                    <div class="input-group" style="width:182px; margin-left:0%;">
                                        <div class="input-group-addon">Rs</div>
                                                        <span class="form-control" style="font-size: 20px; position: static; border:1px #CCC solid; float:left;"> 
                                                        <div style="float:right" ng-bind="getTotalAmount() | number"></div></span>
                                                        <div class="input-group-addon">.00</div>
                                                    </div>
                                    </div>
                                </div>
                            </td> 
                        </tr>
                    </thead>
                </table>
            
                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:14%; text-align:right;padding-top:10px;">Amount Paid : </td>
                            <td style="width:27%;">
                               <div>
                                    <div class="input-group" style="width:182px; margin-left:0%;">
                                        <div class="input-group-addon">Rs</div>
                                        <span style="font-size: 20px; position: static; float:left;"> 
                                            <div style="float:right">
                                                <input class="text-right" type="text" style="font-size: 20px; position: static; border:1px #CCC solid; width:100%; padding-right:5px;"
                                                        id="inputdefault"      
                                                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                                        name="amountPaid"
                                                        ng-model="dataPi.amountPaid"
                                                        ng-readonly="isReadOnly">
                                                <span ng-show="pi_form.amountPaid.$error.required" required>Field is required..!</span>
                                            </div>
                                        </span>
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                            </td> 
                        </tr>
                    </thead>
                </table>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:14%; text-align:right;padding-top:10px;">Payment Type : </td>
                            <td style="width:27%">
                                <ui-select ng-model="dataPi.paymentType" ng-click="paymentTypeStatus(dataPi.paymentType)" theme="selectize" ng-disabled="disabled" style="width: 180px;" required>
                                <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
                                <ui-select-choices repeat="type in pay | filter: $select.search">
                                <span ng-bind-html="type | highlight: $select.search"></span>
                                </ui-select-choices>
                                </ui-select>  
                            </td> 
                        </tr>
                    </thead>
                </table>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;" ng-if="dataPi.paymentType=='Cheque'">
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:14%; text-align:right;padding-top:10px;">Cheque Number : </td>
                            <td style="width:27%">
                                <input class="form-control" id="inputdefault" type="number" name="chequeNumber"
                                        ng-model="dataPi.chequeNumber" ng-readonly="isReadOnly" style="width:182px;">
                                <span style="color: red" ng-show="pi_form.chequeNumber.$dirty && pi_form.chequeNumber.$invalid" required>
                                    <span ng-show="pi_form.chequeNumber.$error.required">Field is required..! </span>
                                </span>
                            </td> 
                        </tr>
                    </thead>
                </table>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;" ng-if="dataPi.paymentType=='Cheque'">
                     <thead>
                         <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%; text-align:right;padding-top:10px;">Cheque Alert Date : </td>
                            <td style="width:27%">
                                <input ui-date-format="dd-mm-yy" ui-date="expDate"  placeholder="Enter Cheque Date"  class="date" ng-model="dataPi.alertDate" style="width:182px;" required>                       
                            </td> 
                        </tr>
                    </thead>
                </table>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;" >
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%; text-align:right;padding-top:10px;">Order Status : </td>
                            <td style="width:27%">
                                <button class="btn btn-sm" ng-click="toggleSet(1)"
                                ng-class="{'btn-info':toggle,'btn-default':!toggle}">Complete</button>

                                <button class="btn btn-sm"  ng-click="toggleSet(0)"
                                ng-class="{'btn-info':!toggle,'btn-default':toggle}">Partial</button>               
                            </td> 
                        </tr>
                    </thead>
                </table>

                <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;" >
                    <thead>
                        <tr>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%"></td>
                            <td style="width:15%; text-align:right;padding-top:10px;">Note : </td>
                            <td style="width:27%">
                                <textarea id="inputdefault" ng-model="dataPi.freeItems" name="freeItems" style="border-radius:10px; width:185px; height:40px" class="form-control" ng-readonly="isReadOnly" required>
                                    <span style="color: red" ng-show="pi_form.freeItems.$dirty && pi_form.freeItems.$invalid">
                                        <span ng-show="pi_form.freeItems.$error.required">Field is required..!</span>
                                    </span>           
                                </textarea>                     
                            </td> 
                        </tr>
                    </thead>
                </table>

                <center>
                    <button type="submit" class="btn btn-info" ng-if="!isReadOnly" ng-click="piSubmit();">
                        <i><b>Submit</b></i>
                    </button>
                </center>
        </div>
    </div>
</div>