<div class="container-fluid">
  <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right"
                        href="#/admin/bank"
                        role="button"></a>
  <div class="row-fluid">
    <h4 class="mptitle">Add Bank Details</h4>
      <div class="form-container">               
        <form name="bank_form" novalidate class="css-form container-fluid">
          <div class="row" ng-init="validate()">
            <div class="container-fluid">
            <div class="row">
            <div class="col-md-6"> 
                <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> Account Holder Name : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                        <input class="form-control" placeholder="Minimum 3 characters" ng-minlength="3" id="inputdefault" type="text" name="accountHolderName" ng-model="newBank.accountHolderName" required>
                                        <span style="color:red" ng-show="bank_form.accountHolderName.$touched && bank_form.accountHolderName.$invalid">
                                        <span ng-show="bank_form.accountHolderName.$error.required"> Field is required..!
                                        </span>
                                        </span>
                                  </div>
                            </label>      
                </div>

                <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> Bank Name : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                    <input class="form-control" id="inputdefault" placeholder="Minimum 3 characters" ng-minlength="3" type="text" name="name" ng-model="newBank.name" required>
                                    <span style="color:red" ng-show="bank_form.name.$touched 
                                            && bank_form.name.$invalid">
                                    <span ng-show="bank_form.name.$error.required"> Field is required..!
                                    </span>
                                    </span>
                                  </div>
                            </label>
                   
                </div>

                 <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> Account Number : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                          <input class="form-control" id="inputdefault" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="accountNumber" ng-model="newBank.accountNumber" minlength="10" required>
                                          <span style="color:red" ng-show="bank_form.accountNumber.$touched && bank_form.accountNumber.$invalid">
                                          <span ng-show="bank_form.accountNumber.$error.required"> Field is required..!
                                          </span>
                                          </span>
                                  </div>
                            </label>
                </div>

                 <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> IFSC Code : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                          <input class="form-control" id="inputdefault" ng-minlength="11" MaxLength="11" type="text" name="ifscCode" ng-model="newBank.ifscCode" required>
                                          <span style="color:red" ng-show="bank_form.ifscCode.$touched && bank_form.ifscCode.$invalid">
                                          <span ng-show="bank_form.ifscCode.$error.required"> Field is required..!
                                          </span>
                                          </span>
                                  </div>
                            </label>
                  </div>
                </div> 

                <div class="col-md-6">
                    <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> Contact No : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                        <input class="form-control" id="inputdefault" ng-minlength="10" MaxLength="10" 
                                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                        type="text" name="contactNumber" ng-model="newBank.contactNumber" required>
                                        <span style="color:red" ng-show="bank_form.contactNumber.$touched && bank_form.contactNumber.$invalid">
                                        <span ng-show="bank_form.contactNumber.$error.required"> Field is required..!
                                        </span>
                                        </span>
                                  </div>
                            </label>         
                    </div>

                  <div class="form-group">
                    <span class="control-label col-sm-4 mplabel"> Email Id : </span>
                            <label class="col-sm-8">
                                  <div class="col-md-7">
                                      <input class="form-control" id="inputdefault" type="email" name="emailId" ng-model="newBank.emailId" required>
                                        <span style="color:red" ng-show="bank_form.emailId.$touched && bank_form.emailId.$invalid">
                                        <span ng-show="bank_form.emailId.$error.required"> Field is required..!</span>
                                        <span class="error" ng-show="bank_form.emailId.$error.email"> Not a valid email..!</span>
                                        </span>
                                  </div>
                            </label>        
                  </div>
                </div>
              </div>
              <center>
                  <button type="submit" class="btn btn-info " ng-disabled="bank_form.$invalid"  ng-click="addBank()"><i><b>Submit</b></i></button>
              </center>
            </div>
          </form>
        </div>
  </div>
</div>