<div ng-controller="bank">
<form>
  name:<input type="text" ng-model="newBank.name"><br>
  accountNumber:<input type="text" ng-model="newBank.accountNumber"><br>
  ifscCode:<input type="text" ng-model="newBank.ifscCode"><br>
  accountHolderName:<input type="text" ng-model="newBank.accountHolderName"><br>
  contactNumber:<input type="text" ng-model="newBank.contactNumber"><br>
  emailId:<input type="text" ng-model="newBank.emailId"><br>
    <angucomplete id="distributor"
      placeholder="Enter Branch"
      selectedobject="newBank.branch"
      url="autocomplete/branchByName/"
      datafield="data"
      titlefield="branchName"
      minlength="1"
      inputclass="form-control form-control-small">
    </angucomplete>	
  <input type="button" ng-click="addBank()" value="add Bank"><br>
</form>
</div>
