<div class="container-fluid"> 
  <div class="row-fluid" ng-init="getBank()">
      <div class="table-header">
      <div class="row">
      <div class="col-md-3">
        <form class="form-inline" ng-model="limit" ng-submit="search(searchField.str)" >
              <input class="form-control" 
              type="text"  
              ng-model="searchField.str" 
              ng-change="changeSearch(searchField.str)"
              id="search"
              placeholder="Search" />
              <span class="glyphicon glyphicon-search pointer" style="color:silver;" ng-click="search(searchField.str)"></span>
        </form>
      </div>
            <div class="container-fluid ng-scope" style="padding-top: 1px;">
              <input type="button" class="btn btn-info add-button1 pull-right " 
              value="+" 
              ng-click="addDialog()"/>
            </div> 
      </div>
      </div>

      <div class="table-responsive" ng-if="currentView === 'display'">
         <form name="bank_form1" novalidate class="css-form">     
          <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
                <thead>
                  <tr>
                    <th style="width:2%">#</th>
                    <th>A/C Holder Name</th>
                    <th>Bank Name</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Contact Number</th>
                    <th>Email Id</th>
                    <th style="width:2%"> </th>
                    <th style="width:2%"> </th>
                  </tr>
              </thead>   
            <tbody>
              <tr ng-repeat="(branchKey,branchValue) in bank |orderObjectBy : 'branchValue.id' : true">
               <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))" style="width:2%"> </td>
                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)">{{branchValue.accountHolderName}}</span>
                       <input type="text"  
                       class="textWidth"
                       name="accountHolderName"
                       ng-minlength="3" 
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue.accountHolderName" required>

                      <span style="color:red" ng-show="bank_form1.accountHolderName.$touched && bank_form1.accountHolderName.$invalid">
                        <span ng-show="bank_form1.accountHolderName.$error.required"> </span>
                      </span>
                    </td>
                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)" >{{branchValue.name}} </span>

                       <input type="text" 
                       class="textWidth"
                       name="bNmame" 
                       ng-minlength="3" 
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue.name" required>

                      <span style="color:red" ng-show="bank_form1.bName.$touched && bank_form1.bName.$invalid">
                        <span ng-show="bank_form1.bName.$error.required"> </span>
                      </span>
                    </td> 

                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)"> {{branchValue.accountNumber}}</span>
                       <input type="text"
                       name="accountNumber"  
                       class="textWidth" minlength="10"
                       onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" 
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue.accountNumber" required>

                      <span style="color:red" ng-show="bank_form1.accountNumber.$touched && bank_form1.accountNumber.$invalid">
                        <span ng-show="bank_form1.accountNumber.$error.required"> </span>
                      </span>

                    </td>

                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)" >{{branchValue. ifscCode}}</span>
                       <input type="text" name="ifscCode" 
                       class="textWidth" ng-minlength="11" MaxLength="11"
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue. ifscCode"required>

                      <span style="color:red" ng-show="bank_form1.ifscCode.$touched && bank_form1.ifscCode.$invalid">
                        <span ng-show="bank_form1.ifscCode.$error.required"> </span>
                      </span>
                    </td>

                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)">{{branchValue.contactNumber}}</span>
                       <input type="text"  
                       class="textWidth" 
                       ng-minlength="10" MaxLength="10" 
                       onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                       name="contactNumber"
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue.contactNumber"required>

                      <span style="color:red" ng-show="bank_form1.contactNumber.$touched && bank_form1.contactNumber.$invalid">
                        <span ng-show="bank_form1.contactNumber.$error.required"> </span>
                      </span>
                    </td>

                    <td>
                       <span ng-if="!(editRecordId == branchValue.id)" >{{branchValue.emailId}}</span>
                       <input type="email"  
                       class="textWidth" 
                       name="emailId" 
                       ng-if ="(editRecordId == branchValue.id)" 
                       ng-model="branchValue.emailId" required>

                        <span style="color:red" ng-show="bank_form1.emailId.$touched && bank_form1.emailId.$invalid">
                          <span ng-show="bank_form1.emailId.$error.required"> </span>
                          <span class="error" ng-show="bank_form1.emailId.$error.email"> </span>
                        </span>
                    </td>

                    <td style="width:2%" ng-if="!(editRecordId == branchValue.id)">
                      <span class="glyphicon glyphicon-pencil" 
                      aria-hidden="true" style="color:blue"  
                      ng-click="changeEditMode(branchValue.id,branchValue)">
                      </span>
                    </td>

                    <td ng-if="(editRecordId == branchValue.id)">
                      <span class="glyphicon glyphicon-saved" 
                      aria-hidden="true" 
                      style="color:green" 
                      ng-disabled="bank_form1.$invalid"
                      ng-click="saveBank(branchValue.id,branchValue)">
                      </span>
                    </td>
                    
                    <td style="width:2%"> 
                      <span class="glyphicon glyphicon-trash" 
                      aria-hidden="true" 
                      style = "color:red" 
                      ng-click="deleteBank(branchValue.id)">
                      </span>
                    </td>
              </tr>
              </tbody>
          </table>
         </form>
      </div>

  <!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="setPage(pageNo+1)">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
      <!-- End pagination -->
  </div>
</div>