        <div class="form-group">
          <label for="inputlg"><b>Current Password</b></label>
          <input class="form-control" type=text name="userName" ng-model="newUser.userName">
        </div>
            <div class="form-group">
            <label for="inputlg"><b>new Password</b></label>
            <input class="form-control" type=password name="password" ng-model="newUser.password">
            </div>

 			<div class="form-group">
            <label for="inputlg"><b>confirm Password</b></label>
            <input class="form-control" type=password name="password" ng-model="newUser.password">
            </div>
        <button type="button" class="btn btn-primary" ng-click="userAdd()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> save
        </button>
