<form name="forgot_form" class="css-form container-fluid" novalidate>
	<div class="row">
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-6">
				<h4>Forgot your password ?</h4>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="col-md-2">
				<b>Email</b>
			</div>
			<div class="col-md-8">
				<input class="form-control" type="email" name="emailId" ng-model="getData.email_id" required>
				<span style="color:red" ng-show="forgot_form.emailId.$dirty && forgot_form.emailId.$invalid">
					<span ng-show="forgot_form.emailId.$error.required"> Field is required..!
					</span>
					<span class="error" ng-show="forgot_form.emailId.$error.email">
						Not valid email!</span>
				</span>
			</div>
			<div class="col-md-2">
				<button type="button" ng-disabled="forgot_form.$invalid" class="btn btn-primary" ng-click="send()">Reset</button>		
			</div>
		</div>
	</div>
</form>