<div class="container">
  
 <div class="row">

 
    	<h1><font color="blue">Medi Plus</font></h1>      
  
  
 </div>

<div class="container-fluid">
 <div class="row-fluid">
  <div class="row">

      <form role="form" ng-submit="login();">
        <div class="form-group">

          <div class="col-md-4"> </div>

              <div class="col-md-4">
                <label for="usr">UserName:</label>
                <input type="text" class="form-control" ng-model="user.username" id="usr">
              </div>

          <div class="col-md-4"> </div>

        </div>

    </div>


  <div class="row"> 
    <div class="col-md-4"> </div>
        <div class="form-group">
    <div class="col-md-4">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" ng-model="user.password" id="pwd">
    </div>
        </div>
    <div class="col-md-4"> </div>
  </div>

<div class="row">
  <div class="col-md-4"> </div>

  	<!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" ng-click="login();" >Login</button> -->
   <div class="col-md-4">
    <button type="submit" class="btn btn-info" data-toggle="collapse" data-target="#demo">Login</button>
    </div>

    <div class="col-md-4"></div>
</div>
<br>
<br>
  
</div>

</div>

 <div class="row">

 	<div>
     	{{errorMessage}}
	</div>

 </div>

</div>
</form>