<div class="row" style="border:1px #CCC solid;height:1000px;background: url('icons/medicines_186097.jpg')"> 
    <div class="container"> 
      <h1><center><img src="icons/logo.png"></center></h1>  
        <form role="form" ng-submit="login();"> 
        <div id="loginbox" style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="" ng-click="addForgotDialog()"> Forgot Password </a> </div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
                        </div>
                        <form id="loginform" class="form-horizontal" role="form">       
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><img src="icons/admin.png" style="width:20px; height:20px;"></span>                                        
                                <input id="usr" type="text" class="form-control" ng-model="user.username" value="" placeholder="USERNAME" style="border:1px #CCC solid;">
                            </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><img src="icons/key.png" style="width:20px; height:20px;"></span>
                                <input type="password" class="form-control" name="password" placeholder="PASSWORD" style="border:1px #CCC solid;" ng-model="user.password" id="pwd">
                            </div>
                           
                            <div class="row">
                               <div class="col-sm-12">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6" style="float:right;">
                                        <button type="submit" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="float:right">Login</button>
                                    </div>
                                </div>
                            </div> <br>
                            
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        <a href="" ng-click="validateKey()"> Mediplus Registration </a>
                                    </div>
                                </div>
                            </div>    
                        </form>     
                    </div>                     
            </div>  
        </div>
        </form>
    </div> 
</div>