<div class="container-fluid">
    <style>
    .form-control
    {
    font-size:13px;
        color:#000;
    }
    </style>
    
    <div class="row-fluid">
      <div class="row ">
        <h4 class="mptitle"> SUPER ADMIN DETAILS</h4>
      </div>

      <div class="form-container" style="padding: 0px 0;">      
        <!-- Start User Form -->
        <form name="profile_form" class="css-form container-fluid" novalidate>
        <br>
          <div class="col-md-12" style="font-size:14px;letter-spacing:1px;"><h4 class="mptitle"> Personal Details</h4></div>
          <hr style="color:#000;">
          <div class="row" ng-init="validate()">
            <div class="container-fluid">
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;"> Name : </span>                             
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" 
                                            placeholder="First Name" 
                                            ng-minlength="3" 
                                            type="text" 
                                            name="firstName" 
                                            ng-model="mainData.user.firstName" 
                                            style="font-size:12px;" 
                                            required>                                      
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                              <input class="form-control" 
                                              placeholder="Middle Name" 
                                              ng-minlength="3" 
                                              type="text" name="middleName" 
                                              ng-model="mainData.user.middleName" 
                                              required>                                            
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                             <input class="form-control" 
                                             placeholder="Last Name" 
                                             ng-minlength="3" 
                                             type="text" name="lastName" 
                                             ng-model="mainData.user.lastName" 
                                             required>                                           
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-12">
                                <span class="control-label col-sm-2 mplabel" style="padding-top:15px;"> Residential Details : </span>                              
                                    <div class="col-md-3">
                                        <div class="form-group">
                                          <input class="form-control" 
                                          placeholder="City" 
                                          ng-minlength="3" 
                                          type=text 
                                          name="city" 
                                          ng-model="mainData.user.city" 
                                          required>                                        
                                        </div>  
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" 
                                            placeholder="District" 
                                            ng-minlength="3" 
                                            type=text name="district" 
                                            ng-model="mainData.user.district" 
                                            required>                                        
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input 
                                            class="form-control" 
                                            placeholder="State" 
                                            ng-minlength="3" 
                                            type=text name="state" 
                                            ng-model="mainData.user.state" 
                                            required>                                         
                                        </div>                                    
                                    </div>
                                
                                <span class="control-label col-sm-2 mplabel">   </span>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                ng-minlength="10" 
                                                placeholder="Street Address" 
                                                name="streetAddress" 
                                                ng-model="mainData.user.streetAddress" 
                                                required>                                             
                                            </div>
                                         </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                              <input 
                                              class="form-control" 
                                              placeholder="PinCode" 
                                              type="text" 
                                              ng-minlength="6" 
                                              MaxLength="6" 
                                              onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="pinCode" ng-model="mainData.user.pinCode" 
                                              required>                                           
                                         </div>                                    
                                    </div>                        
                            </div>

                            <div class="col-md-12">
                                <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Contact Details : </span>                              
                                    <div class="col-md-3">
                                        <div class="form-group">
                                             <input 
                                             class="form-control" 
                                             placeholder="Email Id" 
                                             type="email" 
                                             name="emailId" 
                                             ng-model="mainData.user.emailId" 
                                             required>                                          
                                        </div>                        
                                    </div>
                                  
                                    <div class="col-md-3">
                                        <div class="form-group">
                                           <input 
                                           class="form-control" 
                                           type="text" 
                                           placeholder="Contact No" 
                                           ng-minlength="10" 
                                           MaxLength="10" 
                                           onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  
                                           name="mobileNumber" 
                                           ng-model="mainData.user.mobileNumber" required>
                                         </div>
                                    </div>                              
                            </div>    

                            <div class="col-md-12">
                                <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">  Address Evidence : </span>                                
                                    <div class="col-md-3">
                                        <div class="form-group">
                                             <input 
                                             class="form-control" 
                                             placeholder="Aadhar No" 
                                             ng-minlength="12" 
                                             MaxLength="12" 
                                             onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  type="text" name="aadharNumber" 
                                             ng-model="mainData.user.aadharNumber" required>
                                           </span>
                                         </div>
                                    </div>                       

                                    <div class="col-md-3">
                                        <div class="form-group">
                                          <input 
                                          class="form-control" 
                                          placeholder="Pan No" 
                                          type="text" 
                                          maxlength="10" 
                                          name="panNumber" 
                                          ng-model="mainData.user.panNumber" required>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-md-12">
                                <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">  User Name : </span>                               
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input 
                                            class="form-control" 
                                            placeholder="Minimum 6 characters" 
                                            ng-minlength="6"  
                                            type=text 
                                            name="userName" 
                                            ng-model="mainData.user.userName" required>
                                          </div>
                                    </div>                       
                            </div>

                            <div class="col-md-12">
                                <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">  Role : </span>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div style="padding-top:15px;">   
                                                    <input type="radio" value="super_admin" 
                                                    ng-checked="true"
                                                    ng-model="mainData.user.role" required> 
                                                  Super Admin
                                            </div>
                                        </div>
                                    </div>                       
                             </div>
                        </div>
                    </div>
                  <br>
                <!-- End User Form -->
                
                <!-- Start Shop Form -->
            
                <div class="col-md-12" style="font-size:14px;letter-spacing:1px;"><h4 class="mptitle"> Shop Details</h4></div>
                <hr>
                <div class="row" ng-init="validate()">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Shop Name  : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input 
                                    class="form-control" 
                                    type="text"
                                    ng-minlength="3"
                                    name="brandName" 
                                    ng-model="mainData.shop.brandName" 
                                    placeholder="Enter Shop Name" required>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
               <br>
               
                <!-- End Shop Form -->  
            
                <!-- Start Shop Form -->
                          
                <div class="col-md-12" style="font-size:14px;letter-spacing:1px;"> <h4 class="mptitle"> Branch Details</h4></div>
                <hr>
                <div class="row" ng-init="validate()">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Branch Name : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Branch Name" ng-minlength="3" type="text" name="branchName" ng-model="mainData.branch.branchName" required>
                                </div>  
                            </div>
                            
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Registration Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Rgistration No" type="text" name="registrationNumber" ng-model="mainData.branch.registrationNumber" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" required>
                                </div>  
                            </div>  
                        </div>
                        
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Shop Act Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Shop Act No" type="text" name="shopActNumber" ng-model="mainData.branch.shopActNumber" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" required>
                                </div>  
                            </div>
                            
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">VAT Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter VAT No" ng-minlength="12" MaxLength="12" type="text" name="vatNumber" ng-model="mainData.branch.vatNumber" required>
                                </div>  
                            </div> 
                        </div>
                        
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">CST Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter CST No" type="text" name="cstNumber" ng-model="mainData.branch.cstNumber" ng-minlength="12" MaxLength="12" required>
                                </div>  
                            </div>
                            
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">LBT Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter LBT No" type="text" name="lbtNumber" ng-model="mainData.branch.lbtNumber" required>
                                </div>  
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Address : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" ng-minlength="10" placeholder="Enter Address" type="text" name="address" ng-model="mainData.branch.address" required>
                                </div>  
                            </div>
                            
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">User Drug Licence Number </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Licence No" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" type="text" name="userDrugLicenseNumber" ng-model="mainData.branch.userDrugLicenseNumber" required>
                                </div>  
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Tin Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter TIN No" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" type="text" name="tinNumber" ng-minlength="10" MaxLength="10" ng-model="mainData.branch.tinNumber" required>
                                </div>  
                            </div>
                            
                            <span class="control-label col-sm-2 mplabel" style="padding-top:15px;">Contact Number : </span>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Contact No" type="text" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" ng-minlength="10" MaxLength="10" name="contactNumber" ng-model="mainData.branch.contactNumber" required>
                                </div>  
                            </div>
                        </div>
                        
                    </div>
                </div>
                <br><br>
                    
                <center>
                    <button type="button" class="btn btn-primary" ng-click="mainDataSubmit();" ng-disabled="Branch_form.$invalid">Add User Details</button>
                </center>
                <br><br>                 
            </form>
        </div>
    </div>      
</div>