<div class="container-fluid">
 <a class="btn glyphicon glyphicon-menu-hamburger add-button pull-right" 
 href="#/admin/user" 
 role="button"></a>
 <div class="row-fluid"> 
  <h4 class="mptitle">Add User Details</h4>
  <div class="form-container" style= "margin: 0px 0px;">                
    <form name="user_form" class="css-form container-fluid" novalidate>
      <div class="row" ng-init="validate()">
        <div class="container-fluid">
          <div class="form-group">
            <span class="control-label col-sm-2 mplabel">Name : </span>
            <label class="col-sm-10">
              <div class="col-md-3">
                <input class="form-control" placeholder="First Name" ng-minlength="3" type=text name="firstName" ng-model="newUser.firstName" required>
                <span style= "color:red" ng-show="user_form.firstName.$touched && user_form.firstName.$invalid">
                  <span ng-show="user_form.firstName.$error.required">Feild is required .. !</span>
                </span>
              </div>

              <div class="col-md-3">
                <input class="form-control" placeholder="Middle Name" ng-minlength="3" type=text name="middleName" ng-model="newUser.middleName" required>
                <span style= "color:red" ng-show="user_form.middleName.$touched && user_form.middleName.$invalid">
                  <span ng-show="user_form.middleName.$error.required">Feild is required .. !</span>
                </span>
              </div>

              <div class="col-md-3">
               <input class="form-control" placeholder="Last Name" ng-minlength="3" type=text name="lastName" ng-model="newUser.lastName" required>
               <span style= "color:red" ng-show="user_form.lastName.$touched && user_form.lastName.$invalid">
                <span ng-show="user_form.lastName.$error.required">Feild is required .. !</span>
              </span>
            </div>
          </label>
        </div>

        <div class="form-group">
          <span class="control-label col-sm-2 mplabel"> Residential Details : </span>  <label class="col-sm-10">
          <div class="col-md-3">
            <input class="form-control" placeholder="City" ng-minlength="3" type=text name="city" ng-model="newUser.city" required>
            <span style= "color:red" ng-show="user_form.city.$touched && user_form.city.$invalid">
              <span ng-show="user_form.city.$error.required">Feild is required .. !</span>
            </span>
          </div>

          <div class="col-md-3">
            <input class="form-control" placeholder="District" ng-minlength="3" type=text name="district" ng-model="newUser.district" required>
            <span style= "color:red" ng-show="user_form.district.$touched && user_form.district.$invalid">
              <span ng-show="user_form.district.$error.required">Feild is required .. !</span>
            </span>
          </div>

          <div class="col-md-3">
            <input class="form-control" placeholder="State" ng-minlength="3" type=text name="state" ng-model="newUser.state" required>
            <span style= "color:red" ng-show="user_form.state.$touched && user_form.state.$invalid">
              <span ng-show="user_form.state.$error.required">Feild is required .. !</span>
            </span>                                  
          </div>
        </label>
        
        <span class="control-label col-sm-2 mplabel">   </span>
        <label class="col-sm-10">
          <div class="col-md-3">
            <input class="form-control" type="text" ng-minlength="10" placeholder="Street Address" name="streetAddress" ng-model="newUser.streetAddress" required>
            <span style= "color:red" ng-show="user_form.streetAddress.$touched && user_form.streetAddress.$invalid">
              <span ng-show="user_form.streetAddress.$error.required">Feild is required .. !</span>
            </span>
          </div>

          <div class="col-md-3">
            <input class="form-control" placeholder="PinCode" type="text" ng-minlength="6" MaxLength="6" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="pinCode" ng-model="newUser.pinCode" required>
            <span style= "color:red"  ng-show="user_form.pinCode.$touched && user_form.pinCode.$invalid">
              <span ng-show="user_form.pinCode.$error.required">Feild is required .. !</span>
            </span>                                  
          </div>
        </label>                            
      </div>

      <div class="form-group">
        <span class="control-label col-sm-2 mplabel">Contact Details : </span>
        <label class="col-sm-10">
          <div class="col-md-3">
           <input class="form-control" placeholder="Email Id" type="email" name="emailId" ng-model="newUser.emailId" required>
           <span style="color:red" ng-show="user_form.emailId.$touched && user_form.emailId.$invalid">
            <span ng-show="user_form.emailId.$error.required"> Field is required..!
            </span>
            <span class="error" ng-show="user_form.emailId.$error.email">
              Not a valid email..!</span>
            </span>                      
          </div>
          
          <div class="col-md-3">
           <input class="form-control" type="text" placeholder="Contact No" ng-minlength="10" MaxLength="10" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  name="mobileNumber" ng-model="newUser.mobileNumber" required>
           <span style= "color:red"  ng-show="user_form.mobileNumber.$touched && user_form.mobileNumber.$invalid">
            <span ng-show="user_form.mobileNumber.$error.required">Feild is required .. !</span>
          </span>  
        </div>
      </label>
    </div> <!-- Add by Mahesh -->     

    <div class="form-group">
      <span class="control-label col-sm-2 mplabel">  Address Evidence : </span>
      <label class="col-sm-10">
        <div class="col-md-3">
         <input class="form-control" placeholder="Aadhar No" ng-minlength="12" MaxLength="12" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  type="text" name="aadharNumber" ng-model="newUser.aadharNumber" required>
         <span style= "color:red"  ng-show="user_form.aadharNumber.$touched && user_form.aadharNumber.$invalid">
          <span ng-show="user_form.aadharNumber.$error.required">Feild is required .. !</span>
          <span class="error" ng-show="user_form.aadharNumber.$error.number"></span>
        </div>                       

        <div class="col-md-3">
          <input class="form-control" placeholder="Pan No" type="text" ng-maxlength="10"  MaxLength="10" name="panNumber" ng-model="newUser.panNumber" required>
          <span style= "color:red" ng-show="user_form.panNumber.$touched && user_form.panNumber.$invalid">
            <span ng-show="user_form.panNumber.$error.required">Feild is required .. !</span>
          </span>
        </div>
      </label>
    </div>

    <div class="form-group">
      <span class="control-label col-sm-2 mplabel">  User Name : </span>
      <label class="col-sm-10">
        <div class="col-md-3">
         <input class="form-control" placeholder="Minimum 6 characters" ng-minlength="6"  type=text name="userName" ng-model="newUser.userName" required>
         <span style= "color:red" ng-show="user_form.userName.$touched && user_form.userName.$invalid">
          <span ng-show="user_form.userName.$error.required">Feild is required .. !</span>
        </span>
      </div>                       
    </label>
  </div>

  <div class="form-group">
    <span class="control-label col-sm-2 mplabel">  Role : </span>
    <label class="col-sm-10">
      <div class="col-md-3">
        <div ng-if="isLoginData.role=='super_admin'" >   
          <label style="padding-top:15px;">
            <input type="radio" 
            value="admin"
            ng-checked="true"
            ng-model="newUser.role" required> 
            Admin</label>
            <label style="padding-top:15px;">
              <input type="radio" 
              value="employee"
              ng-model="newUser.role" required> 
              Employee</label>
            </div>

            <div ng-if="isLoginData.role=='admin'">
              <label>
                <input type="radio" 
                value="employee"
                ng-model="newUser.role" required> 
                Employee</label>                                    
              </div>
            </div>                       
          </label>
        </div>
        <center>
          <button type="submit" class="btn btn-info "  ng-disabled="user_form.$invalid" ng-click="userAdd()"><i><b>Submit</b></i></button>
        </center>
      </div>
    </div>
  </form>
</div>
</div>
</div>