<div class="container-fluid">
  <div class="row-fluid" ng-init="gettUser()">
  <div class="table-header">
    <div class="row">
      <div class="col-md-3">
          <form class="form-inline" ng-model="limit" ng-submit="search(str);">
                <input class="form-control " 
                type="text" 
                ng-model="str" 
                placeholder="Search" 
                ng-change="changeSearch(str)"
                />
                <span  class="glyphicon glyphicon-search pointer" style="color:silver;" ng-click="search(str)"></span>
          </form>
      </div>
      <div class="container-fluid ng-scope" style="padding-top: 1px;">  
        <input type="button" class="btn btn-info add-button1 pull-right" value="+" ng-click="addUser()"/>
      </div>
      </div>
  </div>

  <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed;">
      <thead>
    	 <tr>
          <th style="width:2%">#</th>
    	    <th>Name</th>
          <th>Address</th>
    	    <th>City</th>
          <th>Contact No</th>
          <th>Email</th>
          <th>User Name</th>
          <th>Role</th>
          <th style="width:2%"></th>
          <th ng-if="editRecordId == null" style="width:2%">  </th>
          <th ng-if="editRecordId != null" style="width:2%">   </th>
    	</tr>
    </thead>
         <tr ng-repeat="userData in user |orderObjectBy : 'id' : true">
              <td style="width:2%" ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
	    	      <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.name }}</span>
              </td>   
              <td>
                  <span ng-if="!(editRecordId == userData.id)">{{ userData.streetAddress }}</span>
              </td> 
	    	      <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.city }}</span>
              </td>
	    	      <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.mobileNumber }}</span>
              </td>
              <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.emailId }}</span>
              </td>
              <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.userName }}</span>
              </td>
              <td>
                <span ng-if="!(editRecordId == userData.id)">{{ userData.role}}</span>
              </td>
              <td style="width:2%">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:blue" ng-if="!(editRecordId == userData.id)" ng-click="userEdit(userData)"> </span>
              </td>
              <td  style="width:2%"ng-if="(editRecordId == userData.id)">
                <span class="glyphicon glyphicon-saved" aria-hidden="true" style="color:green" ng-click="changeEditMode(userData.id)"></span>
              </td>                       
              <td style="width:2%">
                <span class="glyphicon glyphicon-trash" style="color:red" ng-click="deleteUser(userData.id)"> </span>
              </td>
    	   </tr>
  </table> 

    <!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="setPage(pageNo+1)">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
    <!-- End pagination -->     
</div>
</div> <!-- container -fluid-->