<form name="user_form" class="css-form container-fluid" novalidate>
<div class="row" id="scrollbar">
  <div class="row"> 
    <div class="col-md-6">
       <label for="inputlg"><b> First Name</b></label>
        <input class="form-control" ng-minlength="3" type="text" name="firstName" ng-model="data.firstName" required style="height:22px;padding-top:0px;">
          <span style= "color:red" ng-show="user_form.firstName.$touched && user_form.firstName.$invalid">
          <span ng-show="user_form.firstName.$error.required">Feild is required .. !</span>
          </span>
    </div>

     <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Middle Name</b></label>
          <input class="form-control" ng-minlength="3" type="text" name="middleName" ng-model="data.middleName" required style="height:22px;padding-top:0px;">
          <span style= "color:red" ng-show="user_form.middleName.$touched && user_form.middleName.$invalid">
          <span ng-show="user_form.middleName.$error.required">Feild is required .. !</span>
          </span>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
          <label for="inputlg"><b>Last Name</b></label>
          <input class="form-control" ng-minlength="3" type="text" name="lastName" ng-model="data.lastName" required style="height:22px;padding-top:0px;">
          <span style= "color:red" ng-show="user_form.lastName.$touched && user_form.lastName.$invalid">
          <span ng-show="user_form.lastName.$error.required">Feild is required .. !</span>
          </span>
          </div>
      </div>

       <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Email Id</b></label>
          <input class="form-control" 
          type="email" name="email" 
          ng-model="data.emailId" required style="height:22px;padding-top:0px;">
            <span style="color:red" ng-show="user_form.emailId.$touched && user_form.emailId.$invalid">
            <span ng-show="user_form.emailId.$error.required"> Field is required..!
            </span>
            <span class="error" ng-show="user_form.emailId.$error.email">
            Not valid email!</span>
            </span>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>City</b></label>
            <input class="form-control" type="text" ng-minlength="3" name="city" ng-model="data.city" required style="height:22px;padding-top:0px;">
            <span style= "color:red" ng-show="user_form.city.$touched && user_form.city.$invalid">
            <span ng-show="user_form.city.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>

    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>District</b></label>
            <input class="form-control" type="text" ng-minlength="3" name="district" ng-model="data.district" required style="height:22px;padding-top:0px;">
            <span style= "color:red" ng-show="user_form.district.$touched && user_form.district.$invalid">
            <span ng-show="user_form.district.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>State</b></label>
            <input class="form-control" type="text" ng-minlength="3" name="state" ng-model="data.state" required style="height:22px;padding-top:0px;">
            <span style= "color:red" ng-show="user_form.state.$touched && user_form.state.$invalid">
            <span ng-show="user_form.state.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>

    <div class="col-md-6">
            <div class="form-group">
              <label for="inputlg"><b>Street Address</b></label>
              <textarea ng-minlength="10" ng-model="data.streetAddress" name="streetAddress" style="border-radius:10px; width:185px; height:40px;" class="form-control" required>
              <span style= "color:red" ng-show="user_form.streetAddress.$touched && user_form.streetAddress.$invalid">
              <span ng-show="user_form.streetAddress.$error.required">Feild is required .. !</span>
              </span>  
              </textarea>
            </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>Mobile Number</b></label>
            <input class="form-control" type="text" ng-minlength="10" MaxLength="10" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" name="mobileNumber" ng-model="data.mobileNumber" required style="height:22px;padding-top:0px;">
            <span ng-show="user_form.mobileNumber.$error.required">Feild is required .. !</span>
          </div>
        </div>

        <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg"><b>Pin Code</b></label>
          <input class="form-control" type="text" ng-minlength="6" MaxLength="6" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  name="pinCode" ng-model="data.pinCode" required style="height:22px;padding-top:0px;">
          <span style= "color:red"  ng-show="user_form.pinCode.$touched && user_form.pinCode.$invalid">
          <span ng-show="user_form.pinCode.$error.required">Feild is required .. !</span>
          </span>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>Aadhar Number</b></label>
            <input class="form-control" type="text" name="aadharNumber" ng-minlength="12" MaxLength="12" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"  ng-model="data.aadharNumber" required style="height:22px;padding-top:0px;">
            <span style= "color:red"  ng-show="user_form.aadharNumber.$touched && user_form.aadharNumber.$invalid">
            <span ng-show="user_form.aadharNumber.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>

     <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>Pan Number</b></label>
            <input class="form-control" type="text" ng-minlength="10" MaxLength="10" ng-model="data.panNumber"required style="height:22px;padding-top:0px;">
            <span style= "color:red" ng-show="user_form.panNumber.$touched && user_form.panNumber.$invalid">
            <span ng-show="user_form.panNumber.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>User Name</b></label>
            <input class="form-control" type="text" ng-minlength="6" name="userName" ng-model="data.userName" required style="height:22px;padding-top:0px;">
            <span style= "color:red" ng-show="user_form.userName.$touched && user_form.userName.$invalid">
            <span ng-show="user_form.userName.$error.required">Feild is required .. !</span>
            </span>
          </div>
    </div>

    <div class="col-md-6">
          <div class="form-group">
            <label for="inputlg"><b>Role</b></label>
            <div ng-if="isLoginData.role=='super_admin'">                                 
                <select class="form-control" ng-model="data.role" style="border-radius:10px" required>
                  <option value="admin" ng-model="data.role">Admin</option>
                  <option value="employee" ng-model="data.role">Employee</option>
                </select>
            </div>
          </div>

            <div ng-if="isLoginData.role=='admin'">                                             
              <select class="form-control" ng-model="data.role">
                  <option value="employee">Employee</option>
              </select> 
            </div>
      </div>
  </div>
    <center><button type="button" ng-disabled="user_form.$invalid" class="btn btn-primary" ng-click="update()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Update
    </button></center>
</div>
</form>