<ul class="nav nav-tabs">
  <li><a href="#" ng-click="show('Menu1')" >Menu 1</a></li>
  <li><a href="#" ng-click="show('Menu2')" >Menu 2</a></li>
</ul>

<div ng-if="view=='Menu1'">
	<div class="form-group">
		<label for="inputdefault"><b>Valid Till</b></label>
		<input class="form-control" id="inputdefault" type="text" disabled ng-model="data.registrationDate">           
	</div>

	<div class="form-group">
		<label for="inputdefault"><b> Plan</b></label>
		<input class="form-control" id="inputdefault" type="text" disabled ng-model="data.plan">
	</div> 

	<div class="form-group">
		<label for="inputdefault"><b> Validated By</b></label>
		<input class="form-control" type="text" disabled ng-model="data.marketingMember">
	</div>  

	<center>
		<button type="button" class="btn btn-info" ng-click="validKey()">OK</button>
	</center>	
</div>

<div ng-if="view=='Menu2'">
<center>
	<button type="button" class="btn btn-info" ng-click="onlineRegistration()">Online</button>
	</center>
</div>