<form name="register_form" class="css-form container-fluid" novalidate>
	<div class="form-group">
		 <input class="form-control" 
		 type="text" 
		 placeholder="Enter Key" 
		 ng-model="data.registrationKey"
		 name="key" required>
		  <span style= "color:red" ng-show="register_form.key.$touched && register_form.key.$invalid">
            <span ng-show="register_form.key.$error.required">Feild is required .. !</span>
          </span>
	</div>

	<div class="form-group">
        <input ui-date-format="dd-mm-yy" 
        		  ui-date="registrationDate" 
                  class=" form-control dateP" 
                  name="rDate" 
                  placeholder="Registration Date (DD-MM-YYYY)" 
                  ng-model="data.registrationDate"
                  style="color:black;" required>
         	<span style= "color:red"  ng-show="register_form.rDate.$touched && register_form.rDate.$invalid">
                <span ng-show="register_form.rDate.$error.required">Feild is required .. !</span>
           	</span>
	</div>

	<div class="form-group">
		 <input 
		 class="form-control" 
		 type="text" 
		 placeholder="Duration" 
		 ng-model="data.duration"
		 name="duration" 
		 onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))" required>
		  	<span style= "color:red"  ng-show="register_form.duration.$touched && register_form.duration.$invalid">
                <span ng-show="register_form.duration.$error.required">Feild is required .. !</span>
           	</span>
	</div>

	<div class="form-group">
		 <input 
		 class="form-control" 
		 type="text" 
		 ng-model="data.extendOn"
		 placeholder="Extended on" required>
	</div>

	<div class="form-group">
		 <input 
		 class="form-control" 
		 type="text" 
		 placeholder="Marketing Member" 
		 ng-model="data.marketingMember"
		 name="mm" required>
		  <span style= "color:red" ng-show="register_form.mm.$touched && register_form.mm.$invalid">
            <span ng-show="register_form.mm.$error.required">Feild is required .. !</span>
          </span>
	</div>

	<div class="form-group">
		 <input 
		 class="form-control" 
		 type="text" 
		 placeholder="Plan"
		  ng-model="data.plan"
		 name="plan" required>
		  <span style= "color:red" ng-show="register_form.plan.$touched && register_form.plan.$invalid">
            <span ng-show="register_form.plan.$error.required">Feild is required .. !</span>
          </span>
	</div>

	 	<button type="button" class="btn btn-info" ng-disabled="register_form.$invalid" ng-click="validataKeySubmit()">Submit</button>
	 	<button type="button" class="btn btn-info" >Cancel</button>
	</center>
</form>   