<div class="row-fluid">
        <form class="form-horizontal" role="form">
            <h4 class="mptitle">Billing Detail</h4>
            <div class="form-containerAddBill">
            <div class="container-fluid">   
                <div class="form-group" ng-init="setUserId(user.id)">
                    <span class="control-label col-sm-2 mplabel" for="email">User Name </span>
                    <h5>
                        <label class="col-sm-10">
                            <div class="col-md-6">
                                {{user.name}}
                            </div>
                        </label>
                    </h5>
                </div>

                <div class="form-group" ng-if="!customerShow">
                    <span class="control-label col-sm-2 mplabel">Customer Name/Mobile Number</span>
                    <div class="col-sm-10">
                        <div class="col-md-6" >
                            <angucomplete id="customerId"
                                placeholder="Minimum 3 characters"
                                selectedobject="billValue.customerId"
                                url="/autocomplete/customerName/"
                                datafield="data"
                                titlefield="name"
                                minlength="3"
                                autoFocus="true"
                                inputclass="form-control form-control-small"> 
                            </angucomplete>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" ng-click="addCustomer()">
                                Add Customer
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group" ng-if="customerShow || billValue.customerId.originalObject.name">
                    <span class="control-label col-sm-2 mplabel">Customer Name</span>
                    <div class="col-sm-10">
                        <div class="col-md-6" >
                            <b> {{billValue.customerId.originalObject.name}}</b>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" ng-click="editCustomer()">
                                Change Customer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <form name="addBill_form" id="addBill_form" class="css-form" novalidate  ng-init="setFormScope(this)">
        <h4 class="mptitle">Product Details</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name </th>
                    <th>Manufacturer</th>
                    <th>Formula</th>
                    <th>MRP/Unit (Available Quantity)</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="billValue in billValue.billingItems track by $index">
                    <td>{{billValue.name}} {{billValue.dosage}} {{billValue.productLocation}}</td>
                    <td>{{billValue.manufacturer}}</td>
                    <td>{{billValue.formula}}</td>
                     <td>Rs.{{billValue.perUnit}}/-</td>
                    <td><input type="text" ng-model="billValue.quantity" 
                    ng-change="changeBillValue(billValue)"></td>
                    <td>Rs.{{billValue.mrp}}/-</td>
                    <td 
                    class="glyphicon glyphicon-remove" 
                    style="color: red;" 
                    ng-click="deleteItems($index,billValue)">
                    </td>
                </tr>
            </tbody>
                <tr>
                    <td>
                        <div>
                            <angucomplete id="productId"
                                placeholder="Minimum 3 characters"
                                selectedobject="biv.product"
                                url="/autocomplete/productByName/"
                                datafield="data"
                                titlefield="name,dosage,productLocation"
                                minlength="3"
                                inputclass="form-control form-control-small "> 
                            </angucomplete>
                        </div>
                    </td>
                    <td>{{biv.product.originalObject.manufacturer}}</td>
                    <td>{{biv.product.originalObject.formula}}</td>
                    <td>
                    <select 
                    ng-change="mrpCal(selectedProductJson,biv.quantity);stockTemp(biv.product,selectedProductJson)"
                    style="width:150px; height:30px;" 
                    required  
                    ng-model="selectedProductJson">
                        <option ng-repeat="value in biv.product.originalObject.prising" value="{{value}}"
                        >
                            Rs.{{ value.mrp}}/- (qty-{{value.qty}})
                        </option>
                    </select>
                    </td>
                    <td>
                        <input type="number" 
                        placeholder="Quantity" 
                        style="width:170px" 
                        name="t1"  class="form-control" 
                        ng-change="mrpCal(selectedProductJson,biv.quantity);"
                        ng-model="biv.quantity" required>
                        <span style="color:red" ng-show="addBill_form.t1.$dirty && addBill_form.t1.$invalid">
                        <span ng-show="addBill_form.t1.$error.required"> Field is required..!
                        </span>
                        </span>
                    </td>

                    <td>{{bmrp | number}}</td>
                    <td>
                    <center>
                        <button  id="myAdd"  ng-disabled="!(selectedProduct.qty>0 && biv.quantity>0 && biv.quantity<=selectedProduct.qty)" class="btn btn-info glyphicon glyphicon-plus" 
                              ng-click="addBillItems(billValue); selectedProductJson = ''">
                        </button>
                    </center>
                    </td>
                </tr>
        </table>
        </form>

    <div class="row" >
        <div class="col-xs-8 col-sm-6" ng-if="customerShow">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#FFF;"> Previous Bill Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">Total Purchase Amount</div>
                            <div class="col-sm-6">
                            <div class="input-group" style="width:70%; height:3px">
                              <div class="input-group-addon">Rs</div>
                                <span  class="form-control" style="font-size: 18px; border:1px #CCC solid;"> 
                                    <div style="float:right;">{{getCustUnpaidAmtDetailsData.total.totalAmount}}</div></span>
                              <div class="input-group-addon">.00</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4"> Paid Amount</div>
                            <div class="col-sm-6">
                            <div class="input-group" style="width:70%; height:3px">
                              <div class="input-group-addon">Rs</div>
                                <span  class="form-control" style="font-size: 18px; position: static; border:1px #CCC solid; float:left;"> 
                                    <div style="float:right">{{getCustUnpaidAmtDetailsData.total.amountPaid}}</div></span>
                              <div class="input-group-addon">.00</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4"> Payable Amount</div>
                            <div class="col-sm-5">
                            <div class="input-group" style="width:86%; height:3px">
                              <div class="input-group-addon">Rs</div>
                                <span  class="form-control" style="font-size: 18px; position: static; border:1px #CCC solid; float:left;"> 
                                    <div style="float:right">{{getCustUnpaidAmtDetailsData.total.unpaidAmount}}</div></span>
                              <div class="input-group-addon">.00</div>
                            </div>
                            </div>
                            <button type="submit" 
                            ng-if="getCustUnpaidAmtDetailsData.data.length > 0 "
                            class="btn btn-default" 
                            ng-click="showById({id:getCustUnpaidAmtDetailsData.data[getCustUnpaidAmtDetailsData.data.length-1].id})">
                            Show Bill Details
                            </button>
                             
                            <div class="col-sm-3" 
                             ng-if="billValue.customerId.originalObject.id"
                             ng-init="getCustUnpaidAmtDetails(billValue.customerId.originalObject.id)">
                             <a 
                             ng-if="getCustUnpaidAmtDetailsData.length > 0 "
                             class="btn btn-default" 
                             href="/#/home/print/{{getCustUnpaidAmtDetailsData[getCustUnpaidAmtDetailsData.length-1].id}}" role="button">Show Bill Details</a>
                             </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">Credit Limit</div>
                            <div class="col-sm-6">
                            <div class="input-group" style="width:70%; height:3px">
                              <div class="input-group-addon">Rs</div>
                                <span class="form-control" style="font-size: 18px; position: static; border:1px #CCC solid; float:left;"> 
                                    <div style="float:right">{{billValue.customerId.originalObject.creditLimit}}</div></span>
                              <div class="input-group-addon">.00</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">Available Credit</div>
                            <div class="col-sm-6">
                            <div class="input-group" style="width:70%; height:3px">
                              <div class="input-group-addon">Rs</div>
                                <span class="form-control" style="font-size: 18px; position: static; border:1px #CCC solid; float:left;">
                                    <div style="float:right">{{billValue.customerId.originalObject.creditLimit - getCustUnpaidAmtDetailsData.total.unpaidAmount}}</div></span>
                              <div class="input-group-addon">.00</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">Credit Period</div>
                            <div class="col-sm-6">
                            <div class="input-group" style="width:70%; height:3px">
                              <div class="input-group-addon">Is</div>
                                <span  class="form-control" style="font-size: 18px; position: static; border:1px #CCC solid; float:left;"> 
                                    <div style="float:right">{{billValue.customerId.originalObject.creditPeriod}}</div></span>
                              <div class="input-group-addon">Days</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6" ng-if="!customerShow"></div>
        <div class="col-xs-8 col-sm-6">
               <div class="col-sm-4"></div>
               <div class="col-sm-8">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">Customer Type</div>
                                <div class="col-sm-6">
                                        <span  style="font-size: 16px; text-transform: capitalize;"> 
                                            {{billValue.customerId.originalObject.customerType }} </span>
                                    </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6" style="padding-top:10px;">Total Amount</div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">Rs</div>
                                        <span class="form-control" style="font-size: 20px; position: static; border:1px #CCC solid; float:left;"> 
                                        <div style="float:right">
                                        {{billValue.totalAmount}}</div></span>
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"  style="margin-top:5%;">
                            <div class="form-group">
                                <div class="col-sm-6" style="padding-top:10px;"> Discount </div>
                                    <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">Rs</div>
                                              <div style="float:right">
                                              <input type="text" 
                                              class="text-right" 
                                              style="font-size: 20px;padding-right:5px; position: static; border:1px #CCC solid;width:100%;" 
                                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                                min="0" class="form-control" 
                                                ng-model="billValue.discount"
                                               ng-change="discountApply(billValue)"
                                                required> 
                                                </div>
                                              <div class="input-group-addon">.00</div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6" style="padding-top:10px;">Amount Paid Rs </div>
                                <div class="col-sm-6">
                                            <div class="input-group">
                                              <div class="input-group-addon">Rs</div>
                                              <div style="float:right">
                                              <input type="text" 
                                              class="text-right" 
                                              style="font-size: 20px; padding-right:5px; position: static; width:100%; border:1px #CCC solid;" 
                                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode <= 0))"
                                                min="0" id="exampleInputAmount"
                                                
                                                ng-model="billValue.amountPaid" 
                                                ng-change="amountPaidStatus(billValue)"
                                                required></div>
                                              <div class="input-group-addon">.00</div>
                                            </div>    
                                </div>
                            </div>
                        </div> 
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6" style="padding-top:10px;">Bill Status </div>
                                    <div class="col-sm-6" style="border-radius: 10px;">
                                        <label class="control-label col-sm-4">{{billValue.status}}</label>
                                    </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6" style="padding-top:10px;">Payment Type</div>
                                <div class="col-sm-6">
                                        <ui-select ng-model="billValue.paymentType" style="width:210px;"
                                                 ng-if="billValue.customerId.originalObject.customerType!='hospital'"
                                                 ng-click="billValue.paymentType" theme="selectize" ng-disabled="disabled">
                                                <ui-select-match placeholder="Select">{{$select.selected}} </ui-select-match>
                                                    <ui-select-choices repeat="type in pay | filter: $select.search">
                                                        <span ng-bind-html="type | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                        </ui-select>
                                </div>
                            </div>
                        </div>
                <br>
                    <div class="form-group" ng-if="billValue.paymentType== 'Online'">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6" >Note </div>
                                <div class="col-sm-6">
                                    <textarea ng-model="billValue.chequeNumber " name="otherDetails" style="border-radius:10px;height:50px;width:210px;" class="form-control" required>                         
                                    </textarea>   
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="form-group" ng-if="billValue.paymentType== 'Credit'">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">Note </div>
                                <div class="col-sm-6">
                                    <textarea ng-model="billValue.chequeNumber " name="otherDetails" style="border-radius:10px;height:50px;width:210px;" class="form-control" required>                         
                                    </textarea>   
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="form-group" ng-if="billValue.paymentType== 'Debit'">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">Note </div>
                                <div class="col-sm-6">
                                    <textarea ng-model="billValue.chequeNumber " name="otherDetails" style="border-radius:10px;height:50px;width:185px;" class="form-control" required>                         
                                    </textarea>   
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group" ng-if="billValue.paymentType== 'Cash'">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">Note </div>
                                <div class="col-sm-6">
                                    <textarea ng-model="billValue.chequeNumber " name="otherDetails" style="border-radius:10px;height:50px;width:210px;" class="form-control" required>                         
                                    </textarea>   
                                </div>
                            </div>
                        </div> 
                    </div>

                        <div class="form-group" ng-if="billValue.paymentType=='Cheque'"> 
                         <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">Cheque Number </div>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                            id="inputdefault"
                                            type="text"
                                            style="width:210px" 
                                            name="chequeNumber"
                                            ng-model="billValue.chequeNumber"
                                            ng-readonly="isReadOnly">
                                </div>
                            </div>
                        </div> 
                        </div>
                       <hr>

                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5">
                            <button type="submit" class="btn btn-danger" style="width:100%; font-size:20px;" ng-click="generateBill(true)">
                                Save
                            </button></div>
                            
                            <div class="col-sm-5">
                            <button type="submit" class="btn btn-danger" style="width:100%; font-size:20px;" ng-click="generateBill(false)">
                                Save & Print
                            </button></div>
                        </div>
        </div>
    </div>
</div> 
</div>