<div class="container-fluid">
	<div class ="row" ng-init="billDtl()">
        <div class="row-fluid">
        <h4 class="mptitle">Customer Details</h4>
            <form class="form-horizontal" role="form">
                <div class="form-container">
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="control-label col-sm-4 mplabel">Customer :</span>
                        <h5>
                            <label class="col-sm-8">
                                  <div class="col-md-6">
                                    {{data.customer.name}}
                                  </div>
                            </label>
                        </h5>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-sm-4 mplabel">City :</span>
                        <h5>
                            <label class="col-sm-8">
                                  <div class="col-md-6">
                                    {{data.customer.city}}
                                  </div>
                            </label>
                        </h5>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-sm-4 mplabel">Street Address :</span>
                        <h5>
                            <label class="col-sm-8">
                                  <div class="col-md-6">
                                    {{data.customer.streetAddress}}
                                  </div>
                            </label>
                        </h5>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <span class="control-label col-sm-3 mplabel">Pin Code :</span>
                        <h5>
                            <label class="col-sm-9">
                                  <div class="col-md-6">
                                    {{data.customer.pinCode}}
                                  </div>
                            </label>
                        </h5>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-sm-3 mplabel">Email Id :</span>
                        <h5>
                            <label class="col-sm-9">
                                  <div class="col-md-6">
                                    {{data.customer.emailId}}
                                  </div>
                            </label>
                        </h5>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-sm-3 mplabel">Contact Number :</span>
                        <h5>
                            <label class="col-sm-9">
                                  <div class="col-md-6">
                                    {{data.customer.contactNumber}}
                                  </div>
                            </label>
                        </h5>
                    </div>
                </div>
                </div>
            </form>
        </div>

 <div class="row-fluid">
        <h4 class="mptitle">User Details</h4>
            <form class="form-horizontal" role="form">
                <div class="form-container">
                <div class="row">
                    `<div class="col-md-6">
                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Name :</span>
                            <h5>
                                <label class="col-sm-8">
                                      <div class="col-md-6">
                                        {{data.user.name}}
                                      </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">Email :</span>
                            <h5>
                                <label class="col-sm-8">
                                      <div class="col-md-6">
                                        {{data.user.emailId}}
                                      </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-4 mplabel">City :</span>
                            <h5>
                                <label class="col-sm-8">
                                      <div class="col-md-6">
                                        {{data.user.city}}
                                      </div>
                                </label>
                            </h5>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel">Street Address :</span>
                            <h5>
                                <label class="col-sm-9">
                                      <div class="col-md-6">
                                        {{data.user.streetAddress}}
                                      </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel">Pin Code :</span>
                            <h5>
                                <label class="col-sm-9">
                                      <div class="col-md-6">
                                        {{data.user.pinCode}}
                                      </div>
                                </label>
                            </h5>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-sm-3 mplabel">Mobile Number :</span>
                            <h5>
                                <label class="col-sm-9">
                                      <div class="col-md-6">
                                        {{data.user.mobileNumber}}
                                      </div>
                                </label>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <center>
        <table >
            <tr >
                <th>Name</th>
                <th>Manufacturer</th>              
                <th>Formula</th>
                <th>Dosage</th>
                <th>Quantity</th>
                <th>Per Unit</th>
                <th>MRP</th>
            </tr>
            <tr ng-repeat="values in data.BillingItems">
                <td>{{values.product.name}}</td>      
                <td>{{values.product.manufacturer}}</td>               
                <td>{{values.product.formula}}</td>             
                <td>{{values.product.dosage}}</td>
                <td>{{values.quantity}}</td>
                <td>{{values.perUnit}}</td>
                <td>{{values.perUnit * values.quantity}}</td>
            </tr>
        </table>
        </center>

        <div class="row-fluid pull-right">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-6">Total Amount </label>
                    <div class="col-sm-6">
                        {{data.totalAmount}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-6">Amount Paid </label>
                    <div class="col-sm-6">
                        {{data.amountPaid}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-6">Status </label>
                    <div class="col-sm-6" style="border-radius: 10px;">
                        {{data.status}}
                    </div>
                </div>
            </div>
        </div>
</div>