<div>
<header></header>
<div class="container-fluid" ng-init="getAlert()">
    <div>   
        <a type="button" class="btn glyphicon glyphicon-menu-hamburger add-button pull-right "
          ng-click="hideAddBill(1)" style="height:35px;" 
          ng-if="addView && !detailView"></a>

         <input type="button" 
              class="btn btn-info add-button pull-right " style="padding-top:1px" 
              value="+" ng-click="showAddBill()" ng-if="!addView  && !detailView" />

          <input type="button" 
              class="btn  add-button pull-right " 
              value="x" ng-click="showAddBill()" ng-if="!addView  && detailView" />
    </div> 

    <div>
        <ui-view></ui-view>
    </div>
    
    <div class="row-fluid" ng-init="getAllBillingDetails()" ng-if="!addView">
        <div class="table-header" >
            <div class="row">
                <div class="col-md-3">
                    <form class="form-inline" ng-model="limit" ng-submit="search(str);">
                        <input class="form-control" 
                        type="text" 
                        ng-model="str"  
                        placeholder="Search"
                        ng-change="changeSearch(str)"
                        />
                        <span class="glyphicon glyphicon-search pointer" 
                        style="color:silver;"></span>
                    </form>
                 </div>

              <form name="rep_formm" novalidate>
                <div class="col-md-2">
                <input ui-date-format="dd-mm-yy" ui-date="fromDate" 
                  class=" form-control dateP" 
                  placeholder="From Date (DD-MM-YYYY)" 
                  ng-change="addPiValidated()"
                  name="toDate"  
                  ng-model="newReport.fromDate" style="color:black;" required>
                </div>

                <div class="col-md-2">
                  <input ui-date-format="dd-mm-yy" ui-date="toDate" 
                  class=" form-control dateP" 
                  placeholder="To Date (DD-MM-YYYY)" 
                  ng-change="addPiValidated()"
                  name="toDate"  
                  ng-model="newReport.toDate" style="color:black;" required>
                </div>
                       
                <div class="col-md-2">
                <button class="glyphicon glyphicon-download-alt download" style="border:none; background-color: white;" 
                    ng-click="downloadDisable()" ng-disabled="rep_formm.$invalid"> 
                </button>
                </div>
              </form>
            </div>
        <div class="tablePoint">        
        <table class="table sticky" style="word-wrap: break-word; width=100%; table-layout:fixed; text-overflow:ellipsis;">
            <thead>
                <tr>
                    <th style="width:5%;">#</th>
                    <th style="width:19%;">Customer Name</th>
                    <th style="width:19%;">User Name</th>
                    <th style="width:19%;">Payment Type</th>
                    <th style="width:19%;">Amount Paid </th>
                    <th style="width:19%;">Status</th>
                    <th style="width:19%;">Total amount</th>
                </tr>
            </thead> 
          <tr ng-repeat="(homeBillKey, homeBillValue) in home | orderObjectBy : 'id' : true" 
            ng-click="showById(homeBillValue)">
            
                <td ng-bind="($index+1)+(pagination.perPage * (currentPageNo-1))"> </td>
                <td>
                    <span>{{homeBillValue.customerName}}</span>
                </td>

                <td>
                    <span>{{homeBillValue.userName}}</span>
                </td>

                <td>
                    <span>{{homeBillValue.paymentType}}</span>
                </td>

                <td>
                    <span>{{homeBillValue.amountPaid}}</span>
                </td>

                <td>
                    <span>{{homeBillValue.status}}</span>
                </td>

                <td>
                    <span>{{homeBillValue.totalAmount}}</span>
                </td>
            </tr>
        
        </table>
        </div>

   <!-- Start pagination Code -->
    <div class="container-fluid">
      <div class="row" ng-if="pagination.perPage < pagination.total || !(min(paginate) > pagination.total)">
        <div class="pull-left">
         Showing
         <ui-select ng-model="pagination.perPage" id="pagi" theme="selectize" ng-change="getAllBillingDetails()">
         <ui-select-match>{{$select.selected}} </ui-select-match>
         <ui-select-choices repeat="type in paginate | filter: $select.search">
         <span ng-bind-html="type | highlight: $select.search"></span>
         </ui-select-choices>
         </ui-select> records out of {{pagination.total}}
        </div>
        <div class="btn-toolbar pull-right" role="toolbar" ng-if="pagination.perPage<pagination.total">
          <div class="btn-group" role="group">
            <button type="button"
            class="btn btn-default"
            ng-class="{'active':currentPageNo==pageNo+1}"
            ng-click="setPage(pageNo+1)" 
            ng-repeat="pageNo in [] | range:pagination.lastPage">
            {{pageNo+1}}
            </button>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!(pagination.perPage <  pagination.total || !(min(paginate) > pagination.total))">
    Showing {{pagination.total}} records 
    </div>
    </div>
      <!-- End pagination -->
    </div>
</div>
</div>
</div>
