  <style>
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
        font-family: 'Arial';
      }
  </style>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="row" ng-init="billDtl()" >
    <div class="col-md-2"></div>
    <div class="col-md-8" style="border:1px #CCC solid;">    
    <!-- Main Div -->
        <div id="dvContainer">  
            <div class="col-md-12" style="font-size:15px; border-bottom:1px #CCC solid">
                <center>{{isLoginData.ShopName}}<br> {{isLoginData.streetAddress}}, {{isLoginData.city}}, {{isLoginData.state}} - {{isLoginData.pinCode}}</center>
            </div>    

            <div class="row">
                <div class="col-xs-5">
                    <div>
                        <p>Customer Name:{{data.data.customer.name}}<br>  
                         Contact No:{{data.data.customer.contactNumber}}</p>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-offset-2 text-right">
                    <div>
                        <div>
                            <p>Date: {{data.data.createdAt.date}} <br>Served By: {{data.data.user.name}} <br> Receipt No: {{data.data.id}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table-responsive" border="1" style="margin-bottom:0px;">
                <thead>
                  <tr>
                      <td><b>Drug Name</b></td>
                      <td><b>Expiry Date</b></td>
                      <td><b>Qty</b></td>
                      <td><b>Rate</b></td>
                      <td class="text-right"><b>Amount</b></td>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="value in data.data.BillingItems">
                    <td>{{ value.product.name }}</td>
                    <td>{{value.product.expiry_date}}</td>
                    <td>{{value.quantity}}</td>
                    <!--  -->
                     <td>{{value.perUnit}}</td>
                      <td class="text-right">{{value.quantity*value.perUnit}}</td>
                  </tr>
                 </tbody>
            </table> 
       
            <div class="row text-right" ng-if="data.data.discount">
                <div class="col-xs-2 col-xs-offset-8">
                    Discount :
                </div>
                <div class="col-xs-2">
                    <strong>
                      {{ data.data.discount}}
                    </strong>
                </div>
            </div>

            <div class="row text-right">
                <div class="col-xs-2 col-xs-offset-8">
                    Total :
                </div>
                <div class="col-xs-2">
                    <strong>
                      {{ data.data.totalAmount}}
                    </strong>
                </div>
            </div>
            
            <div class="row text-right">
                <div class="col-xs-2 col-xs-offset-8">
                    paid :
                </div>
                <div class="col-xs-2">
                    <strong>
                      {{ data.data.amountPaid}}
                    </strong>
                </div>
            </div>

            <div class="col-md-12" style="font-size:11px; border-top:1px #CCC solid;">
                <center>Copyright @ BISoft Tech Solution LLP</center>
            </div>
      </div>          
    </div>
    <!-- End Main Div -->
</div>

<div class="row" style="margin-top:1%;">
    <div class="col-md-3"></div>
        <div class="col-md-6" style="font-size:14px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">     
                <a class="btn btn-info" 
                ng-if="data.previousBillDetails[0]"
                href="#/home/print/{{data.previousBillDetails[0]}}" role="button" style="float:right;">Previous</a>
            </div> 
          
            <div class="col-sm-3">
               <center><input type="button" class="btn btn-info" ng-click="btnPrint()" 
                              value="Print" style="width:80px;">
               </center>
            </div>
          
            <div class="col-sm-3">
                <a class="btn btn-info" 
                ng-if="data.nextBillDetails[0]"
                href="#/home/print/{{data.nextBillDetails[0]}}"
                 role="button">Next</a>
            </div>
            <div class="col-sm-1"></div>
        </div>    
    <div class="col-md-3"></div>
</div>   