<br><div class="container-fluid">
    <div ng-init="getAlert()">
        <div class="panel panel-info">
            <div class="panel-heading">Alert</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-if="alert.bill_unpaid.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Bill Unpaid Alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.bill_unpaid.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.bill_unpaid">
                                           <b>{{value.first_name}} {{value.last_name}} has remaining Rs.{{value.totalBillUnpaidAmt}} bill amount.</b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.bill_partial_paid.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Bill Partial Paid Alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.bill_partial_paid.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.bill_partial_paid">
                                         <b>{{value.first_name}} {{value.last_name}} has remaining Rs.{{value.totalBillUnpaidAmt}} bill amount.</b>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.branch_registration_validity.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Branch Registration Validity Alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.branch_registration_validity.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.branch_registration_validity">
                                            <b>
                                            Your Branch {{value.branch_name}} ({{value.registration_number}}) is validity  expired on date {{value.registration_validity}}.
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.branch_shop_act_validity.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Branch shop act validity alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.branch_shop_act_validity.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.branch_shop_act_validity">
                                            <b>
                                            Your shop {{value.branch_name}} ({{value.registration_number}}) is validity  expired on date {{value.registration_validity}}.
                                            </b>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </li>

                    <li class="list-group-item" ng-if="alert.customer_credit_limit_exceed.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Customer credit limit exceed alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.customer_credit_limit_exceed.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.customer_credit_limit_exceed">
                                            <b>
                                            Your shop {{value.branch_name}} ({{value.registration_number}}) is validity  expired on date {{value.registration_validity}}.
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.customer_birthday.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> customer birthday alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.customer_birthday.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.customer_birthday">
                                            <b>
                                            Your shop {{value.branch_name}} ({{value.registration_number}}) is validity  expired on date {{value.registration_validity}}.
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.distributor_credit_period_exceed.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> Distributor credit period exceed alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.distributor_credit_period_exceed.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.distributor_credit_period_exceed">
                                            <b>
                                            {{value.agency_name}} ({{value.agency_number}}) has exceed {{value.credit_period}} days.
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.invoice_unpaid.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> invoice unpaid alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.invoice_unpaid.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.invoice_unpaid">
                                            <b>
                                            invoice date {{value.invoice_date}}
                                            payment type is {{value.payment_type}}
                                            total unpaid amount Rs-
                                            {{value.totalMrp}}/-
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.invoice_partial_paid.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> invoice partial paid alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.invoice_partial_paid.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.invoice_partial_paid">
                                            <b>
                                            invoice date {{value.invoice_date}}
                                            payment type is {{value.payment_type}}
                                            total unpaid amount Rs-
                                            {{value.totalMrp}}/-
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.stock_product_expires.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> stock product expires alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.stock_product_expires.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.stock_product_expires">
                                            <b>
                                          product {{value.name}} with dosage has expired on {{value.expiry_date}} 
                                          with quantity -{{value.quantity}} 
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.stock_product_out_of_stock.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> product out of stock alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.stock_product_out_of_stock.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.stock_product_out_of_stock">
                                            <b>
                                          product {{value.name}} with dosage has expired on {{value.expiry_date}} 
                                          with quantity -{{value.quantity}} 
                                            </b>
                                    </div>
                                
                                </div>
                            </div>
                        </div>    
                    </li>
                    
                    <li class="list-group-item" ng-if="alert.stock_product_low_quantity.length > 0">
                        <a href="#/admin/alertNotification" ng-click="showDetails = ! showDetails">
                            <div class="row">
                                <div class="col-md-11">
                                    <span> product low quantity stock alert</span>
                                </div>
                                <div class="col-md-1">
                                    <span class="badge" style="float:right">{{ alert.stock_product_low_quantity.length}}</span>
                                </div>
                            </div>
                        </a>

                         <div class="procedure-details" ng-show="showDetails" style="margin-top:2%;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="value in alert.stock_product_low_quantity">
                                            <b>
                                          product {{value.name}} with dosage has expired on {{value.expiry_date}} 
                                          with quantity -{{value.quantity}} 
                                            </b>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>